<ion-view hide-nav-bar="true" class="project-details">
  

    <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Add Bugs</h1>
        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>
     

     <ion-content>
    <div class="project-details-content" style="margin-top: 15px !important;">
    <textarea placeholder="Description" class="no-resize"></textarea>
        <ion-col class="col">
                      <div class="for-align align-right">
                        <h4>
                          <a>
                            <span class="pic_lable" ng-click="loadImage('logo')">Upload Logo</span>
                            <span ng-if="showEyeForLogoImage!=null" ng-click="showImage('2')"><ion-icon class="icon ion-md-eye"></ion-icon></span>
                          </a>
                          <div class="profile-img">
                            <!-- <img ng-src="{{pathForImage(image,websiteLogoImage)}}"> -->
                          </div>
                        </h4>
                      </div>
                      <script id="image-modal.html" type="text/ng-template">
                        <div class="modal image-modal transparent" ng-click="closeModal()">
                          <ion-pane class="transparent"><img ng-src="{{imageSrc}}" class="fullscreen-image"/></ion-pane>
                        </div>
                      </script>
                    </ion-col>

                    <input type="file" id="file1" name="file" multiple 
            ng-files="getTheFiles($files)" required />
        <input type="button" ng-click="uploadFiles()" value="Upload" />

    </div>
  </ion-content>

          
</ion-view>
