<ion-view hide-nav-bar="true" class="addInvoices" ng-init="initialize()">
  
      <!-- topbar start here -->
    <div class="bar bar-header bar-light">
        <div class="row">
          <div class="col box col-30 for-btn-log align-left">
            <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="messages"><span class="fontfem btn-back">Back</span></a>
          </div>
          <div class="col box col-70 align-center">
            <h1 class="title">Invoices</h1>
          </div>    
          <div class="col box col-20 for-btn-msg align-right">        
          </div>      
        </div>        
    </div>
    <ion-content>
    <center>
    
    <div class="col col-80 custom-add-msg">
      <!-- <custom-list></custom-list> -->
      <form name="regForm">
        <div class="list">
          <div class="col">
            <div class="info_center_main for-font-weight">
             
               <div class="fieldset">
                <div class="custom-lable-height">
                  <select ng-model="invoice.project" required="required" ng-change="">
                    <option value="" selected>Select project</option>
                    <option ng-repeat="row in project" value="{{row.id}}">{{row.project_name}}</option>
                  </select>
                </div>
              </div>

              <div class="fieldset">
                <input type="text" class="form-control" ng-model="invoice.subject" placeholder="Item name">
              </div>
              <div class="assertive">{{invalidSubjectMessage}}</div>
              <div class="fieldset">
                <textarea class="custom-msg-textarea" name="message" class="form-control txt_textarea" ng-model="invoice.message" placeholder="Message"></textarea>
              </div>
              <div class="assertive">{{invalidMessageMessage}}</div>
              <div class="fieldset">
                <input type="hidden" ng-model="invoice.projectid" value="">
                <br/>
                <button class="btn medium-btn" type="button" ng-click="addInvoices()" ng-disabled="false">Add</button>
              </div>              
            </div>
          </div>
        </div>
        </form>
      </div>
    </center>
  </ion-content>
</ion-view>
