<ion-view hide-nav-bar="true" class="project-details">
  

    <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Cashout History</h1>

        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>
  <ion-content>

    <div class="project-details-content">
     <table class="for-table">
      <tr>
      <th>Username</th>
      <th>Requested Date</th>
      <th>Requested Amount</th>
      <th>Status</th>
      <th ng-if="user_type == 'admin' || user_type =='super_admin'">Action</th>
    </tr>
  <tr ng-repeat="items in Cashout_history">
     <td>{{items.firstname}} {{items.lastname}}</td>
     <td>{{items.request_date}}</td>
     <td>{{items.requested_amount}}</td>
     <td>{{items.status}}</td>
     <td ng-if="user_type == 'admin' || user_type =='super_admin' && items.status !='completed'" >
      <button type="button"  style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size" ng-click="accept_cashout({{items.id}})">Accept</button</td>
      <td ng-if="user_type == 'admin' || user_type =='super_admin' && items.status =='completed'" >Accepted</td> 
     <!-- <td ><a href="#/invoiceDetail/{{items.invoice_id}}" class="icon ion-eye"></a></td> -->
  </tr>
</table>
    </div>
    

  </ion-content>

          
</ion-view>
