<ion-view hide-nav-bar="true" class="project-details">
  

    <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Credits History</h1>

        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>
  <ion-content>
  <center class="for-zIndex">
      <div class="custom-add-task">
        <button type="button" class="btn medium-btn pink new-btn-size" ng-click="credit_request()">Cashout Request</button>
        <button type="button" class="btn medium-btn pink new-btn-size" ng-click="all_request()">ALL Request</button>
      </div>
    </center>
    <div class="project-details-content for-uperPad">
     <table class="for-table">
      <tr>
      <th>Username</th>
      <th>Invoice Amount</th>
      <th>Invoice Paid</th>
      <th>Get Credit</th>
      <th>Use Credit</th>
      <th>Action</th>
    </tr>
  <tr ng-repeat="items in credits_history">
     <td>{{items.firstname}} {{items.lastname}}</td>
     <td>{{items.invoice_total}}</td>
     <td>{{items.invoice_paid}}</td>
     <td>{{items.discount_credit}}</td>
     <td>{{items.use_credit}}</td>
     <td ><a href="#/invoiceDetail/{{items.invoice_id}}" class="icon ion-eye"></a></td>
  </tr>
</table>
    </div>
    

  </ion-content>

          
</ion-view>
