<ion-view hide-nav-bar="true" class="document-detail">

      <!-- topbar start here -->
    <div class="bar bar-header bar-light">
		<div class="row">
			<div class="col box col-30">
				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
			</div>
			
			<div class="col box col-50">
				<h1 class="title">Document Sign</h1>
			</div>
			<div class="col box col-20">
			
			</div>
		</div>
    </div>
	<!--   <ion-content>	
		header ends here
   </ion-content> -->


   
	 	<center>

	 <!-- <div class="invoice-details" style="margin-top: 100px;">
		<div class="modal-header">
</div>
<div class="modal-body">
	<div >
		<div style="background:#cccccc"><h3>Please Sign Here</h3></div>
		<div style="background:red"> -->
		
		



<!--		<div id="signature-pad" class="signature-pad">
				<div class="signature-pad--body" style="height:200px;">
						<canvas style="border:1px solid;width: 92%;"  drawing id="canvas"></canvas>
				</div>
				<div class="signature-pad--footer">
					<div class="description">Sign above</div>
				</div>
			</div>
	</div> -->
	

	<div id="signature-pad" class="signature-pad">
		<div class="signature-pad--body">
		  <canvas id="testingabc"  style="height:288px;"></canvas>
		</div>
		<div class="signature-pad--footer">
		  <strong class="description">Sign above</strong>
	
		</div>
		<br>
		<strong ng-if="documentChecklists2 !=''">Checklist</strong>
			<br><br>
			<table>
			 <tr ng-repeat="item in Allcheck">
			 	
			 	 <td ng-if="item.is_required == 'yes'"> <input  type="checkbox" ng-model="bool"  ng-change="checklist('{{item.id}}');isChecked('{{item.id}}',bool)" class="forReq"><span class="make-stable">{{item.name}}</span></td>
			 	 <td ng-if="item.is_required == 'no'"> <input  type="checkbox" ng-model="bool"  ng-change="checklist('{{item.id}}');isChecked('{{item.id}}',bool)" ><span class="make-stable">{{item.name}}</span></td>
			    
			 </tr>	
			</table>
		
	  </div>




</div>
</div>
<div class="modal-footer" style="padding-top: 101px;display: inline-block;">
    <button class="btn btn-default" style="padding: 8px 15px !important;" ng-click="clear()">Clear signature</button>
    <button class="btn btn-primary" style="padding: 8px 15px !important;" ng-click="signDocument()">Submitt</button>
</div>
      <div id="image_for_crop"></div>

	</div>
		</center>
	
</ion-view>


