<ion-view hide-nav-bar="true" class="document-detail">
  
      <!-- topbar start here -->
    <div class="bar bar-header bar-light">
		<div class="row">
			<div class="col box col-30">
				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
			</div>
			
			<div class="col box col-50">
				<h1 class="title">Document Detail</h1>
			</div>
			<div class="col box col-20">
			
			</div>
		</div>
    </div>
    <ion-content>
		<center ng-if="showDetail == 1;">
			<div class="col-90 custom-doc-detail"><div ng-bind-html="documentDetail"></div></div>
		</center>
		<!-- header ends here -->
   </ion-content>

    <ion-content>
    <div class="project-details-content">
    	<div ng-if="documentRow.document.title != null">
		    <div style="padding-top:100px; text-align:center;">
				<p>{{documentRow.document.title}}</p>
			</div>
			</div>
			<div ng-if="documentRow.document.description != null">
			<div style="padding-top:10px; text-align:center;">
				<p ng-bind-html="documentRow.document.description"></p>
			</div>
			</div>
			<div ng-if="documentRow.document.created_date != null">
			<div style="padding-top:1px; text-align:center;">
				<p>{{documentRow.document.created_date}}</p>
			</div>
			</div>	
			<div ng-if="documentRow.document.admin_sign != null">
			<div  style="padding-top:1px; text-align:center;">
				<label class="label-sign ">Admin Sighn</label>
				<img class="center-fix" data-ng-src="{{picture_admin}}" />
			</div>
		</div>
	

		<div ng-if="documentRow.document.client_sign != null">
			<div style="padding-top:1px; text-align:center;">
				<label class="label-sign">Client Sighn</label>
				<img class="center-fix" data-ng-src="{{picture_client}}" />
				
			</div>
		</div >
		<center>
			<strong ng-if="documentChecklists2 !=''">Checklist</strong>
			<br><br>
			<table>
			 <tr ng-repeat="item in documentChecklists2">
			 	
			 	 <td ng-if="item.doc_sign_status == '1'"> <input  type="checkbox" ng-disabled="true" ng-model="check" ng-checked="true" ng-change="checklist('{{item.id}}')"><span class="make-stable">{{item.name}}</span></td>
			     <td ng-if="item.doc_sign_status == '0'"> <input  type="checkbox" ng-disabled="true" ng-model="check" ng-change="checklist('{{item.id}}')"><span class="make-stable">{{item.name}}</span></td>
			 </tr>	
			</table>
		<!-- <div ng-repeat="item in documentChecklists2" class="for-leftcheck">
        
         
		</div> -->

		</center>	
    </div>
   </ion-content>
	 	<center>

	  <div class="invoice-details">
			<div class="showTotal" ng-if="documentRow">
				<div class="row">
				
					
						<div ng-if="documentRow.document.send_to_client ==0">
							<div class="col box col-33" style="max-width:100%">
							<button type="button" class="btn medium-btn new-btn-size " style="margin-bottom: 5px;" ng-click="sendToClient({{documentRow.document.id}})">Send To Client</button>
						</div>				
					</div>
					<!-- <div class="col box col-33"> -->
						<!-- <div ng-if="(documentRow.document.user_id==documentRow.login_user_id && documentRow.document.created_by_signed==0) || (documentRow.document.customer_id==documentRow.login_user_id && documentRow.document.assigned_to_signed==0)">
							<button type="button" class="btn medium-btn new-btn-size" ng-click="signDocument()">Sign Document</button>
						</div> -->
						<div ng-if="userType =='super_admin'">
						<div ng-if="documentRow.document.type !='NDA'">
							<div ng-if="documentRow.document.admin_sign == null">
						<div class="col box col-33"style="max-width:100%">
						<button type="button" class="btn medium-btn new-btn-size " ng-click="forsignDocument()">Sign Document</button>
						</div>
					</div>
					    </div>
					</div>
				<!-- by me	<div ng-if="userType =='client'"> -->
						<div ng-if="documentRow.document.type !='NDA'">
							<!--by me <div ng-if="documentRow.document.client_sign == null"> -->
						<div class="col box col-33 ">
						<button type="button" class="btn medium-btn new-btn-size" ng-click="forsignDocument()">Sign Document</button>
						</div>
					<!--  by me</div> -->
					</div>
					<!-- by me </div> -->
					<!-- 	<div class="col box col-33 for-left-align"style="max-width:25%">
						<button type="button" class="btn medium-btn new-btn-size for-size-one" ng-click="verify()">Verify</button>
					</div> -->
					<div class="col box col-33 for-left-align"style="max-width:25%">
							<button type="button" class="btn medium-btn new-btn-size for-size-one" ng-click="history()">History</button>
					</div>
				<!-- </div>	 -->			
			</div>
		</div>
		</center>
	
</ion-view>
