<ion-view view-title="Projects" hide-nav-bar="true">
	<div class="bar bar-header bar-light">
		<div class="row">
			<div class="col box col-30 for-btn-log align-left">
				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" href = "#/sociallogin/{{projectid}}">
					<span class="fontfem btn-back">Back</span>
				</a>
			</div>
			
			<div class="col box col-70 align-center">
				<h1 class="title">Instagram</h1>
			</div>
		</div>
	</div>
	<ion-content class="custom-ion-content custome PostList-wrapper	">
		
		<div class="spin" ng-if="!userData||!InstagramPost">
			<ion-spinner></ion-spinner>
		</div>
		<div class="card-background-page" ng-if="userData">
			<div class="item card user-insta-info" style="text-align: center">
				<img src="{{userData.data.profile_picture}}" />
				<div class="card-title">{{userData.data.full_name}}</div>
				<div class="card-subtitle">
					<div class="button-bar">
						<a class="btn small-btn">
							media
							<br/>{{userData.data.counts.media}}
						</a>
						<a class="btn small-btn">
							followers <br/>{{userData.data.counts.followed_by}}
						</a>
						<a class="btn small-btn">
							follows <br/>{{userData.data.counts.follows}}
						</a>
						
					</div>
					
				</div>
			</div>
			<div class="PostList InstagramPost" ng-repeat="post in InstagramPost">
				<div class="list card">
					<div class="item item-avatar heading">
						<img src="{{userData.data.profile_picture}}">
						<h2>{{userData.data.full_name}}</h2>
						<p>{{post.created_time|date}}</p>
					</div>
					
					<div class="item item-body">
						<img src="{{post.images.standard_resolution.url}}">
						<p style="text-align: center">{{post.caption.text}}</p>
						<div class="btns">
							<a href="javascript:void(0)" class="btn small-btn subdued positive" ng-click="fnSetMediaLike(post,postIndex)">
								{{post.likes.count}} Like
							</a>
							<a href="javascript:void(0)" class="btn small-btn subdued positive" ng-click="fnGetCommentList(post)">
								{{post.comments.count}} Comment
							</a>
							
						</div>
					</div>
					<div class="item item-avatar heading">
						<img src="{{userData.data.profile_picture}}">
						<h2>{{userData.data.full_name}}</h2>
						<p>{{post.created_time|date}}</p>
						<div class="write-comment">
							<input type="text" placeholder="Enter a Comment" id="{{post.id}}" ng-model="post.placeCmt">
							<a class="btn cmtBTN" style=""
							ng-click="fnPlaceComment(post,post.id)" ng-if="!showLoder">
								<i class="fa fa-paper-plane"></i>
							</a>
							<a class="button button-small button-positive button-outline cmtBTN" style="line-height: 1!important;line-height: 1 !important;float: right;margin-top: 5px; margin-right: 10px;"
							disabled ng-if="showLoder">
								<ion-spinner name="bubbles"></ion-spinner>
							</a>
						</div>
				
					</div>
				</div>
				<div class="list card" ng-if="post.comment">
					<p>1111111</p>
					<textarea>{{ccc}}</textarea>
					<div class="item item-avatar" ng-repeat=" comment in post.comment">
						<p>1111111</p>
						{{comment}}
						<img src="{{ comment.from.profile_picture }}">
						
						<h2>{{ comment.from.full_name }}
							<br />{{ comment.created_time*1000 | date }}</h2>
						<p>{{ comment.text }}</p>
					</div>
						
				</div>
			<!-- <div class="item card">
				<div class="item item-avatar">
					<img src="{{userData.data.profile_picture}}">
					<h2>{{userData.data.full_name}}</h2>
					<p>
						<input type="text" placeholder="Enter a comment" ng-model="post.placeCmt">
						<a href="javascript:void(0)" ng-click="fnPlaceComment(post,post.id)" class="subdued button button-positive button-small button-outlined cmtBTN"
						ng-if="!showLoder">
						Go
					</a>
					<a class="subdued" ng-if="showLoder">
						<ion-spinner name="bubbles"></ion-spinner>
					</a>
				</p>
			</div>
			<div class="item item-avatar">
				<img src="{{ comment.from.profile_picture }}">
				<h2>{{ comment.from.full_name }}
					<br/>{{ comment.created_time*1000 | date }}</h3>
					<p>{{ comment.text }}</p>
					
				</div>
				
				<ion-list *ngIf="post.comment">
					<ion-item *ngFor="let comment of post.comment">
						<ion-avatar item-start>
							<img src="{{ comment.from.profile_picture }}">
						</ion-avatar>
						<h2>{{ comment.from.full_name }}</h2>
						<h3>{{ comment.created_time*1000 | date }}</h3>
						<p>{{ comment.text }}</p>
					</ion-item>
				</ion-list>
			</div> -->
		</div>
	</ion-content>
</ion-view>