<ion-view view-title="Projects" hide-nav-bar="true">
        <div class="bar bar-header bar-light">
                <div class="row">
                        <div class="col box col-30 for-btn-log align-left">
                                <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" href="#/sociallogin/{{projectid}}">
                                        <span class="fontfem btn-back">Back</span>
                                </a>
                        </div>
                        <div class="col box col-70 align-center">
                                <h1 class="title"> LinkedIn </h1>
                        </div>
                </div>
        </div>
        <ion-content class="custom-ion-content twitter linkedin">
                <div class="item" ng-if="accName && accName.length>0">
                        <select ng-model="pages" ng-change='getPageData()' id="dopdown" style="margin: 0 auto;">
                             <!--   <option value="timeline" selected> Timeline </option> -->
                             <option value="" selected> Please Select Page </option>
                                <option ng-repeat="acc in accName" value="{{accName.indexOf(acc)}}">
                                        {{ acc.name }}
                                </option>
                        </select>
                </div>
                <div class="spin" ng-if="posts==undefined && flag != 0" style="text-align: center; margin-top:15px;">
                        <ion-spinner></ion-spinner>
                </div>
                <div ng-if="checkss != 'asad'">
                       <p style="text-align:center;padding-top:20px;">Please Select Page</p>

                </div>
                <div ng-if="flag==1">
                        <div style="text-align:center;padding-top:20px;" ng-if="connections != ' '">
                        <p> {{connections}}</p>
                        <p>Your Connections</p>
                        </div>
                        <div class="PostList" ng-repeat="post in posts">
                                <div class="list card">

                                        <div class="item item-avatar">
                                                <img src="{{userData.pictureUrl}}">
                                                <h2>{{userData.formattedName}}</h2>
                                                <p>{{userData.emailAddress}}</p>
                                        </div>

                                        <div class="item item-body">
                                                <img src="{{post.updateContent.companyStatusUpdate.share.content.submittedImageUrl}}">
                                                <p>
                                                        {{ post.updateContent.companyStatusUpdate.share.comment }}
                                                </p>
                                                <p>
                                                        <a href="javascript:void(0)" class="subdued" ng-click="likes(post)">
                                                                <i class="icon ion-thumbsup"></i> {{post.likes._total}} Like
                                                        </a>
                                                        <a href="javascript:void(0)" class="subdued" ng-click="post.showCmt = !post.showCmt">
                                                                <i class="icon ion-android-textsms"></i>
                                                                {{post.updateComments._total}} Comment
                                                        </a>
                                                </p>
                                        </div>
                                        <div class="item item-avatar" ng-if="flag==1">
                                                <img src="{{ userData.pictureUrl}}">
                                                <h2>{{userData.formattedName}}</h2>
                                                <input type="text" placeholder="Enter a Comment" id="{{post.id}}" ng-model="post.placeCmt" style="width: 80%">
                                                <button class="button button-small button-clear button-positive button-outline cmtBTN linkedinGoBtn" ng-click="fnPlaceComment(post)"
                                                        ng-if="!showLoder">Go</button>
                                                <button class="button button-small button-clear button-positive button-outline cmtBTN linkedinGoBtn" ng-if="showLoder" disabled>
                                                        <ion-spinner name="bubbles"></ion-spinner>
                                                </button>
                                        </div>
                                        <div ng-if="post.updateComments&&post.showCmt">
                                                <div class="item item-avatar" ng-repeat="comment in post.updateComments.values">
                                                        <img src="{{userData.pictureUrl}}">
                                                        <h2>{{comment.company.name}}
                                                                <br> {{ comment.timestamp | date }}</h2>

                                                        <p>{{ comment.comment }}</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </ion-content>
</ion-view>