<ion-view hide-nav-bar="true" class="messageDetails">
  
    <!-- topbar start here -->
	<div class="bar bar-header bar-light">
		<div class="row">
			<div class="col box col-30 align-left">
				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
			</div>
			
			<div class="col box col-50">
				<h1 class="title">Message Detail</h1>
			</div>
			
			<div class="col box col-20">
			
			</div>
		</div>
	</div>
	<ion-content class="custom-tab-tasks itemList">
		<div ng-if="showDetail == 1;">
		
		<h3 class="email"><div ng-bind-html="messageDetail.subject"></div></h3>
		<div class="projectdetail"><div ng-bind-html="messageDetail.text"></div></div>

	    <center ng-if="messageDetail.id>0">
	    <span class="email" >{{messageDetail.message}}</span>
	  <div ng-if = "messageDetail.sender_userid != idofuser">
	   	
	      <span class="custom-msg-detail" ng-click="messageReply({{messageDetail.id}},'{{messageDetail.subject}}')"><i class="icon ion-reply"></i>  Reply</span>
	 </div>
	    </center>
		<!-- header ends here -->
		</div>
   </ion-content>
</ion-view>