<ion-view hide-nav-bar="true" class="pay-now">
  
      <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Pay Invoice</h1>
        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>
    <ion-content>
    <center>
      <div class="project-details-content">
        <div class="col col-80">        
          <form name="regForm">
            <div class="list">
              <div class="col">
                <div class="info_center_main ">
                  <div class="projectPrice">Remaining Credits:{{creditss}}</div>
                  <div class="projectPrice">{{invoiceDetail.total_price}}</div>
                <div ng-if="creditss > 0">
                <h3>You want to use previous redits or not?</h3>
                  <div class="fieldset">
                    <input type="radio" class="form-control1" ng-model="previouscredits" name="previouscredits" value="yes" required="required">Yes<br>
                    <input type="radio" class="form-control1" ng-model="previouscredits" name="previouscredits" value="no" required="required">No
                  </div>
                </div>

                  <h3>Enter Card Details</h3>
                  <div class="fieldset">
                    <input type="text" class="form-control1" ng-model="invoice.number" required="required" placeholder="Card Number">
                  </div>
                <!--   <div class="fieldset">
                    <input type="text" class="form-control" ng-model="invoice.expiration" required="required" placeholder="Expiration MM/YYYY">
                  </div> -->
                  <div class="fieldset">
                    <select class=" form-control form-control1 select-month slct-month-mrgn" ng-model="invoice.month" required="required">
                      <option value="" selected>Select Month</option>
                      <option value="01">January</option>
                      <option value="02">Febrary</option>
                      <option value="03">March</option>
                      <option value="04">April</option>
                      <option value="05">May</option>
                      <option value="06">June</option>
                      <option value="07">July</option>
                      <option value="08">Augest</option>
                      <option value="09">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>
                  <div class="fieldset">
                    <select ng-model="invoice.year" class="select-year form-control1">
                    <option value="" selected>Select Year</option>
                    <option ng-repeat="row in years" value="{{row}}">{{row}}</option>
                    </select>
                    </div>
    			        <div class="fieldset">
                    <input type="text" class="form-control1" ng-model="invoice.ccv" required="required" placeholder="CCV">
                  </div>
                  
                  <div class="fieldset">
                    <input type="hidden" ng-model="invoice.id" value="{{invoice.id}}">
    			         <button class="btn btn-medium for-pay" type="button" ng-click="payInvoice()" ng-disabled="false">Pay</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </center>
    
    
  </ion-content>
</ion-view>