<ion-view view-title="Projects" hide-nav-bar="true"> 
  <div class="bar bar-header bar-light">
		<div class="row">
			<div class="col box col-30">
				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-href="#/projectDetail/{{projectid}}"><span class="fontfem btn-back">Back</span></a>
			</div>
			
			<div class="col box col-50">
				<h1 class="title">Project Tasks</h1>
			</div>
			
			<div class="col box col-20">
			
			</div>
		</div>
  </div>
  <div class="tabs-striped tabs-top  tabs-color-dark">
    <div class="tabs"> 
      <a class="tab-item {{pending}}" id="pending_tab" ng-click="getTasks()"> Pending </a>
      <a class="tab-item {{completed}}" id="completed_tab" ng-click="getCompleteTasks()"> Complete </a>
      <a class="tab-item btn-plus add-icon pull-right add-btn-new" style="height: 35px;" ng-click="addTask()"> Add </a>
    </div>
  </div>
  <ion-content class="custom-tab-tasks">
    <ion-list>
      <ion-item ng-repeat="task in tasksList"  ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getTaskDetail({{task.id}})">
        <h3 class="email">
          {{task.title}}
        </h3><span></span>
        <h3 class="name">{{task.description| limitTo:50}}</h3>
        <h3 class="name">Due: {{task.due_date | date:'dd/MM/yy'}}</h3>
      </ion-item>
    </ion-list>
    <div ng-if="tasksList.length==0" class="custom-data-found"></div>
  </ion-content>
</ion-view>