<ion-view hide-nav-bar="true" class="project-details">
  

    <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Project Bugs</h1>
        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>
     
<!--   <ion-content class="zac" scroll="false"> -->
  <ion-content>
  <center class="for-zIndex">
      <div class="custom-add-task">
        <button type="button" class="btn medium-btn pink new-btn-size" ng-click="add_bugs()">Add Bug</button>
       
      </div>
    </center>
  <!--    </ion-content>
     <ion-content scroll="true"> -->
    <div class="project-details-content" style="margin-top: 15px !important;">
     <table class="for-table">
      <tr>
      <th>Project Name</th>
      <th>Description</th>
      <th>Bug File</th>
      <th>Date</th>
    </tr>
  <tr ng-repeat="items in project_bugs">
     <td>{{items.project_name}}</td>
     <td>{{items.description}}</td>
     <td><button type="button"  style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size" ng-click="showfile('{{items.bug_file}}')">View</button</td>
     <td>{{items.date}}</td>
   
     <!-- <td ><a href="#/invoiceDetail/{{items.invoice_id}}" class="icon ion-eye"></a></td> -->
  </tr>
</table>
    </div>
    
<script id="image-modal.html" type="text/ng-template">
                        <div class="modal image-modal transparent">
                        <button type="button"  style="margin-left: 40%;width: 90px;margin-top: 20px;margin-bottom: 10px;" class="btn medium-btn new-btn-size" ng-click="closeModal()">Close</button
                          <ion-pane class="transparent">
                          <div ng-if="noo">
                     
                          <img ng-repeat="elem in imageType" ng-src="{{urltoimage}}{{elem}}" ng-click="showfullimage('{{elem}}')" style="max-width:26% !important" class="fullscreen-image"/>
                          <div ng-repeat="elem2 in docType">
                          <p style="text-align: center;" ng-click="getcontent_txfile('{{elem2}}')"><span class="icon ion-document"></span>  {{elem2}}</p>
                          </div>
                          <div ng-repeat="elem3 in videoType">
                          <p style="text-align: center;" ng-click="playvideo('{{elem3}}')"><span class="icon ion-movie"></span>  {{elem3}}</p>
                          </div>
                          </div>
                          </ion-pane>
                          <div ng-if="content_ofFile">
                          <h5 style="text-align: center;">File Content</h5>
                           <div  style="border: 1px solid;margin-top: 88px;">{{content_ofFile}}</div></div>

                           <div ng-if="yesplay">
                           <div ng-if="player">
                           <div id="as" [innerHTML]="player">
                         
                           </div>
                           </div>
                           </div>

                          <img  ng-if="showing" ng-src="{{urltoimage}}{{nowshowingimage}}" ng-click="closeModal()" class="fullscreen-image"/></ion-pane>
                        </div>
                      </div>
                  </script>


                   
  </ion-content>

          
</ion-view>
