<ion-view view-title="Projects" hide-nav-bar="true"> 
  <div class="bar bar-header bar-light">
		<div class="row">
			<div class="col box col-30 for-btn-log align-left">
				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-href="#/projectDetail/{{projectid}}"><span class="fontfem btn-back">Back</span></a>
			</div>
			
			<div class="col box col-50">
				<h1 class="title">Project Invoices</h1>
			</div>
			
			<div class="col box col-20">
			
			</div>
		</div>
  </div>
  <div class="tabs-striped tabs-top  tabs-color-dark">
    <div class="tabs"> 
      <a class="tab-item {{pending}}" ng-click="getInvoices()"> Pending </a> 
      <a class="tab-item {{completed}}" ng-click="getCompleteInvoices()"> Complete </a>
    </div>
  </div>
  <ion-content class="custom-tab-tasks itemList">
      <ion-list>
        <ion-item ng-repeat="invoice in invoicesList"  ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getInoviceDetail({{invoice.id}})">
          <div class = "row no-padding">
            <div class="col box col-80 no-padding">
              <h3 class="email" ng-show="{{invoice.invoice_name}}">
                {{invoice.invoice_name}}
              </h3>
              <span class="projectdetail" ng-show="{{invoice.description}}">{{invoice.description| limitTo:50}}</span>
              <span class="price" ng-show="{{invoice.total_price}}">{{invoice.total_price}}</span>
              <span class="date" ng-show="{{invoice.due_date}}">Due: {{invoice.due_date | date:'dd/MM/yy'}}</span>
            </div>
            <div class="col box col-20 align-right no-padding">
              <a class="button button-icon md-icon for-btn-money align-middle"><span class="dots big yellow grey black"></span></a>              
            </div>
          </div>
        </ion-item>
      </ion-list>
      <div ng-if="invoicesList.length==0" class="custom-data-found"></div>
  </ion-content>
</ion-view>