<ion-view view-title="Projects" hide-nav-bar="true" class="quote-page-wrapper"> 
  
  
  <div class="bar bar-header bar-light">
    <div class="row">
      <div class="col box col-30 for-btn-log align-left">     
        <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="back()"><span class="fontfem btn-back">Back</span></a>
      </div>
      
      <div class="col box col-70 align-center">
        <h1 class="title">Quotes Request</h1>
      </div>    
      
    </div>
  </div>
  <ion-content class="custom-ion-content " scroll="false">
    <!--    <ion-list>
    -->              
    <div class="custom-lable-height change-for-width1 making-pos-scroll">
      <select ng-model="user.services" required="required" ng-change="get_against_services() " style="padding:5px 20px 5px !important;">
        <!-- <option value="" selected>Select Status</option> -->
        <option value="" selected>Select Services</option>
        
        <option ng-repeat="services in services" value="{{services.id}}">{{services.name}}</option>
      </select>
    </div>
    
    
    <div class="custom-lable-height change-for-width1 making-pos-scroll">
      <select ng-model="user.packages" required="required" ng-change="get_packages_item()" style="padding:5px 20px 5px !important;">
        <!-- <option value="" selected>Select Status</option> -->
        <option value="" selected>Select Packages</option>
        <option ng-repeat="packages in packages"    value="{{packages.items_id}}">{{packages.name}}</option>
      </select>
    </div>
    
    
    
    <div class="for-div-one making-pos-scroll" style="">
      <!--     <span class="span-one"> ${{alltotals}} to ${{to}} </span> -->
      <span class="span-one" ng-if="to > asadcounter"> ${{asadcounter}} to ${{to}} </span> 
      <span class="span-one" ng-if="to < asadcounter"> ${{to}} to ${{asadcounter}} </span> 
      <span class="span-one" ng-if="to == asadcounter"> ${{to}} to ${{asadcounter}} </span> 
      <button type="button" class="for-div1-btn" style="margin-left: 0;width: 103px;" class="btn medium-btn new-btn-size" ng-click="request_quote()">Request Quote</button>
    </div>
      <!--  <input type="text" class="form-control for-middle-size" ng-model="user.name" placeholder="Name">
        <input type="text" class="form-control for-middle-size-one" ng-model="user.email" placeholder="Email">
        
        <input type="text" class="form-control for-middle-size-two" ng-model="user.phone" placeholder="Phone"> -->
  </ion-content>                 
      <ion-content class="custom-ion-content for-uper-change">
        <div ng-repeat="list in data">
          <div ng-repeat="group in list.group">           
            
            <ion-item class="item-stable"
            ng-click="toggleGroup(group)"
            ng-class="{active: isGroupShown(group)}">
              <div class>
                <i class="icon custom-icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'" ></i>
                &nbsp;
                {{group.name}} 
              </div>
              <div ng-repeat="s in selectedItem" class="one-check">
                <div ng-if="s.g_id == group.id">
                  {{s.val}}
                </div>
              </div>
            
            <!-- <div ng-if="group.id== tex_groupid" class="one-check">
              {{tex}}</div>
              <div ng-if="group.type=='radio' && group.id== R_groupid" class="one-check">
                {{rad}}</div> -->
              </ion-item>         
              
              <!--            <div ng-if="group.type=='textbox'">  -->
                
                
                <div ng-repeat="item in group.items">                    
                  <div ng-if="item.typeid == 1" >
                    
                    <div ng-if="item.dependent == 0" >
                      <div ng-if="item.radioposition != 'newline'" >
                        <ion-item class="item-accordion"
                        ng-show="isGroupShown(group)">
                        
                        <div  class="alighnment-radio"  ng-repeat="i in item.duration">
                          <!-- {{$index}} -->
                          <!--  <div ng-if="$index == 0">
                            <input type="radio"  ng-click="three_month(i.period);change_view(group.id,i.period)" id="bool_'{{item.id}}'" name="{{item.group_id}}" ng-model="bool" ng-checked="true"  ng-change="isChecked(item.id)"> 
                            {{i.period}}
                          </div> -->
                          <!--    <div ng-if="$index != 0"> -->
                            <input type="radio" class="un-input-element" ng-click="three_month(i.period); change_view(group.id,i.period)" id="radio_{{item.id}}" name="{{item.group_id}}" > 
                            {{i.period}}
                            <!--  </div>  -->
                          </div>
                        </ion-item>                          
                      </div>
                    </div>
                  </div>
                  
                  
                  <div ng-if="item.typeid == 1" >
                    <div ng-if="item.dependent == 0" >
                      <div ng-if="item.radioposition == 'newline'" >
                        <ion-item class="item-accordion"
                        ng-show="isGroupShown(group)">
                        <div class="alighnment-radio alighnment-radio-newline"  ng-repeat="i in item.duration">
                          <div ng-if="i.havequantity == 'yes'">
                            <div class="for-handle">
                              <!--  <input type="radio"  ng-click="three_month(i.period);change_view_nondependent(i.period);changetotext('text_{{item.id}}')" id="radio_{{item.id}}" name="{{item.group_id}}" ng-model="bool"  ng-change="isChecked(item.id)"> -->
                              <input type="radio" class="un-input-element"  ng-click="three_month(i.period);change_view_nondependent(i.period);changetotext('text_{{item.id}}')" id="radio_{{item.id}}" name="{{item.group_id}}"> 
                            </div>
                            <input  type="text" class="form-control for-size-change alighn-class change-desighn2" ng-change="sync2(bool, item,item.group_id,group.name)" id="text_{{item.id}}"  ng-checked="isChecked(item.id)" ng-model="bolls"  readonly="true"   allow-numbers-only> 
                            <span class="span-class set-width change-desighn3" id="{{item.id}}">   {{i.period}} </span> 
                          </div>
                        </div>
                      </ion-item> 
                      
                      
                      <!--   <ion-item class="item-accordion"
                        ng-show="isGroupShown(group)">
                        
                        <input type="radio" class="proper-form change-desighn1" ng-click="sync3(bool, item)" id="radio_{{item.id}}" name="asd" ng-model="bool" ng-checked="isChecked(item.id)">
                        <input ng-if="item.ratehavequantity == 'yes'" type="text" class="form-control for-size-change alighn-class change-desighn2" ng-change="sync2(bool, item,item.group_id)" id="text_{{item.id}}" ng-model="bool" ng-checked="isChecked(item.id)" allow-numbers-only>
                        <span class="span-class set-width change-desighn3 for-uper-text" id="{{item.id}}">{{item.name}} </span>
                      </ion-item> -->                          
                      
                    </div>
                  </div>
                </div>
                
                
                <div ng-if="item.typeid == 1" >
                  <div ng-if="item.dependent == 0" >
                    <div ng-if="item.radioposition == 'newline'" >
                      <ion-item class="item-accordion"
                      ng-show="isGroupShown(group)">
                      <div class="alighnment-radio alighnment-radio-newline"  ng-repeat="i in item.duration">
                        <div ng-if="i.havequantity != 'yes'">
                          <div class="for-handle">
                            <input type="radio" class="un-input-element"  ng-click="sync3(bool, item,group.name)" id="radio_{{item.id}}" name="{{item.group_id}}">
                            <!-- <input type="radio"  ng-click="sync3(bool, item,group.name)" id="radio_{{item.id}}" name="{{item.group_id}}" ng-model="bool"  ng-change="isChecked(item.id)">  -->
                            
                          </div>
                          <span class="span-class set-width change-desighn3" id="{{item.id}}">   {{i.period}} </span> 
                        </div>
                      </div>
                    </ion-item>                      
                  </div>
                </div>
              </div>
              <div ng-if="item.typeid == 2">
                <div ng-if="item.dependent > 0" >
                  <div ng-if="item.ratehavequantity == 'yes'" >
                    <ion-item class="item-accordion"
                    ng-show="isGroupShown(group)">
                    
                    <input class="proper-form change-desighn1 un-input-element" ng-if="item.typeid == 2" type="checkbox" ng-change="changetotext('text_{{item.id}}')" ng-model="bool" ng-checked="isChecked(item.id)" checked>
                    <div ng-repeat="list in load_items">
                      
                      <div ng-if="item.id == list.id && selected_lastperiod == list.period">
                        <input   type="text" class="form-control for-size-change alighn-class change-desighn2" ng-change="sync2(bool, item,item.group_id,group.name)" id="text_{{item.id}}" ng-model="bool" ng-checked="isChecked(item.id)" readonly="true" allow-numbers-only>
                      </div>
                    </div>
                    <span class="span-class set-width change-desighn3" id="{{item.id}}">{{item.name}} </span>
                  </ion-item>
                </div>
              </div>
            </div>
            
            
            <div ng-if="item.typeid == 2">
              <div ng-if="item.dependent > 0" >
                <div ng-if="item.ratehavequantity != 'yes'" >
                  <ion-item class="item-accordion"
                  ng-show="isGroupShown(group)">
                  
                  <input class="proper-form  change-desighn1 un-input-element" ng-if="item.typeid == 2" type="checkbox" ng-change="sync(bool, item,'false',item.group_id,group.name)" ng-model="bool" ng-checked="isChecked(item.id)" checked>
                  
                  <span class="span-class set-width change-desighn3" id="{{item.id}}">{{item.name}} </span>
                </ion-item>
              </div>
            </div>
          </div>
          
          
          
          <div ng-if="item.typeid == 4">
            <!--  <div ng-if="item.dependent > 0" > -->
              <div ng-if="item.ratehavequantity == 'yes'" >
                <ion-item class="item-accordion"
                ng-show="isGroupShown(group)">
                
                <input class="proper-form change-desighn1 un-input-element" ng-if="item.typeid == 2" type="checkbox" ng-change="changetotext('text_{{item.id}}')" ng-model="bool" ng-checked="isChecked(item.id)" checked>
                <div ng-repeat="list in load_items">
                  
                  <div ng-if="item.id == list.id && selected_lastperiod == list.period">
                    
                    <!--  <input   type="text" class="form-control for-size-change alighn-class change-desighn2" ng-change="sync2(bool, item,item.group_id,group.name)" id="text_{{item.id}}" ng-model="bool" ng-checked="isChecked(item.id)" readonly="true" allow-numbers-only> -->
                    
                  </div>
                </div>
                <select ng-model="bool" required="required" ng-change="dropDown(bool, item,item.group_id,group.name)" style="padding:5px 20px 5px !important;width: 20px;position: absolute;"
                ng-checked="isChecked(item.id)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">42</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
                <option value="51">51</option>
                <option value="52">52</option>
                <option value="53">53</option>
                <option value="54">54</option>
                <option value="55">55</option>
                <option value="56">56</option>
                <option value="57">57</option>
                <option value="58">58</option>
                <option value="59">59</option>
                <option value="60">60</option>
                <option value="61">61</option>
                <option value="62">62</option>
                <option value="63">63</option>
                <option value="64">64</option>
                <option value="65">65</option>
                <option value="66">66</option>
                <option value="67">67</option>
                <option value="69">68</option>
                <option value="70">70</option>
                <option value="71">71</option>
                <option value="72">72</option>
                <option value="73">73</option>
                <option value="74">74</option>
                <option value="75">75</option>
                <option value="76">76</option>
                <option value="77">77</option>
                <option value="78">78</option>
                <option value="79">79</option>
                <option value="80">81</option>
                <option value="82">82</option>
                <option value="83">83</option>
                <option value="84">84</option>
                <option value="85">85</option>
                <option value="86">86</option>
                <option value="87">87</option>
                <option value="88">88</option>
                <option value="89">89</option>
                <option value="90">90</option>
                <option value="91">92</option>
                <option value="92">92</option>
                <option value="93">93</option>
                <option value="94">95</option>
                <option value="96">96</option>
                <option value="97">97</option>
                <option value="98">98</option>
                <option value="99">99</option>
                <option value="100">100</option>
              </select>
              <span class="span-class set-width change-desighn3" style="margin-left: 52px !important;" id="{{item.id}}">{{item.name}} </span>
            </ion-item>
          </div>
          <!--  </div> -->
        </div>
        <div ng-if="item.typeid == 4">
          <div ng-if="item.dependent > 0" >
            <div ng-if="item.ratehavequantity != 'yes'" >
              <ion-item class="item-accordion"
              ng-show="isGroupShown(group)">
              <!-- <input class="proper-form change-desighn1" ng-if="item.typeid == 2" type="checkbox" ng-change="sync(bool, item,'false',item.group_id,group.name)" ng-model="bool" ng-checked="isChecked(item.id)" checked> -->
              <select ng-model="bool" required="required" ng-change="sync(bool, item,'false',item.group_id,group.name)" style="padding:5px 20px 5px !important;width: 20px;position: absolute;"
              ng-checked="isChecked(item.id)">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">42</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">45</option>
              <option value="46">46</option>
              <option value="47">47</option>
              <option value="48">48</option>
              <option value="49">49</option>
              <option value="50">50</option>
              <option value="51">51</option>
              <option value="52">52</option>
              <option value="53">53</option>
              <option value="54">54</option>
              <option value="55">55</option>
              <option value="56">56</option>
              <option value="57">57</option>
              <option value="58">58</option>
              <option value="59">59</option>
              <option value="60">60</option>
              <option value="61">61</option>
              <option value="62">62</option>
              <option value="63">63</option>
              <option value="64">64</option>
              <option value="65">65</option>
              <option value="66">66</option>
              <option value="67">67</option>
              <option value="69">68</option>
              <option value="70">70</option>
              <option value="71">71</option>
              <option value="72">72</option>
              <option value="73">73</option>
              <option value="74">74</option>
              <option value="75">75</option>
              <option value="76">76</option>
              <option value="77">77</option>
              <option value="78">78</option>
              <option value="79">79</option>
              <option value="80">81</option>
              <option value="82">82</option>
              <option value="83">83</option>
              <option value="84">84</option>
              <option value="85">85</option>
              <option value="86">86</option>
              <option value="87">87</option>
              <option value="88">88</option>
              <option value="89">89</option>
              <option value="90">90</option>
              <option value="91">92</option>
              <option value="92">92</option>
              <option value="93">93</option>
              <option value="94">95</option>
              <option value="96">96</option>
              <option value="97">97</option>
              <option value="98">98</option>
              <option value="99">99</option>
              <option value="100">100</option>
            </select>
            <span class="span-class set-width change-desighn3" style="margin-left: 52px !important;" id="{{item.id}}">{{item.name}} </span>
          </ion-item>
        </div>
      </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--    item type ==3         -->
    <!--  <div ng-if="item.typeid == 3">
      <div ng-if="item.dependent > 0">
        <ion-item class="item-accordion"
        ng-show="isGroupShown(group)">
        
        <span class="span-class set-width" id="{{item.id}}"> {{item.name}} </span>
        <input ng-if="item.typeid == 3" type="text" class="form-control for-size-change alighn-class" ng-change="sync2(bool, item,item.group_id,group.name)" id="text_{{item.id}}" ng-model="bool" ng-checked="isChecked(item.id)" allow-numbers-only>
        
      </ion-item>
    </div>
  </div> -->
  <!--
    <input ng-if="item.typeid == 3" type="text" class="form-control for-size-change alighn-class" ng-change="sync2(bool, item)" id="text_{{item.id}}" ng-model="bool" ng-checked="isChecked(item.id)">
    <input ng-if="item.typeid == 2" type="checkbox" ng-change="sync(bool, item,'false')" ng-model="bool" ng-checked="isChecked(item.id)" checked>
    <input type="radio" ng-click="sync3(bool, item)" id="radio_{{item.id}}" name="asd" ng-model="bool" ng-checked="isChecked(item.id)">
  --> 
  
  <!--    item type ==3         -->
  <!--    <div ng-if="item.typeid == 3">
    <div ng-if="item.dependent == 0">
      <ion-item class="item-accordion"
      ng-show="isGroupShown(group)">
      
      <span class="span-class set-width" id="{{item.id}}"> {{item.name}} </span>
      <input ng-if="item.typeid == 3" type="text" class="form-control for-size-change alighn-class" ng-change="sync2(bool, item,item.group_id,group.name)" id="text_{{item.id}}" ng-model="bool" ng-checked="isChecked(item.id)" allow-numbers-only>
      
    </ion-item>
  </div>
</div> -->


<div ng-if="item.typeid == 2">
  <div ng-if="item.dependent == 0" >
    <div ng-if="item.ratehavequantity == 'yes'" >
      <ion-item class="item-accordion"
      ng-show="isGroupShown(group)">
      
      <input class="proper-form change-desighn1 un-input-element" ng-if="item.typeid == 2" type="checkbox" ng-change="changetotext('text_{{item.id}}')" ng-model="bool" ng-checked="isChecked(item.id)" checked>
      <input  type="text" class="form-control for-size-change alighn-class change-desighn2" ng-change="sync2(bool, item,item.group_id,group.name)" id="text_{{item.id}}" ng-model="bool" ng-checked="isChecked(item.id)" readonly="true" allow-numbers-only>
      <span class="span-class set-width change-desighn3" id="{{item.id}}">{{item.name}} </span>
    </ion-item>
  </div>
</div>
</div>
<div ng-if="item.typeid == 2">
  <div ng-if="item.dependent == 0" >
    <div ng-if="item.ratehavequantity != 'yes'" >
      <ion-item class="item-accordion"
      ng-show="isGroupShown(group)">
      
      <input class="proper-form change-desighn1 un-input-element" ng-if="item.typeid == 2" type="checkbox" ng-change="sync(bool, item,'false',item.group_id,group.name)" ng-model="bool" ng-checked="isChecked(item.id)" checked>
      
      <span class="span-class set-width change-desighn3" id="{{item.id}}">{{item.name}} </span>
    </ion-item>
  </div>
</div>
</div>




</div> 
</div>


<!--  <ul class="for-check" style="border-bottom:1px solid #f4f4f4;">
  
  <li class="for-line-check make-one-line"><h5>Name</h5><p>{{items.name}}</p></li>
  <li class="for-line-check"><h5>Hours</h5><p>{{items.hours}}</p></li>
  <li class="for-line-check"><h5>Rate</h5><p>{{items.rate}}</p></li>
  <li class="for-line-check for-line-check-two"><h5>Type</h5><input type="text" class="form-control for-size-change" id="check"  ng-model="itemss.rate"  ng-change="textbox({{items.rate}},'{{items.name}}',{{items.hours}})"> </li>
  
</ul> -->

<!--                 </div> -->

<!--              <div ng-if="group.type=='checkbox'">    -->
  <!-- Group:<p>{{group.name}}</p> -->
  
  
  <!--                      <ion-item class="item-accordion"
    ng-repeat="item in group.items"
    ng-show="isGroupShown(group)">
    <span class="span-class" id="{{item.id}}">Name: {{item.name}} </span><span class="span-class-two"> Hours: {{item.hours}} Rate: {{item.rate}}</span><input  type="checkbox" ng-change="sync(bool, item,'false')" ng-model="bool" ng-checked="isChecked(item.id)" checked>
  </ion-item>  -->
  
  <!--   <ul class="for-check" style="border-bottom:1px solid #f4f4f4;">
    
    <li class="for-line-check make-one-line"><h5>Name</h5><p>{{items.name}}</p></li>
    <li class="for-line-check"><h5>Hour</h5><p>{{items.hours}}</p></li>
    <li class="for-line-check"><h5>Rate</h5><p>{{items.rate}}</p></li>
    <li class="for-line-check"><h5>Type</h5><input  type="checkbox" ng-model="itemss.name" ng-change="checkbox({{items.rate}},'{{items.name}}',{{items.hours}})"></li>
  </ul>  -->                  
  
  
  <!--              </div> -->
  <!--            <div ng-if="group.type=='radio'"> -->
    <!-- Group:<p>{{group.name}}</p> -->
    
    
    <!--                   <ion-item class="item-accordion"  
      ng-repeat="item in group.items"
      ng-show="isGroupShown(group)">
      <span class="span-class" id="{{item.id}}">Name: {{item.name}} </span><span class="span-class-two"> Hours: {{item.hours}} Rate: {{item.rate}}</span><input type="radio" ng-click="sync3(bool, item)" id="radio_{{item.id}}" name="asd" ng-model="bool" ng-checked="isChecked(item.id)">
    </ion-item> -->
    <!--   <ul class="for-check" style="border-bottom:1px solid #f4f4f4;">
      
      <li class="for-line-check make-one-line"><h5>Name</h5><p>{{items.name}}</p></li>
      <li class="for-line-check"><h5>Hour</h5><p>{{items.hours}}</p></li>
      <li class="for-line-check"><h5>Rate</h5><p>{{items.rate}}</p></li>
      <li class="for-line-check"><h5>Type</h5><input type="radio" ng-model="itemsaa" ng-init="$index==0?(role=val):''" ng-change="radio({{items.rate}},'{{items.name}}',{{items.hours}})"></li>
      
    </ul> -->
    
    
    <!--        </div>  -->
  </div>
</div>
<ion-scroll direction="y" id="calculations" class="div-style" scroll="true">
  
  <div ng-repeat="data in for_array track by $index" >
    <div id="ab{{data.group_id}}">
      <!--   <p id="bn{{data.name_of_group}}" style="text-align: center;font-weight: bold;">{{data.name_of_group}}</p> -->
      
    </div>
  </div>
  <!--  <div ng-repeat="data in data123 track by $index" >
    <h5 id="'{{data.group_id}}'">
      <p ng-if="data.typeid ==3" class="icon ion-checkmark">
        
        {{data.mul}}*{{data.hours}} {{data.name}} ${{data.rate}}:{{data.hours}}<br>
      </p>
      <p ng-if="data.typeid !=3" >
        <p style="display:center;">{{data.name_of_group}}</p>
        
        <i class="icon ion-checkmark"> {{data.name}} ${{data.rate}}:{{data.hours}}<br>
        </i>           
      </p> 
    </h5>
  </div> -->
</ion-scroll>

<div class="submit-holder">
  <button type="button" class="btn medium-btn new-btn-size submit-block" ng-click="savedata()">Submitt</button></div> </div>
  
  
  
  <!--     </ion-list> -->
  <div ng-if="projectsList.length==0" class="custom-data-found"></div>
</ion-content>
</ion-view>