<ion-view hide-nav-bar="true" class="project-details">

    <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Schedule Meetings</h1>
        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>
<ion-content>
  
    <div class="project-details-content">
     <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/bleedingbulb" style="min-width:320px;height:580px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->
    </div>
    

  </ion-content>
</ion-view>
