<ion-view hide-nav-bar="true" class="add-task-wrapper">
  
  <div class="bar bar-header bar-light">
            <div class="row">
                <div class="col box col-30 for-btn-log align-left">     
                    <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
                </div>  
                <div class="col box col-70 align-center">
        <h1 class="title">Analytics</h1>
      </div>     
            </div>      
        </div>
        <ion-content>
        <div class="for-div-style row">
         <div class="col col-33 col-one" style="">
             <div class="custom-lable-height"> 
              <div style="display:none">{{chart.type = selecteduser}}</div>
                    <!-- <select ng-model="check.type" required="required"  style="padding:5px 10px 5px !important; " ng-change="getgraphs()"> -->
                    <select ng-model="check.type" class="for-round " ng-change="update2(chart.type)" required="required"  style="font-size: 14px !important;">
                      <option value="">Analytic</option>                     
                      <option value="Users">Users</option>
                      <option value="Sessions">Sessions</option>
                      <option value="Bounce">Bounce Rait</option>
                      <option value="Durration">Sessions Durration</option>
    
                    </select>
                  </div> 
                  </div> 
                    <div class="col col-33 col-one" >
                  <div class="custom-lable-height" id="RemoveSpan">   
                    <select  ng-model="chart.page" ng-change="update(chart.page)" class="for-round for-overlap font-small page_select" required="required" >
                      <option value="Overview">Overview</option>
                      <option ng-repeat="row in pages" ng-selected="chart.page == row.id"   value="{{row.id}}">{{row.url}}</option>
                    </select>
                  </div>
                </div>
                 <div class="col col-33 col-one" style="">
                  <div class="custom-lable-height"> 
                    <div style="display:none">{{chart.time = selectedtime}}</div>
                    <select class="for-round" ng-model="chart.time" ng-change="update1(chart.time)"  required="required"  style="font-size: 14px !important;">
                      <option value="" >Select time</option>
                      <option value="7">Last 7 days</option>
                      <option value="30">Last 30 days</option>
                      <option value="60">Last 60 days</option>
                      <option value="90">Last 90 days</option>
                      
                    </select>
                  </div>
                </div>
              </div>
              <div style="width:100%; text-align:center;">
              <button type="button" class=" for-date-label for-btn-new-two" ng-click="getgraphs()">Submitt</button>
            </div>
<!-- <div ng-if="check.type !='Sessions' && check.type !='Bounce' && check.type !='Durration' && check.type !='Users'">  -->
<div ng-if="Users2 =='Users'">
    <div class="card">
        <div class="item item-divider">
            Users View
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" chart-dataset-override="datasetOverride" options="{showTooltips: true}"></canvas>
        </div>

    </div>
  </div>


 <div ng-if="Users =='Users'"> 
    <div class="card">
        <div class="item item-divider">
            Users View
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"
			
			 options="{showTooltips: true}" chart-dataset-override="datasetOverride"  ></canvas>
        </div>

    </div>
  </div>


 <div ng-if="Sessions =='Sessions'"> 
    <div class="card">
        <div class="item item-divider">
            Total Sessions
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"
      
       options="{showTooltips: true}" chart-dataset-override="datasetOverride"  ></canvas>
        </div>

    </div>
  </div>



 <div ng-if="Bounce =='Bounce'"> 
    <div class="card">
        <div class="item item-divider">
            Total Bounce Rate
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"
      
       options="{showTooltips: true}" chart-dataset-override="datasetOverride"  ></canvas>
        </div>

    </div>
  </div>


   <div ng-if="Durration =='Durration'"> 
    <div class="card">
        <div class="item item-divider">
            Session Durration
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"
      
       options="{showTooltips: true}"></canvas>
        </div>

    </div>
  </div>


  <div ng-if="chart.page =='Overview' || selectedpage =='Overview'">
    <div class="for-pos for-thakur"><strong>Users Visit Pages Last 7 Days</strong></div>
<div class="project-details-content">
     <table class="for-table for-style">
      <tr>
      <th>Page</th>
      <th>Page Views</th>
    </tr>
  <tr ng-repeat="items in mostviewed track by $index" >
     <td>{{items.pageTitle}}</td>
     <td>{{items.pageviews}}</td>
   </div>
</tr>
</table>
  </div>
	</div>
</ion-content>
</ion-view>