 <ion-view view-title="Invoices">
    <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
</button>


    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <div class="col box col-20 for-btn-msg align-right"  ng-controller="GlobalCtrl" ng-init="getMessageCount()">
      <a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black" >{{messageCount}}</span></a>
    </div>
    </ion-nav-buttons>

 <!--  <div class="bar bar-header bar-light">
    <div class="row">
      <div class="col box col-20 for-btn-log align-left">     
        <a ng-controller="MenuCtrl" ng-click="showPopup()" class="button button-icon md-icon md-icon md-icon-user"></a>
      </div>    
      <div class="col box col-70 align-center">
        <h1 class="title">Invoices</h1>
      </div>    
      <div class="col box col-20 for-btn-msg align-right" ng-controller="GlobalCtrl" ng-init="getMessageCount()" >
        <a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black">{{messageCount}}</span></a>
      </div>
    </div>
  </div>	 -->

 

<!--   <div class="tabs-striped tabs-top  tabs-color-dark">
    <div class="tabs"> 
      <a class="tab-item {{pending}}" ng-click="getInvoices()"> Pending </a> 
      <a class="tab-item {{completed}}" ng-click="getCompleteInvoices()"> Complete </a>
       <div ng-if="userType =='admin'|| userType =='super_admin' || userType =='client'">
      <a class="tab-item btn-plus add-icon pull-right" ng-click="addInvoices()"> + </a>
    </div>
    </div>
  </div> -->
  <ion-content class="custom-tab-tasks itemList custom-tab-task1" style="padding-top: 0px !important;" scroll="false">
    <ion-list can-swipe="true" show-delete="false">
      <ion-item style="border-bottom:none !important;" class="item-content-new"> 
        <div ng-if="userType =='admin' || userType =='super_admin'">
            <div class="custom-lable-height change-for-width"> 
              <select ng-model="task.compnay" required="required" ng-change="getProjects()">
                <option value="" selected>Select Company</option>
                <option ng-repeat="row in companies" value="{{row.id}}">{{row.name}}</option>
              </select>
            </div>
          
            <div class="fieldset" >
            <div class="custom-lable-height change-for-width">
              <select ng-model="task.projects" required="required" ng-change="getInvoices()" >
                <option value="" selected>Select Project</option>
                <option ng-repeat="row in projectsList" value="{{row.id}}">{{row.project_name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div ng-if="userType =='client' || userType =='team'">
          <div class="fieldset" >
            <div class="custom-lable-height change-for-width for-center">
              <select ng-model="task.projects" required="required" ng-change="getInvoices()">
                <option value="" selected>Select Projects</option>
                <option  ng-repeat="row in project_selected12" value="{{row.id}}">{{row.project_name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div>
          <!-- <div ng-if="projectsList !=''">   -->
          <div class="tabs-striped tabs-top tabs-color-dark avoid-overflow">

              <div class="tabs "> 
                <a class="tab-item {{pending}}" ng-click="getInvoices()"> Pending </a>
                <a class="tab-item {{completed}}" ng-click="getCompleteInvoices()"> Complete </a>

                <!--    <div ng-if="userType =='admin'|| userType =='super_admin' || userType =='client'" class="add-btn-holder">
                  <a class="tab-item btn-plus add-icon pull-right add-btn-new" ng-click="addTask()">ADD</a> 
                </div> -->
            
              </div>
          </div>
          <!-- </div>  -->
        </div>
        <div ng-if="userType =='team' || userType =='client'">
          <div ng-if="project_selected12 !=''">
            <div class="tabs-striped tabs-top tabs-color-dark" >
              <div class="tabs "> 
                <a class="tab-item {{pending}}" ng-click="getInvoices()"> Pending </a>
                <a class="tab-item {{completed}}" ng-click="getCompleteInvoices()"> Complete </a>

                <div ng-if="userType =='admin'|| userType =='super_admin' || userType =='client'" class="add-btn-holder">
                  <a class="tab-item btn-plus add-icon pull-right add-btn-new" ng-click="addTask()">ADD</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="invoicesList ==0 || invoicesList == 'null' ">
          <div style=" text-align: center;padding-top:150px;">There is no Invoices</div>
        </div>
      </ion-item>
    <ion-list>
  </ion-content>
  <ion-content class="custom-tab-tasks itemList custom-tab-task1 custom-ion-content custom-ion-content-invoices ">  
    <ion-list can-swipe="true" show-delete="false">
      <div class="tight" style="padding-top: 0px !important;">
        <ion-item ng-repeat="invoice in invoicesList" class="for-upercase item" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getInoviceDetail({{invoice.id}})">
          <div class = "row no-padding">
            <div class="col box col-90 no-padding">
              <h3 class="email" ng-if="invoice.invoice_name">
                {{invoice.invoice_name}}
              </h3>
              <span class="discription" ng-if="invoice.description!=''">{{invoice.description| limitTo:50}}</span>
              <span class="price" ng-if="invoice.total_price!=''">{{invoice.total_price}}</span>
              <span class="date" ng-if="invoice.due_date!=''">Due: {{invoice.due_date | date:'MM-dd-yy'}}</span>
            </div>
            <div class="col box col-10 no-padding">
              <a class="button button-icon md-icon for-btn-money align-middle"><span ng-if="invoice.is_expired==1 && invoice.status!='completed' " class="dots big"></span></a>
            </div>
          </div>
       
        </ion-item>
      </div>
    </ion-list>
    <div ng-if="invoicesList.length==0" class="custom-data-found"></div>
  </ion-content>
</ion-view>