<!-- <ion-view >  -->
	
  <ion-view view-title="Tasks">
    <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
</button>


    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <div class="col box col-20 for-btn-msg align-right"  ng-controller="GlobalCtrl" ng-init="getMessageCount()">
      <a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black" >{{messageCount}}</span></a>
    </div>
    </ion-nav-buttons>
<!--   </ion-view> -->
<!--   <div class="bar bar-header bar-light">
    <div class="row">
      <div class="col box col-20 for-btn-log align-left">     
        <a ng-controller="MenuCtrl" ng-click="showPopup()" class="button button-icon md-icon md-icon md-icon-user"></a>
      </div>    
      <div class="col box col-70 align-center">
        <h1 class="title">Tasks</h1>
      </div>    
      <div class="col box col-20 for-btn-msg align-right" ng-controller="GlobalCtrl" ng-init="getMessageCount()">
        <a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black">{{messageCount}}</span></a>
      </div>
    </div>
  </div> -->
                 
  <ion-content class="custom-tab-task itemList custom-tab-task1" scroll="false">    
    <ion-item style="border-bottom:none !important;margin-top: -47px;" class="item-content-new"> 
      <div ng-if="userType =='admin' || userType =='super_admin'">
          <div class="custom-lable-height change-for-width"> 
            <select ng-model="task.compnay" required="required" ng-change="getProjects()">
              <option value="" selected>Select Company</option>
              <option ng-repeat="row in companies" value="{{row.id}}">{{row.name}}</option>
            </select>
          </div>
        
          <div class="fieldset" >
          <div class="custom-lable-height change-for-width">
            <select ng-model="task.projects" required="required" ng-change="getTasks(); getallusers_associate_to_project();" >
              <option value="" selected>Select Project</option>
              <option ng-repeat="row in projectsList" value="{{row.id}}">{{row.project_name}}</option>
            </select>
          </div>
        </div>

      </div>
      <div ng-if="userType =='client' || userType =='team'">
        <div class="fieldset" >
          <div class="custom-lable-height change-for-width for-center">
            <select ng-model="task.projects" required="required" ng-change="getTasks() getallusers_associate_to_project()">
              <option value="" selected>Select Projects</option>
              <option  ng-repeat="row in project_selected12" value="{{row.id}}">{{row.project_name}}</option>
            </select>
          </div>
        </div>
      </div>
        <!--    <div ng-if="projectsList !=''"> -->
        <div class="tabs-striped tabs-top tabs-color-dark">
            <div class="tabs "> 
              <a class="tab-item {{pending}}" ng-click="getTasks()"> Pending </a>
              <a class="tab-item {{completed}}" ng-click="getCompleteTasks()"> Complete </a>

              <div ng-if="userType =='admin'|| userType =='super_admin' || userType =='client'" class="add-btn-holder">
              <a class="tab-item btn small-btn pink btn-plus add-icon pull-right add-btn-new" ng-click="addTask()"><i class="fa fa-plus"></i></a>
            </div>
            </div>
        </div>

    <!--        </div> -->
    </ion-item> 
  </ion-content>
         
  <ion-content class="custom-tab-task itemList custom-tab-task1 custom-tab-task11 item-content-new custom-ion-content">
    <ion-item style="border-bottom:none !important;" class="item-content-new"> 
    
      <div class="for-line2 mrgn-btm down-frm-top item" ng-repeat="task in tasksList"  ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getTaskDetail({{task.id}})">
        <div class = "row no-padding">
          <div class="col box col-90 no-padding">
            <h3>{{task.task_name}}</h3>
            <!-- <span class="discription">
              {{task.task_name}}
            </span> -->
            <span class="discription description-two" ng-if="task.description!=''">{{task.description| limitTo:50}}</span>
            <span class="discription" ng-if="task.due_date!=''">Due: {{task.due_date | date:'MM-dd-yy'}}</span>
          </div>
          <div class="col box col-10 no-padding">
            <a class="button button-icon md-icon for-btn-money align-middle"><span ng-if="task.is_expired==1" class="dots big"></span></a>
          </div>
        </div>
        <ion-option-button ng-if="task.assigner_id==currentUser" class="button-balanced" ng-click="deleteTask({{task.id}});">
          Delete
        </ion-option-button>
        <ion-option-button ng-if="task.assigner_id==currentUser" class="button-calm" ng-click="editTask({{task.id}})" >
          Edit
        </ion-option-button>
      </div>
      <div ng-if="tasksList =='' ">
        <div style=" text-align:center;padding-top:100px;">Task list is empty</div>
      </div>
              
    </ion-item>
    <div ng-if="tasksList.length==0" class="custom-data-found"></div>
  </ion-content>			
		
  
</ion-view>