 <ion-view view-title="Documents">
    <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
</button>


    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <div class="col box col-20 for-btn-msg align-right"  ng-controller="GlobalCtrl" ng-init="getMessageCount()">
      <a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black" >{{messageCount}}</span></a>
    </div>
    </ion-nav-buttons>

<!--   <div class="bar bar-header bar-light">
    <div class="row">
      <div class="col box col-20 for-btn-log align-left">     
        <a ng-controller="MenuCtrl" ng-click="showPopup()" class="button button-icon md-icon md-icon md-icon-user"></a>
      </div>    
      <div class="col box col-70 align-center">
        <h1 class="title">Documents</h1>
      </div>    
      <div class="col box col-20 for-btn-msg align-right" ng-controller="GlobalCtrl" ng-init="getMessageCount()">
        <a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black">{{messageCount}}</span></a>
      </div>
    </div>
  </div> -->

  <ion-content class="custom-tab-tasks itemList custom-tab-task1 custom-tab-task-top" style="padding-top: 46px !important;" scroll="false">
    <ion-list>       
      <ion-item class="tab-border-remove visible item-content-new">
        <div ng-if="userType =='admin' || userType =='super_admin'">
          <div class="custom-lable-height change-for-width"> 
            <select ng-model="task.compnay" required="required" ng-change="getProjects()">
              <option value="" selected>Select Company</option>
              <option ng-repeat="row in companies" value="{{row.id}}">{{row.name}}</option>
            </select>
          </div>
              
          <div class="fieldset" >
            <div class="custom-lable-height change-for-width">
              <select ng-model="task.projects" required="required" ng-change="getDocuments()" >
                <option value="" selected>Select Project</option>
                <option ng-repeat="row in projectsList" value="{{row.id}}">{{row.project_name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="tabs-striped tabs-top  tabs-color-dark ">
            <div class="tabs for-newtab-top"> 
              <a class="tab-item {{pending}}" ng-click="getDocuments()"> Pending </a> 
              <a class="tab-item {{completed}}" ng-click="getCompleteDocuments()"> Complete </a>
            </div>
        </div>

        <div ng-if="userType =='client' || userType =='team'">
          <div class="fieldset" >
            <div class="custom-lable-height change-for-width for-center">
              <select ng-model="task.projects" required="required" ng-change="getDocuments()">
                <option value="" selected>Select Project</option>
                <option  ng-repeat="row in project_selected12" value="{{row.id}}">{{row.project_name}}</option>
              </select>
            </div>
          </div>
          <div ng-if="project_selected12 !=''">
            <div class="tabs-striped tabs-top tabs-color-dark">
                <div class="tabs for-newtab-top"> 
                  <a class="tab-item {{pending}}" ng-click="getDocuments()"> Pending </a>
                  <a class="tab-item {{completed}}" ng-click="getCompleteDocuments()"> Complete </a>

                  <div ng-if="userType =='admin'|| userType =='super_admin' || userType =='client'">
                  <a class="tab-item btn-plus add-icon pull-right" ng-click="addTask()"> + </a>
                </div>
                </div>
            </div>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
 
  <ion-content class="custom-tab-tasks itemList custom-tab-task1 custom-ion-content custom-ion-content-documents custom-tab-task-top" >
    <ion-list> 
      <div class="checks-lign">  
        <ion-item class="item " ng-repeat="document in documentsList" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getDocumentDetail({{document.id}})">
          
          <div class = "row no-padding" style="padding-top: 3px !important;">
            <div class="col box col-90 no-padding">
              <h3 class="email for-text-show">
                {{document.title}}
              </h3>                
              <span class="discription  for-text-show1" ng-if="document.description!=''">{{document.description| limitTo:50}}</span>
              <span class="date for-text-show" ng-if="document.created_date!=''">Due: {{document.created_date | date:'MM/dd/yy'}}</span>
            </div>
            <div class="col box col-10 no-padding align-right">
              <a class="button button-icon md-icon for-btn-money align-middle">
                <span class="dots small pink "></span>
              </a>
            </div>
          </div>
          
          <div ng-if="documentsList ==0 || documentsList == 'null' ">
              <div style=" text-align: center;padding-top:150px;">There is no Documents</div>
          </div>
        </ion-item>
      </div>
    </ion-list>
    <div ng-if="documentsList.length==0" class="custom-data-found"></div>
  </ion-content>
    
</ion-view>