<!-- <ion-view>  -->
 
 <ion-view view-title="Projects">
    <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
</button>

             
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <div class="col box col-20 for-btn-msg align-right"  ng-controller="GlobalCtrl" ng-init="getMessageCount()">
      <a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black" >{{messageCount}}</span></a>
    </div>
    </ion-nav-buttons>
<!--   </ion-view> -->
	<!-- <div class="bar bar-header bar-light">
		<div class="row">
      <div class="col box col-20 for-btn-log align-left">     
        <a ng-controller="MenuCtrl" ng-click="showPopup()" class="button button-icon md-icon md-icon md-icon-user"></a>
      </div>    
      <div class="col box col-70 align-center">
        <h1 class="title">Projects</h1>
      </div>    
      <div class="col box col-20 for-btn-msg align-right" ng-controller="GlobalCtrl" ng-init="getMessageCount()">
        <a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black">{{messageCount}}</span></a>
      </div>
		</div>
	</div> -->
  <div class="tabs-striped tabs-top tabs-color-dark" ng-if="userType =='client'|| userType =='team'">
    <div class="tabs"> 
      <a class="asdasdasd tab-item {{pending}}" ng-click="getProjects()"> Pending </a> 
        
      <a class="tab-item {{completed}}" ng-click="getCompleteProjects()"> Complete </a>
    </div>
  </div>  

  <ion-content class="custom-tab-tasks itemList custom-tab-task1" style="padding-top: 15px !important;" scroll="false">
    <center>
      <div class="col col-80 custom-add-task" style="padding-top: 0px;">
        <!-- <div>{{userType}}</div> -->
        <div ng-if="userType =='admin'|| userType =='super_admin'">
          <div class="custom-lable-height change-for-width1 change-for-width11 for-makescroll" ng-show = "IsVisible"> 
            <select ng-model="task.compnay" required="required" ng-change="getProjects()" style="padding:5px 20px 5px !important; ">
              <option value="" selected>Select Company</option>
              <option ng-repeat="row in companies" value="{{row.id}}">{{row.name}}</option>
            </select>
          </div>
        </div>
        <div ng-if="userType =='admin'|| userType =='super_admin'">
          <div class="custom-lable-height change-for-width1 change-for-width11 for-makescroll" ng-show = "IsVisible2">
            <select ng-model="task.compnay" required="required" ng-change="getCompleteProjects()" style="padding:5px 20px 5px !important;">
              <option value="" selected>Select Compnay</option>
              <option ng-repeat="row in companies" value="{{row.id}}">{{row.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </center>   
    <div class="tabs-striped tabs-top tabs-color-dark" ng-if="userType =='admin'|| userType =='super_admin'">   
      <div class="tabs for-newtab-top for-newtab-top1 " style="top: 61px !important;">     
        <a class="tab-item {{pending}}" ng-click="ShowHide()"> Pending </a> 
        <a class="tab-item {{completed}}" ng-click="ShowHide2()"> Complete </a>
      </div>
    </div>   
  </ion-content> 
  <ion-content class="custom-tab-tasks itemList custom-tab-task1" style="padding-top: 0px !important;">    
    <!--  <ion-list > -->
    <div class="down-frm-top down-frm-top-one">
      <ion-item class="item" ng-repeat="project in projectsList" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getProjectDetail({{project.id}})">
        <div class="row no-padding">
          <div class="col box col-90 no-padding">
            <h3 class="email">
              {{project.project_name}}
            </h3>
            <span class="discription" ng-if="project.notes!=''">{{project.notes| limitTo:50}}</span>
            <span class="date" ng-if="project.start_date!=''">{{project.start_date | date:'MM-dd-yy'}} - {{project.end_date | date:'MM-dd-yy'}}</span>
          </div>
          <div class="col box col-10 no-padding">
            <a class="button button-icon md-icon for-btn-money align-middle" ng-if="project.show_pink==1"><span class="dots big"></span></a>
          </div>
        </div>
        <div  ng-if="projectsList ==0 || projectsList == 'null' ">
          <div style=" text-align: center;padding-top:100px;">There is no projects</div>
        </div>
      </ion-item>
    </div>   
    <!-- </ion-list> -->
    <div ng-if="projectsList.length==0" class="custom-data-found"></div>
  </ion-content>

</ion-view>