
<!-- <ion-view view-title="Activity">  -->
<!-- <ion-view> -->
 <ion-view view-title="Activity">
    <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
</button>


    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <div class="col box col-20 for-btn-msg align-right"  ng-controller="GlobalCtrl" ng-init="getMessageCount()">
			<a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black" >{{messageCount}}</span></a>
		</div>
		</ion-nav-buttons>
<!--   </ion-view> -->

<!--   <div class="bar bar-header bar-light">
    <div class="row">
		<div class="col box col-20 for-btn-log align-left">			
			<a ng-controller="MenuCtrl" ng-click="showPopup()" class="button button-icon md-icon md-icon md-icon-user"></a>
		</div>		
		<div class="col box col-70 align-center">
			<h1 class="title">Activity</h1>
		</div>		
		<div class="col box col-20 for-btn-msg align-right" ng-controller="GlobalCtrl" ng-init="getMessageCount()">
			<a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black" >{{messageCount}}</span></a>
		</div>
	</div>



  </div>
 -->  <ion-content class="custom-ion-content" style="margin-top: 8px !important">
      <ion-list>
       <!-- <div ng-if="invoicesList ==0 || invoicesList == 'null' ">
            <div style=" text-align: center;padding-top:100px;">There is no recent activity</div>
              </div> -->

        <ion-item ng-repeat="invoice in invoicesList"  ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getInoviceDetail({{invoice.id}})">
			<div class = "row no-padding">
				<div class="col box col-80 no-padding">
					<h3 class="email">
						Invoice {{invoice.invoice_name}}
					</h3>
					<span class="discription" ng-if="invoice.description!=''">{{invoice.description| limitTo:50}}</span>
					<span class="price" ng-if="invoice.total_price!=''">{{invoice.total_price}}</span>
					<span class="date" ng-if="invoice.due_date!=''">Due: {{invoice.due_date | date:'MM/dd/yy'}}</span>
				</div>
				<div class="col box col-20 align-right no-padding">
					<a class="button button-icon md-icon md-icon-invoices for-btn-money align-middle" ><span ng-if="invoice.is_expired ==1" class="dots"></span></a>
				</div>
			</div>
        </ion-item>
        <ion-item ng-repeat="task in taskList"  ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getTaskDetail({{task.id}})">
			<div class = "row no-padding">
				<div class="col box col-80 no-padding">
					<h3 class="email">
					{{task.task_name}}
					</h3>
					<span class="discription" ng-if="task.description!=''">{{task.description| limitTo:50}}</span>
					<span class="date" ng-if="task.due_date!=''">Due: {{task.created_date | date:'MM/dd/yy'}}</span>
				</div>
				  
				<div class="col box col-20 align-right noPadding">
					<a class="button button-icon md-icon md-icon-tasks for-btn-tasks"><span ng-if="task.is_expired==1" class="dots"></span></a>
				</div>
			</div>  
        </ion-item>
        <ion-item ng-repeat="message in messagesList"  ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getTaskDetail({{message.id}})">
			<div class = "row">
				<div class="col box col-90">
					<h3 class="email">
					{{message.subject}}
					</h3>
					<span class="discription" ng-if="message.text!=''">{{message.text| limitTo:50}}</span>
					<span class="date" ng-if="message.sent_on!=''">Due: {{message.sent_on | date:'MM/dd/yy'}}</span>
				</div>
			  
				<div class="col box col-20 align-right no-padding">
					<a class="button button-icon md-icon md-icon-email for-btn-email"><span ng-if="message.is_expired==1" class="dots"></span></a>
				</div>
			</div>  
        </ion-item>
        <ion-item ng-repeat="document in documentList"  ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getDocumentDetail({{document.id}})">
			<div class="row no-padding">
				<div class="col box col- no-padding80">
					<h3 class="email email-new-one">
					{{document.subject}}
					</h3>
					<h3 class="email email-new-two" ng-if="document.text!=''">{{document.title| limitTo:50}}</h3>
					<span class="discription description-new" ng-if="document.text!=''">{{document.description| limitTo:40}}</span>
					<span class="date date-new" ng-if="document.sent_on!=''">Created: {{document.created_date | date:'MM/dd/yy'}}</span>
				</div>
				  
				<div class="col box col-20 align-right no-padding box-new-one">
					<a class="button button-icon md-icon md-icon-documents for-btn-docs">
						<span ng-if="document.is_expired==1" class="dots"></span></a>
				</div>
			</div>
        </ion-item>
        <ion-item ng-repeat="meeting in meetingListing"  ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getDocumentDetail({{meeting.id}})">
			<div class="row">	
				<div class="col box col-90">
					<h3 class="email">
					Meeting
					</h3>
					<span class="date" ng-if="meeting.appointment_date!=''">Date Time: {{meeting.appointment_date | date:'MM/dd/yy'}} {{meeting.appointment_time_from}}</span>
				</div>
				<div class="col box col-20 align-right no-padding">
					<a class="button button-icon md-icon md-icon-documents for-btn-meeting"><span ng-if="meeting.is_expired==1" class="dots"></span></a>
				</div>
			</div>	
        </ion-item>
        <!-- <ion-item ng-if="meeting!='' && document!='' && message!='' && task!='' && invoice!=''">
			<div class="row">	
				<div class="col box col-90" style="text-align: center;padding-top:130px;">
					<span>There are no Activities</span>
				</div>
				
			</div>	
        </ion-item> -->
      </ion-list>
      <div ng-if="projectsList.length==0" class="custom-data-found"></div>
  </ion-content>
</ion-view>