<ion-view view-title="Projects" hide-nav-bar="true">
	<div class="bar bar-header bar-light">
		<div class="row">
			<div class="col box col-30 for-btn-log align-left">
				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" href = "#/sociallogin/{{projectid}}">
					<span class="fontfem btn-back">Back</span>
				</a>
			</div>
			<div class="col box col-70 align-center">
				<h1 class="title"> Twitter</h1>
			</div>
		</div>
	</div>
	<ion-content class="custom-ion-content twitter PostList-wrapper">
		<div class="spin" ng-if="!tweets" style="text-align: center; margin-top: 50px;">
			<ion-spinner></ion-spinner>
		</div>
		
		<div class="PostList" ng-repeat="tweet in tweets">
			
			<div class="list card">
				
				<div class="item item-avatar">
					<img src="{{tweet.user.profile_image_url}}">
					<h2>{{tweet.user.name}}
						<span style="color: lightgray">
							@{{tweet.user.screen_name}}
						</span>
					</h2>
					<p>Followers {{tweet.user.followers_count}}</p>
					<p>{{tweet.created_at|date}}</p>
					
				</div>
				<div class="item item-body">
					<div ng-if="tweet.entities.media">
						<img ng-if="tweet.entities.media.length>0" class="full-image" src="{{tweet.entities.media[0].media_url}}">
					</div>
					<p>{{tweet.text}}</p>
					<div class="row">
						<div class="col">
							<button class="btn small-btn " ng-click="fnPlaceFavorites(tweet,tweets.indexOf(tweet))" ng-disabled="tweet.favorited">
								<i class="icon ion-heart"></i>
								<div>
									{{tweet.favorite_count}} Favorite
								</div>
							</button>
							
						</div>
						<div class="col">
							<button class="btn small-btn" ng-click="tweet.showRetweet=!tweet.showRetweet" >
								<i class="icon ion-android-textsms"></i>
								<div>
									<div> Replay</div>
								</div>
							</button>
						</div>
					</div>
					<div class="list card" style="margin: 10px 0;">
						<div class="item item-avatar item-button-right">
							<img src="{{tweet.user.profile_image_url}}">
							<h2> {{ tweet.user.name }}@{{ tweet.user.screen_name }}</h2>
							<input type="text" placeholder="Enter a Comment" id="{{tweet.id}}" ng-model="tweet.placeRetweet">
							<!-- <textarea placeholder="Enter a Comment" id="{{tweet.id}}" ng-model="tweet.placeRetweet"></textarea> -->
							
							<button class="btn small-btn cmtBTN" style="top: auto; bottom: 24px;" ng-click="fnPlaceReplay(tweet,tweets.indexOf(tweet))"
							ng-if="!showLoder">
								<div> go</div>
							</button>
							<button class="btn small-btn cmtBTN" ng-if="showLoder" disabled>
								<ion-spinner name="bubbles"></ion-spinner>
							</button>
						</div>
					</div>
					<div ng-if="tweet.showRetweet">
						<div ng-repeat="retweet in tweets" class="list">
							<div class="item item-avatar">
								<img src="{{retweet.user.profile_image_url}}">
								<h2>{{tweet.user.name}}
									<span style="color: lightgray">
										@{{retweet.user.screen_name}}
									</span>
								</h2>
								<p> {{ tweet.created_at | date }}</p>
								<p>{{ retweet.text }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>