<ion-view hide-nav-bar="true" class="add-task-wrapper">
  
      <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="tab.tasks"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Add Task</h1>
        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>  		
    </div>
<ion-content>
		<center>
      <div class="col col-80 custom-add-task">
        <form name="regForm">
          <div class="list">
            <div class="col">
              <div class="info_center_main for-font-weight">
                 <div class="fieldset" ng-if="userType =='admin' || userType =='super_admin'">
                  <div class="custom-lable-height">
                    <select  ng-model="task.audience">
                      <option value="">Select Audience</option>
                      <option value="client">Client</option>
                      <option value="team">Team</option>
                      <option value="both">Both</option>
                    </select>
                    <div class="assertive">{{invalidaudienceMessage}}</div>
                  </div>
                </div>
                 <div class="fieldset" ng-if="userType =='client'">
                  <div class="custom-lable-height" >
                    <select  ng-model="task.audience">
                      <option value="">Select Audience</option>
                      
                      <option value="team">Team</option>
                     
                    </select>
                    <div class="assertive">{{invalidaudienceMessage}}</div>
                  </div>
                </div>
                <div ng-if="showhide == false">
                <div class="fieldset" ng-if="userType!=2">
                  <div class="custom-lable-height">
                    <select ng-model="task.compnay" required="required" ng-change="getReciptsByCompnay()">
                      <option value="" selected>Select Compnay</option>
                      <option ng-repeat="row in companies" value="{{row.id}}">{{row.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="fieldset" ng-if="userType!=2">
                  <div class="custom-lable-height">
                    <select ng-model="task.projects" required="required" ng-change="getReciptsByproject(); getRequirements();" >
                      <option value="" selected>Select Projects</option>
                      <option ng-repeat="row in projects" value="{{row.id}}">{{row.project_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
                 <div class="fieldset" ng-if="userType!=2">
                  <div class="custom-lable-height">
                    <select ng-model="task.requirements" required="required" >
                      <option value="" selected>Select Requirements</option>
                      <option ng-repeat="row in requirements" value="{{row.id}}">{{row.name}}</option>
                    </select>
                  </div>
                </div>
 
                <div class="fieldset serachField" ng-if="userType!=2">
                  <div ng-if="users_project!='' || users_project!=null">
                  <fancy-select
                      header-text="Select an option"
                      items="users_project"
                      value="selected"
                      icon-property="icon"
                      value-property="id"
                      text-property="Name"
                      allow-empty='true'
                      multi-select="true"
                      text="Select User"
                      note-text=""
                      ng-click ="checkusers()"
                      note-img="img/mignifier.png"
                      note-img-class="mignifier-icon"
                      value-changed="onValueChanged(value)"
                      get-custom-text="getCustomText(value)"
                      is-searchable="true"
                      search-placeholder="Search">
                  </fancy-select>
                 </div>
                </div>
                <input type="hidden" ng-model="task.users" />

                <div class="fieldset">
                  <input type="text" class="form-control" style="background: white;" ng-model="task.taskName" placeholder="Task Name">
                  <div class="assertive">{{invalidTaskNameMessage}}</div>
                </div>
                
                <div class="fieldset">
                  <!--<ionic-datepicker date="due_date" ng-click="openDatePickerOne()">
                  <button class="button button-block button-positive btn medium-btn">Due Date: {{ currentDate | date:'MM/dd/yyyy' }} </button>
                  </ionic-datepicker>-->
                  <button class="button btn small-btn align-left grey no-margin button-block btn medium-btn" ng-click="openDatePickerOne()">Due Date: {{ currentDate | date:'MM/dd/yyyy' }}</button>
  			        </div>
  			  
                <div class="fieldset">
  				        <div class="custom-lable-height">
  				          <select  ng-model="task.priority">
                      <option value="">Select Priority</option>
  					          <option value="medium">Medium</option>
  					          <option value="low">Low</option>
  					          <option value="high">High</option>
  				          </select>
                    <div class="assertive">{{invalidPriorityMessage}}</div>
  				        </div>
  			        </div>
                
                 <div class="fieldset" ng-if="userType =='client'">
                  <div class="custom-lable-height" >
                    <select  ng-model="task.audience">
                      <option value="">Select Audience</option>
                      
                      <option value="team">Team</option>
                     
                    </select>
                    <div class="assertive">{{invalidaudienceMessage}}</div>
                  </div>
                </div>
                <div class="fieldset">
  				        <textarea class="custom-msg-textarea" name="description" class="form-control txt_textarea" ng-model="task.description" placeholder="Description"></textarea>
                  <div class="assertive">{{invalidDescriptionMessage}}</div>
                </div>
  			        
                <div class="fieldset">
  				        <textarea class="custom-msg-textarea" name="notes" class="form-control txt_textarea" ng-model="task.notes" placeholder="Notes"></textarea>
                  <div class="assertive">{{invalidNotesMessage}}</div>
                </div>
  			        
                <div class="fieldset">
                   <input type="hidden" ng-model="task.projectid" value="{{task_id}}">
  				        <button type="button" class="btn medium-btn" ng-click="openModal()" ng-disabled="false">Add To Do Items</button>
                </div>
                
                <div class="fieldset">
  				        <div class="col">
                    <div class="btn-send">
                      <button type="button" ng-click="addTask()" ng-disabled="false">Save</button>
                    </div>
  				        </div>
  			        </div>

                <script id="modal.html" type="text/ng-template">

                  <div class="modal">

                    <div class="bar bar-header bar-light">
                      <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="closeModal()"><span class="fontfem btn-back">Back</span></a>                      
                      <h1 class="title">Add To Do Items</h1>
                    </div>                    

                    <form ng-submit="AddItem(data)" class="task-form">
                      <div class="list align-center">
                        <div class="list list-inset">
                          <label class="item item-input">
                            <textarea class="custom-msg-textarea" name="desc" placeholder="Description ..." ng-model="data.newItem" ngRequired>
                            </textarea>
                          </label>

                        </div>
                        <div class="add-item-btn">
                          <button class="btn medium-btn pink" type="submit">Add Item</button>
                        </div>
                        
                        <div class="fieldset align-left">
                          <ion-list>
                              <ion-item ng-repeat="item in toDoListItems">
                              
                                  <div class="row">
                                      <div class="col col-80 no-padding">
                                       
                                        {{item}}
                                       
                                      </div>
                                      <div class="col col-20 align-right no-padding">
                                        <span ng-click="removeItem($index)" class="class2 ion-close-circled">
                                          
                                        </span>
                                      </div>
                                  </div>
                                  <!-- <ion-option-button ng-click="removeItem($index)" class="class2">
                                      Delete
                                  </ion-option-button> -->
                              </ion-item>
                          </ion-list>
                        </div>
                      </div>
                    </form>

                  </div>
                </script>
                
              </div>
            </div>
          </div>
        </form>
      </div>
    </center>
  </ion-content>
</ion-view>