<ion-view view-title="Projects" hide-nav-bar="true">
        <div class="bar bar-header bar-light">
                <div class="row">
                        <div class="col box col-30 for-btn-log align-left">
                                <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" href = "#/sociallogin/{{projectid}}">
                                        <span class="fontfem btn-back">Back</span>
                                </a>
                        </div>
                        <div class="col box col-70 align-center">
                                <h1 class="title"> Google Plus</h1>
                        </div>
                </div>
        </div>
        <ion-content class="custom-ion-content twitter googleplus">

                <div class="spin" ng-if="!activities">
                        <ion-spinner></ion-spinner>
                </div>
                <div ng-if=" activities && activities.length>0 ">

                        <div class="list card" ng-repeat="activity in activities;let activityIndex = $index">

                                <div class="item item-avatar">
                                        <img src="{{activity.actor.image.url}}">
                                        <h2>{{ activity.actor.displayName }}</h2>
                                        <p>{{ activity.published|date }}</p>
                                </div>

                                <div class="item item-body">
                                        <div ng-if="activity.object.attachments">
                                                <img ng-if=" activity.object.attachments[0].image " src="{{ activity.object.attachments[0].image.url }}">
                                        </div>
                                        <p>
                                                <h3 ng-if="activity.object.content"> {{ activity.object.content }}</h3>
                                                <h3 ng-if="activity.object.attachments&&activity.object.attachments.length>0"> {{ activity.object.attachments[0].displayName }}</h3>
                                                <p ng-if="activity.object.attachments&&activity.object.attachments.length>0&&activity.object.attachments[0].objectType=='article'">
                                                        {{ activity.object.attachments[0].content }}
                                                </p>
                                        </p>
                                        <p>
                                                <a class="subdued">
                                                        <i class="icon ion-thumbsup"></i>
                                                        {{activity.object.plusoners.totalItems}} Likes
                                                </a>
                                                <a href="javascript:void(0)" class="subdued" ng-click="activity.showComment=!activity.showComment">

                                                        <i class="icon ion-android-textsms"></i>
                                                        <div *ngIf="activity.comments"> {{activity.comments.length}} comments</div>
                                                </a>
                                        </p>
                                </div>
                                <div class="item item-avatar">
                                        <img src="{{activity.actor.image.url}}">

                                        <label class="stacked" stacked>{{activity.actor.displayName}}</label>
                                        <textarea placeholder="Enter a Replay"></textarea>
                                        <button class="button button-outlined cmtBTN" ng-if="!showCommentLoder" ng-click="fnPlaceComment(activity,activityIndex)">Go </button>
                                        <button class="button button-outlined cmtBTN" disabled ng-if="showCommentLoder" ng-click="showCommentLoder=!showCommentLoder">
                                                <ion-spinner name="bubbles"></ion-spinner>
                                        </button>
                                </div>
                                <div class="list card">
                                        <div class="item item-avatar">
                                                <img src="{{ comment.actor.image.url }}">
                                                <h2>{{ comment.actor.displayName }}</h2>
                                                <h3>{{ comment.published|date }}</h3>
                                                <p [innerHtml]="comment.object.content"> </p>
                                        </div>
                                        <div ng-if="showReplayList">
                                                <div class="item item-avatar">
                                                        <img src="https://www.asist.org/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
                                                        <label class="stacked" stacked>{{activity.actor.displayName}}</label>
                                                        <textarea placeholder="Enter a Replay"></textarea>
                                                        <button class="button button-outlined cmtBTN" ng-if="!showReplayLoder" ng-click="showReplayLoder=!showReplayLoder">Replay </button>
                                                        <button class="button button-outlined cmtBTN" disabled ng-if="showReplayLoder" ng-click="showReplayLoder=!showReplayLoder">
                                                                <ion-spinner name="bubbles"></ion-spinner>
                                                        </button>
                                                </div>
                                                <div class="item item-avatar">
                                                        <img src="https://www.asist.org/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
                                                        <h2>Marty McFly</h2>
                                                        <h3>Marty McFly</h3>
                                                        <p>November 5, 1955</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div ng-if="activities&&activities.length==0">
                        <h3>
                                No Activity found in your google + account
                        </h3>
                </div>
        </ion-content>
</ion-view>