<ion-view view-title="Projects" hide-nav-bar="true" class="message-list">
    <div class="bar bar-header bar-light">
		<div class="row">
			<div class="col box col-30 for-btn-log align-left">			
				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="tab.activity"><span class="fontfem btn-back">Back</span></a>
			</div>
			<div class="col box col-70 align-center">
				<h1 class="title">Messages</h1>
			</div>		
			<div class="col box col-20 for-btn-msg align-right">				
			</div>			
		</div>
    </div>
    <div class="tabs-striped tabs-top tabs-color-dark">
        <div class="tabs"> 
          <a class="tab-item {{pending}}" ng-click="getInbox('1')"> Inbox </a> 
          <a class="tab-item {{completed}}" ng-click="getSentMessages('1')"> Sent </a>
          <a class="tab-item btn-plus add-icon pull-right" ng-click="addMessage()"> + </a>
        </div>
    </div>
    <ion-content class="custom-tab-tasks">
        <ion-list>
			<div ng-repeat="(key,item) in items" 
					item="item">
			    <ion-item ng-class='main' class="custom-msg-bg">
				    <h3 class="custom-msg-h3">{{key}}</h3>
				 </ion-item>
			    <ion-item ng-repeat="row in item.message" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="messageDetail({{row.id}})">
			    
			    	<div class = "row no-padding">
          				<div class="col box col-90 no-padding">
					     	<div class="subject">
							    {{row.subject}}
						    </div>
                            <div class="subject">
							    {{row.date}}
						    </div>
						    <div class="message" ng-if="row.description">Message</div>
							<div class="discription" ng-if="row.description">{{row.description}}</div>
						</div>

						<div class="col box col-10 no-padding">

				            <a class="button button-icon md-icon for-btn-money align-middle"><span ng-if="row.read_by_reciever!=1 && inbox==1" class="dots big pink"></span></a>
				        </div>
					</div>
			    </ion-item>
			</div>	
		</ion-list>
        <center ng-if="sentMessage==0">
		    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="getInbox('2')" distance="10%"></ion-infinite-scroll>
        </center>
        <center ng-if="sentMessage==1">
		    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="getSent('2')" distance="10%"></ion-infinite-scroll>
        </center>
    </ion-content>
</ion-view>