<ion-view view-title="Projects" hide-nav-bar="true"> 
 

 <div class="bar bar-header bar-light">
    <div class="row">
      <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="tab.quotes"><span class="fontfem btn-back">Back</span></a>
        </div>
         
      <div class="col box col-70 align-center">
        <h1 class="title">Quotes Request</h1>
      </div>    
      
    </div>
  </div>
  <ion-content class="custom-ion-content">
      <ion-list>
              
                 <div class="custom-lable-height change-for-width1" style="margin-left: 100px;margin-bottom: 10px;margin-top: 10px;">
                    <select ng-model="user.services" required="required" ng-change="get_against_services() " style="padding:5px 20px 5px !important;">
                      <!-- <option value="" selected>Select Status</option> -->
                      <option value="" selected>Select Services</option>
                      <option ng-repeat="services in services"    value="{{services.id}}">{{services.name}}</option>
                    </select>
                  </div>
                 

                     <div class="custom-lable-height change-for-width1" style="margin-left: 100px;margin-bottom: 10px;margin-top: 10px;">
                    <select ng-model="user.packages" required="required" ng-change="get_packages_item()" style="padding:5px 20px 5px !important;">
                      <!-- <option value="" selected>Select Status</option> -->
                      <option value="" selected>Select Packages</option>
                      <option ng-repeat="packages in packages"    value="{{packages.items_id}}">{{packages.name}}</option>
                    </select>
                  </div>


              
                  <div class="for-div-one" style="background-color: lightgray;">
                   <span class="span-one"> ${{alltotals}} to ${{to}} </span>
                    <button type="button" class="for-div1-btn" style="margin-left: 0;width: 103px;" class="btn medium-btn new-btn-size" ng-click="request_quote()">Request Quote</button></div>
                 <!--  <input type="text" class="form-control for-middle-size" ng-model="user.name" placeholder="Name">
                 <input type="text" class="form-control for-middle-size-one" ng-model="user.email" placeholder="Email">
                               
                  <input type="text" class="form-control for-middle-size-two" ng-model="user.phone" placeholder="Phone"> -->
                 

                <div ng-repeat="list in data">
                  <div ng-repeat="group in list.group">


                  <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon custom-icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
             {{group.name}} 
             <div ng-repeat="s in selectedItem" class="one-check">
              <div ng-if="s.g_id == group.id">
             {{s.val}}
           </div></div>

            <!-- <div ng-if="group.id== tex_groupid" class="one-check">
             {{tex}}</div>
             <div ng-if="group.type=='radio' && group.id== R_groupid" class="one-check">
             {{rad}}</div> -->
          </ion-item>         

            <!--            <div ng-if="group.type=='textbox'">  -->
          
                    
                           <div ng-repeat="item in group.items">                    
                        <div ng-if="item.typeid == 1" >
                          <div ng-if="item.dependent == 0" >
                            <ion-item class="item-accordion"
                             ng-show="isGroupShown(group)">
                          <div class="alighnment-radio"  ng-repeat="i in item.duration">
                           <div ng-if="i.period =='3 month'">
                             <input type="radio"  ng-click="three_month(i.period)" id="radio_{{item.id}}" name="asd" ng-model="bool" ng-checked="true"  ng-change="isChecked(item.id)"> 
                             {{i.period}}
                           </div>
                           <div ng-if="i.period !='3 month'">
                           <input type="radio" ng-click="three_month(i.period)" id="radio_{{item.id}}" name="asd" > 
                             {{i.period}}
                           </div>
                         </div>
                           </ion-item>                          
                          </div>
                         </div>
                     

                     <div ng-if="item.typeid == 2">
                       <div ng-if="item.dependent > 0" >
                          <ion-item class="item-accordion"
                             ng-show="isGroupShown(group)">
                    
                             <span class="span-class set-width" id="{{item.id}}">{{item.name}} </span><!-- <span class="span-class-one"> Hours: {{item.hours}} Rate: {{item.rate}}</span> -->
                           
                             <input class="proper-form" ng-if="item.typeid == 2" type="checkbox" ng-change="sync(bool, item,'false',item.group_id)" ng-model="bool" ng-checked="isChecked(item.id)" checked>
                        </ion-item>
                      </div>
                   </div>
                    
                    <div ng-if="item.typeid == 3">
                       <div ng-if="item.dependent > 0">
                         <ion-item class="item-accordion"
                            ng-show="isGroupShown(group)">
                    
                          <span class="span-class set-width" id="{{item.id}}"> {{item.name}} </span><!-- <span class="span-class-one"> Hours: {{item.hours}} Rate: {{item.rate}}</span> -->
                          <input ng-if="item.typeid == 3" type="text" class="form-control for-size-change alighn-class" ng-change="sync2(bool, item,item.group_id)" id="text_{{item.id}}" ng-model="bool" ng-checked="isChecked(item.id)" allow-numbers-only>

                     </ion-item>
                   </div>
                 </div>
<!--
<input ng-if="item.typeid == 3" type="text" class="form-control for-size-change alighn-class" ng-change="sync2(bool, item)" id="text_{{item.id}}" ng-model="bool" ng-checked="isChecked(item.id)">
<input ng-if="item.typeid == 2" type="checkbox" ng-change="sync(bool, item,'false')" ng-model="bool" ng-checked="isChecked(item.id)" checked>
<input type="radio" ng-click="sync3(bool, item)" id="radio_{{item.id}}" name="asd" ng-model="bool" ng-checked="isChecked(item.id)">
  --> 
                 <div ng-if="item.typeid == 3">
                       <div ng-if="item.dependent == 0">
                      <ion-item class="item-accordion"
                            ng-show="isGroupShown(group)">
                    
                          <span class="span-class set-width" id="{{item.id}}"> {{item.name}} </span><!-- <span class="span-class-one"> Hours: {{item.hours}} Rate: {{item.rate}}</span> -->
                          <input ng-if="item.typeid == 3" type="text" class="form-control for-size-change alighn-class" ng-change="sync2(bool, item,item.group_id)" id="text_{{item.id}}" ng-model="bool" ng-checked="isChecked(item.id)" allow-numbers-only>

                     </ion-item>
                   </div>
                 </div>


                   <div ng-if="item.typeid == 2">
                       <div ng-if="item.dependent == 0" >
                          <ion-item class="item-accordion"
                             ng-show="isGroupShown(group)">
                    
                             <span class="span-class set-width" id="{{item.id}}">{{item.name}} </span><!-- <span class="span-class-one"> Hours: {{item.hours}} Rate: {{item.rate}}</span> -->
                           
                             <input class="proper-form" ng-if="item.typeid == 2" type="checkbox" ng-change="sync(bool, item,'false',item.group_id)" ng-model="bool" ng-checked="isChecked(item.id)" checked>
                        </ion-item>
                      </div>
                   </div>




          </div> 
    </div>
                     

                     <!--  <ul class="for-check" style="border-bottom:1px solid #f4f4f4;">

                            <li class="for-line-check make-one-line"><h5>Name</h5><p>{{items.name}}</p></li>
                          <li class="for-line-check"><h5>Hours</h5><p>{{items.hours}}</p></li>
                          <li class="for-line-check"><h5>Rate</h5><p>{{items.rate}}</p></li>
                          <li class="for-line-check for-line-check-two"><h5>Type</h5><input type="text" class="form-control for-size-change" id="check"  ng-model="itemss.rate"  ng-change="textbox({{items.rate}},'{{items.name}}',{{items.hours}})"> </li>
                      
                       </ul> -->
                       
        <!--                 </div> -->
                  
      <!--              <div ng-if="group.type=='checkbox'">    -->
                      <!-- Group:<p>{{group.name}}</p> -->
                          
                             
        <!--                      <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
                           <span class="span-class" id="{{item.id}}">Name: {{item.name}} </span><span class="span-class-two"> Hours: {{item.hours}} Rate: {{item.rate}}</span><input  type="checkbox" ng-change="sync(bool, item,'false')" ng-model="bool" ng-checked="isChecked(item.id)" checked>
                     </ion-item>  -->

                          <!--   <ul class="for-check" style="border-bottom:1px solid #f4f4f4;">
                              
                         <li class="for-line-check make-one-line"><h5>Name</h5><p>{{items.name}}</p></li>
                          <li class="for-line-check"><h5>Hour</h5><p>{{items.hours}}</p></li>
                          <li class="for-line-check"><h5>Rate</h5><p>{{items.rate}}</p></li>
                          <li class="for-line-check"><h5>Type</h5><input  type="checkbox" ng-model="itemss.name" ng-change="checkbox({{items.rate}},'{{items.name}}',{{items.hours}})"></li>
                          </ul>  -->                  
                        
                      
         <!--              </div> -->
           <!--            <div ng-if="group.type=='radio'"> -->
                      <!-- Group:<p>{{group.name}}</p> -->
                        
                            
            <!--                   <ion-item class="item-accordion"  
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
                           <span class="span-class" id="{{item.id}}">Name: {{item.name}} </span><span class="span-class-two"> Hours: {{item.hours}} Rate: {{item.rate}}</span><input type="radio" ng-click="sync3(bool, item)" id="radio_{{item.id}}" name="asd" ng-model="bool" ng-checked="isChecked(item.id)">
                     </ion-item> -->
                          <!--   <ul class="for-check" style="border-bottom:1px solid #f4f4f4;">
                              
                           <li class="for-line-check make-one-line"><h5>Name</h5><p>{{items.name}}</p></li>
                             <li class="for-line-check"><h5>Hour</h5><p>{{items.hours}}</p></li>
                             <li class="for-line-check"><h5>Rate</h5><p>{{items.rate}}</p></li>
                           <li class="for-line-check"><h5>Type</h5><input type="radio" ng-model="itemsaa" ng-init="$index==0?(role=val):''" ng-change="radio({{items.rate}},'{{items.name}}',{{items.hours}})"></li>
                         
                          </ul> -->
                    
                    
               <!--        </div>  -->
                  </div>
                </div>
                <div id="calculations" class="div-style" style="border:1px solid #d3d3d3;">
         {{data123}}
                  <div ng-repeat="data in data123">
                
                     {{data.name}} ${{data.rate}} {{data.hours}} hours <br>
                  </div>
                </div>
             
                <div class="submit-holder">
                <button type="button" style="margin-left: 0;width: auto;" class="btn medium-btn new-btn-size submit-block" ng-click="savedata()">Submitt</button></div> </div>
                
               
           
      </ion-list>
      <div ng-if="projectsList.length==0" class="custom-data-found"></div>
  </ion-content>
</ion-view>