<ion-view hide-nav-bar="true" class="project-details">
  

    <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="tab.quotes"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Saleagreement Document</h1>

        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>

  <ion-content>
 <!--  {{data}} -->
    <div class="project-details-content" ng-repeat="d in data">
   Client Name: {{d.client_name}}<br><br>
  Title:  {{d.title}}<br><br>
  Admin Sign:  {{d.admin_sign}}<br><br>
  Type of Document:  {{d.type}}<br><br>
  Details<br><br>
    <div ng-bind-html="d.description"></div>
    </div>
   </ion-content>  
<div class="col box col-33"style="max-width:100%;margin-top: 140%;;">
              <button type="button" class="btn medium-btn new-btn-size for-size-one" ng-click="NDA()">Send Document</button>
          </div>
 
</ion-view>
