<ion-view hide-nav-bar="true" class="addMessage" ng-init="initialize()">
  
      <!-- topbar start here -->
    <div class="bar bar-header bar-light">
    		<div class="row">
          <div class="col box col-30 for-btn-log align-left">
            <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="messages"><span class="fontfem btn-back">Back</span></a>
          </div>
          <div class="col box col-70 align-center">
            <h1 class="title">Messages</h1>
          </div>    
          <div class="col box col-20 for-btn-msg align-right">        
          </div>      
        </div>        
    </div>
    <ion-content>
		<center>
    
    <div class="col col-80 custom-add-msg">
      <!-- <custom-list></custom-list> -->
      <form name="regForm">
        <div class="list">
          <div class="col">
            <div class="info_center_main for-font-weight">
              <div class="fieldset" ng-if="userType == 'admin' || userType == 'super_admin'">
                <div class="custom-lable-height" ng-if="message.projectid ==0">
                 
                  <select bn-uniform ng-model="message.compnay" required="required" ng-change="getReciptsByCompnay()">

                    <option value="" selected>Select Compnay</option>
                    <option ng-repeat="row in companies" value="{{row.id}}">{{row.name}}</option>
                  </select>
                </div>
              </div>
               <div class="fieldset" ng-if="userType == 'admin' || userType == 'super_admin'">
                <div class="custom-lable-height" ng-if="message.projectid !=0">
                    <select ng-model="message.project" required="required" ng-change="getReciptsByproject()">
                    <option value="" selected>Select project</option>

                    <option  ng-repeat="row in project_selected12" value="{{row.id}}">{{row.project_name}}</option>
                  </select>
                </div>
              </div>
             
               <div class="fieldset" ng-if="userType == 'client'">
                <div class="custom-lable-height" ng-if="message.projectid !=0">
                 
                  <select ng-model="message.project" required="required" ng-change="getReciptsByproject()">
                    <option value="" selected>Select project</option>
                    <option ng-repeat="row in project_selected12" value="{{row.id}}">{{row.project_name}}</option>
                  </select>
                </div>
              </div>
               <div class="fieldset" ng-if="userType == 'client'">

                <div class="custom-lable-height" ng-if="message.projectid == 0">
                   
                  <select ng-model="message.project" required="required" ng-change="getReciptsByproject()">
                    <option value="" selected>Select project</option>
                    <option  ng-repeat="row in project" value="{{row.id}}">{{row.project_name}}</option>
                  </select>
                </div>
              </div>
              <div class="fieldset serachField">
                <fancy-select
                    header-text="Select an option"
                    items="items"
                    value="selected"
                    icon-property="icon"
                    value-property="id"
                    text-property="Name"
                    allow-empty='true'
                    multi-select="true"
                    text="Search Users"
                    note-text="Click Here"
                    ng-click ="checkusers()"
                    note-img="img/mignifier.png"
                    note-img-class="mignifier-icon"
                    value-changed="onValueChanged(value)"
                    get-custom-text="getCustomText(value)"
                    is-searchable="true"
                    search-placeholder="Search">
                </fancy-select>
              </div>
              <input type="hidden" ng-model="message.users" />

              <div class="fieldset">
                <input type="text" class="form-control for-color" ng-model="message.subject" placeholder="Subject">
              </div>
			        <div class="assertive ">{{invalidSubjectMessage}}</div>
              <div class="fieldset">
                <textarea class="custom-msg-textarea" name="message" class="form-control txt_textarea" ng-model="message.message" placeholder="Message"></textarea>
              </div>
			        <div class="assertive">{{invalidMessageMessage}}</div>
              <div class="fieldset">
                <ion-toggle ng-model="message.sendemail" toggle-class="toggle-pink">Send Email&nbsp; &nbsp; </ion-toggle>
              </div>
			        <div class="fieldset">
                <input type="hidden" ng-model="message.projectid" value="{{message.projectid}}">
                <br/>
                <button class="btn medium-btn" type="button" ng-click="addMessage()" ng-disabled="false">Send Message</button>
              </div>			        
            </div>
          </div>
        </div>
        </form>
      </div>
    </center>
  </ion-content>
</ion-view>
