<ion-view hide-nav-bar="true" class="add-task-wrapper">
  <ion-content>
      <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="tab.tasks"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Edit Task</h1>
        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>  		
    </div>

		<center>
      <div class="col col-80 custom-add-task">
        <form name="regForm">
          <div class="list">
            <div class="col">
              <div class="info_center_main for-font-weight">
                <input type="hidden" ng-model="task.users" />

                <div class="fieldset">
                  <input type="text" class="form-control" ng-model="task.taskName" placeholder="Task Name">
                  <div class="assertive">{{invalidTaskNameMessage}}</div>
                </div>
                
                <div class="fieldset">
                   <button class="button button-positive button-block btn medium-btn" ng-click="openDatePickerOne()">Due Date: {{task.dueDate | date:'MM/dd/yyyy' }}</button>   
  			        </div>
                
                <div class="fieldset">
  				        <textarea class="custom-msg-textarea" name="description" class="form-control txt_textarea" ng-model="task.description" placeholder="Description"></textarea>
                  <div class="assertive">{{invalidDescriptionMessage}}</div>
                </div>
                <div class="fieldset">
  				        <div class="col">
                    <div class="btn-send">
                      <button type="button" ng-click="editTask({{task.id}})">Edit</button>
                    </div>
  				        </div>
  			        </div>

                <script id="modal.html" type="text/ng-template">

                  <div class="modal">

                    <div class="bar bar-header bar-light">
                      <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="closeModal()"><span class="fontfem btn-back">Back</span></a>                      
                      <h1 class="title">Add To Do Items</h1>
                    </div>                    

                    <form ng-submit="AddItem(data)" class="task-form">
                      <div class="list align-center">
                        <div class="list list-inset">
                          <label class="item item-input">
                            <input type="text" placeholder="New activity ..." ng-model="data.newItem">
                          </label>
                        </div>
                        <div class="add-item-btn">
                          <button class="btn medium-btn pink" type="submit">Add Item</button>
                        </div>
                        
                        <div class="fieldset align-left">
                          <ion-list>
                              <ion-item ng-repeat="item in toDoListItems">
                                  <div class="row">
                                      <div class="col col-80 no-padding">
                                        {{item.task}}
                                      </div>
                                      <div class="col col-20 align-right no-padding">
                                        <span ng-click="removeItem($index)" class="class2 ion-close-circled">
                                          
                                        </span>
                                      </div>
                                  </div>
                                  <!-- <ion-option-button ng-click="removeItem($index)" class="class2">
                                      Delete
                                  </ion-option-button> -->
                              </ion-item>
                          </ion-list>
                        </div>
                      </div>
                    </form>

                  </div>
                </script>
                
              </div>
            </div>
          </div>
        </form>
      </div>
    </center>
  </ion-content>
</ion-view>