<ion-view hide-nav-bar="true" class="messageReply">
  
      <!-- topbar start here -->
    <div class="bar bar-header bar-light">
        <div class="row">
          <div class="col box col-30 for-btn-log align-left">
  				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="messageDetail({{message.messageid}})"><span class="fontfem btn-back">Back</span></a>
  			 </div>
  			  
    			<div class="col box col-50">
    				<h1 class="title">Message Reply</h1>
    			</div>
  			  
    			<div class="col box col-20">
    				
    			</div>
  		  </div>
    </div>
    <ion-content>
		<center>
    <div class="col col-80 custom-pay-invoice">
      <form name="regForm">
        <div class="list">
          <div class="col">
            <div class="info_center_main for-font-weight">
              <input type="hidden" ng-model="message.messageid" />
              <div class="fieldset">
                <input type="text" class="form-control" ng-readonly="message.subject" ng-model="message.subject" placeholder="Subject">
              </div>
			        <div class="assertive ">{{invalidSubjectMessage}}</div>
              <div class="fieldset">
                <textarea class="custom-msg-textarea"  name="message" class="form-control txt_textarea" ng-model="message.message" placeholder="Message"></textarea>
              </div>
			        <div class="assertive">{{invalidMessageMessage}}</div>
              <div class="fieldset">
                <ion-toggle ng-model="message.sendemail" toggle-class="toggle-calm">Send Email</ion-toggle>
              </div>
			        <div class="fieldset">
                <center><button type="button" class="btn medium-btn" ng-click="addReply()" ng-disabled="false">Send Message</button></center>
			        </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </center>
  </ion-content>
</ion-view>