<ion-view view-title="Projects" hide-nav-bar="true"> 
  <div class="bar bar-header bar-light">
		<div class="row">
			<div class="col box col-30 align-left">
				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-href="#/projectDetail/{{projectid}}"><span class="fontfem btn-back">Back</span></a>
			</div>
			
			<div class="col box col-50">
				<h1 class="title">Project Documents</h1>
			</div>
			
			<div class="col box col-20">
			
			</div>
		</div>
  </div>
  <div class="tabs-striped tabs-top  tabs-color-dark">
    <div class="tabs"> 
      <a class="tab-item {{pending}}" ng-click="getDocuments()"> Pending </a> 
      <a class="tab-item {{completed}}" ng-click="getCompleteDocuments()"> Complete </a>
    </div>
  </div>
  <ion-content class="custom-tab-tasks itemList">
      <ion-list>
        <ion-item ng-repeat="document in documentsList"  ng-class-odd="'odd'" ng-class-even="'even'" ng-click="getDocumentDetail({{document.id}})">
          <h3 class="email">
            {{document.title}}
          </h3><span></span>
          <span class="discription" ng-if="document.description!=''">{{document.description| limitTo:50}}</span>
          <span class="date" ng-if="document.created_date!=''">Due: {{document.created_date | date:'dd/MM/yy'}}</span>
        </ion-item>
      </ion-list>
      <div ng-if="documentsList.length==0" class="custom-data-found"></div>
  </ion-content>
</ion-view>