<ion-view hide-nav-bar="true" class="project-details">
	

		<!-- topbar start here -->
		<div class="bar bar-header bar-light">
			<div class="row">
				<div class="col box col-30 for-btn-log align-left">     
					<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="tab.projects"><span class="fontfem btn-back">Back</span></a>
				</div>
				<div class="col box col-70 align-center">
					<h1 class="title">{{projectDetail.project_name}}</h1>

				</div>    
				<div class="col box col-20 for-btn-msg align-right">        
				</div>      
			</div>      
		</div>
<ion-content>
  
		<div class="project-details-content" ng-if="showDetail == 1;">
			
			<div class="" ng-if="projectDetail.nextPaymentDue!=null">				
				<div class="prijectPrice">{{projectDetail.nextPaymentDue.total_price}}</div>
				<div class="nextpayment">Next Payment Due <br/> {{projectDetail.nextPaymentDue.due_date | date:'MM-dd-yyyy'}}</div>				
			

			<div class='paymeny-btn' ng-if="projectDetail.nextPaymentDue!=''">
				<button class="btn medium-btn pink" type="button" ng-click="payInvoice(projectDetail.nextPaymentDue.id)">Pay Now</button>
			</div>
               </div>
			<!-- <div class="discription">
				<p>{{projectDetail.notes}}</p>
			</div> -->

			<!-- <div class="message-btn">
				<button class="btn medium-btn pink" type="button" ng-click="newMessage()">Send Message</button>
			</div> -->
			<input type="hidden" name="project_id" value="{{projectDetail.id}}">
          <div class="discription">
          
           <h3>Tasks</h3>
			</div>

          <div class="discription">
          	<div class="row row-circle-center">
          <div class="col-sm-2">
                <div class="circle circles-small">
                   <h4><strong style="color: black;">Late</strong><p>{{late}}</p></h4>
               
                </div> 
              </div>
              <div class="col-sm-2">
                <div class="circle circles-small circle-black">
                   <h4><strong style="color: black;">Complete</strong><p>{{total_complete}}</p></h4>
               
                </div> 
              </div>
              <div class="col-sm-2">
                <div class="circle circles-small">
                   <h4><strong style="color: black;">Pending</strong><p>{{total_pending}}</p></h4>
               
                </div> 
              </div>
          
           </div>
			</div>
			<div class="discription">
           <a class="button icon-right" href="#/forpage/{{projectDetail.id}}">Analytics</a>
           <div  style="margin-top: 16px;" ng-if="projectDetail.socialmedia == 1">
           <a  class="button icon-right" href="#/sociallogin/{{projectDetail.id}}">Social Link</a>
       </div>
			</div>
			


			<div class="projectlinks">
				<p>Associated with this project</p>

				<ul>
					<li ><a class="md-icon md-icon-invoices" ng-href="#/projectInvoices/{{projectDetail.id}}"><span ng-if="projectDetail.totalPayments!='0'">{{projectDetail.totalPayments}}</span></a></li>
					<li ><a class="md-icon md-icon-tasks" ng-href="#/projectTasks/{{projectDetail.id}}"><span ng-if="projectDetail.totalTasks!='0'">{{projectDetail.totalTasks}}</span></a></li>
					<li ><a class="md-icon md-icon-documents" ng-href="#/projectDocuments/{{projectDetail.id}}"><span ng-if="projectDetail.totalDocuments!=0">{{projectDetail.totalDocuments}}</span></a></li>
					<li ><a class="md-icon md-icon-email" ng-href="#/projectMessages/{{projectDetail.id}}"><span ng-if="projectDetail.unreadMessages!='0'">{{projectDetail.unreadMessages}}</span></a></li>

				</ul>				
			</div>
		</div>
		

	</ion-content>
</ion-view>
