<ion-view hide-nav-bar="true" class="add-task-wrapper">
 
  <div class="bar bar-header bar-light">
            <div class="row">
                <div class="col box col-30 for-btn-log align-left">     
                    <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
                </div>  
                <div class="col box col-70 align-center">
        <h1 class="title">Analytics</h1>
      </div>     
            </div>      
        </div>
         <ion-content>
         <div class="col col-100 custom-add-task custom-add-task-one" style="padding-top: 22px;">
                  <div class="custom-lable-height for-uper"> 
                    <select ng-model="check.type" required="required"  style="padding:5px 20px 5px !important; ">
                     <!--  <option value="" selected>Select Type of Graph</option> -->
                      <option value="line" selected>Line Graph</option>
                      <option value="bar">Bar Graph</option>
    
                    </select>
                  </div>
    
    <div ng-if="check.type =='line'">            
    <div class="card">
        <div class="item item-divider">
            A line chart
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"
			
			 options="{showTooltips: true}"></canvas>
        </div>

    </div>
</div>

    <div ng-if="check.type =='bar'">   
    <div class="card card-one">
        <div class="item item-divider">
            A bar chart
        </div>
        <div class="item item-text-wrap">
            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" options="{showTooltips: true}"></canvas>
        </div>
    </div>
	</div>
 <!--  <div>
    <div class="for-pos"><strong>Users Visit Pages Last 7 Days</strong></div>
<div class="project-details-content">
     <table class="for-table for-style">
      <tr>
      <th>Page</th>
      <th>Page Views</th>
    </tr>
  <tr ng-repeat="items in mostviewed track by $index" >
     <td>{{items.pageTitle}}</td>
     <td>{{items.pageviews}}</td>
   </div>
</tr>
</table>
  </div>
	</div> -->
</ion-content>
</ion-view>