<ion-view class="registration" view-title="" hide-nav-bar="true" cache-view="false">
 

    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="login"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">        
        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>
    </div>  
 <ion-content>
    <div class="logo itemList">
      <img ng-src="img/logo.png" class="full-image">
    </div>

    <!-- <center>
      <div class="container">
        <div class="col">
          <div class="heading">
            <div class="main-heading">Signup to continue</div>
          </div>
        </div>
      </div>
    </center> -->

    <center>
      <div class="col col-80">
        <form name="regForm">
          <div class="list">
            <div class="col">
              <div class="info_center_main">

                <div class="fieldset">
                  <input type="text" class="form-control" ng-model="signup.fname" placeholder="Enter First Name">
                  <div class="assertive">{{invalidFirstNameMessage}}</div>
                </div>

                <div class="fieldset">
                  <input type="text" class="form-control" ng-model="signup.lname" placeholder="Enter Last Name">
                  <div class="assertive">{{invalidLastNameMessage}}</div>
                </div>

                <div class="fieldset">
                  <input type="text" phone-input class="form-control" ng-model="signup.phone" placeholder="Enter Phone Number">
                  <div class="assertive">{{invalidPhoneNumberMessage}}</div>
                </div>
                
                <div class="fieldset">
                  <input type="email" class="form-control" ng-model="signup.email" placeholder="Enter Email">
                  <div class="assertive">{{invalidEmailMessage}}</div>
                </div>
                 
               <!--  <div class="fieldset">
                 <select  ng-model="signup.typeofuserregister" required="required">

                    <option value="" selected>Select Type</option>
                    <option  value="client">Client</option>
                  </select>
                </div> -->
                <div class="fieldset">
                  <input type="password" class="form-control" ng-model="signup.password" placeholder="Enter Password">
                  <div class="assertive">{{invalidPasswordMessage}}</div>
                </div>
                
                <div class="fieldset">
                  <input type="password" class="form-control" ng-model="signup.passwordConfirm" placeholder="Enter Confirm Password">
                  <div class="assertive">{{invalidPasswordConfirmMessage}}</div>
                </div>

                <div class="fieldset">
                  <div class="btn-send">
                    <button type="btn" ng-click="register()" ng-disabled="false">Save</button>
                  </div>
                </div>              
              </div>            
            </div>
          </div>        
        </form>
      </div>
    </center>

  </ion-content>
</ion-view>
