<ion-view view-title="Social Accounts" hide-nav-bar="true">
        <div class="bar bar-header bar-light">
                <div class="row">
                        <div class="col box col-20 for-btn-log align-left">
                                <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" href="#/projectDetail/{{projectid}}"><span class="fontfem btn-back">Back</span></a>
                                <!-- <a ng-controller="MenuCtrl" ng-click="showPopup()" class="button button-icon md-icon md-icon md-icon-user"></a> -->
                        </div>
                        <div class="col box col-70 align-center">
                                <h1 class="title">Social Login</h1>
                        </div>
                        <!-- <div class="col box col-20 for-btn-msg align-right" ng-controller="GlobalCtrl" ng-init="getMessageCount()">
                                <a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email">
                                        <span class="badge black">{{ messageCount }}</span>
                                </a>
                        </div> -->
                </div>
        </div>
        <ion-content class="custom-ion-content padding">
                <div ng-if="apiresult">
                
                        <button class="button button-full button-small button-positive" ng-if="facebookFlag != false" ng-click="fnGoFacebookPage()"> Facebook Post </button>
                        <button class="button button-full button-small button-positive" ng-if="!facebookFlag" ng-click='fnLinkFacebook()'> Link Facebook </button>

                        <button class="button button-full button-small button-positive" ng-if="twitterFlag" ng-click="fnGoTwitterPage()"> Twitter Post </button>
                        <button class="button button-full button-small button-positive" ng-if="!twitterFlag" ng-click="fnLinkTwitter()"> Link Twitter </button>

                        <button class="button button-full button-small button-positive" ng-if="linkedInFlag" ng-click="fnGoLikedInPage()"> LinkedIn Post </button>
                        <button class="button button-full button-small button-positive" ng-if="!linkedInFlag" ng-click="fnLinkLinkedIn()"> Link LinkedIn </button>

                        <button class="button button-full button-small button-positive" ng-if="instagramFlag" ng-click="fnGoInstagramPage()"> Instagram Post </button>
                        <button class="button button-full button-small button-positive" ng-if="!instagramFlag" ng-click="fnLinkInstagram()"> Link Instagram </button>

                        <button class="button button-full button-small button-positive" ng-if="googleFlag" ng-click="fnGoYoutubePage()"> Youtube </button>
                        <button class="button button-full button-small button-positive" ng-if="!googleFlag" ng-click="fnLinkGoogle()"> Link google </button>
                        <!-- <button class="button button-full button-small button-positive" ng-if="googleFlag" ng-click="fnGoGooglePlusPage()"> Google+ </button> -->
                </div>
        </ion-content>
</ion-view>