<ion-view view-title="Projects" hide-nav-bar="true"> 

<div class="bar bar-header bar-light">
    <div class="row">
      <div class="col box col-20 for-btn-log align-left">     
        <a ng-controller="MenuCtrl" ng-click="showPopup()" class="button button-icon md-icon md-icon md-icon-user"></a>
      </div>    
      <div class="col box col-70 align-center">
        <h1 class="title">Quotes</h1>
      </div>    
      <div class="col box col-20 for-btn-msg align-right" ng-controller="GlobalCtrl" ng-init="getMessageCount()">
        <a ui-sref="messages" badge="3" class="button button-icon md-icon md-icon-email"><span class="badge black">{{messageCount}}</span></a>        
      </div>
    </div>
  </div>


 <!-- <div class="bar bar-header bar-light">
    <div class="row">
      <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
        </div>
         
      <div class="col box col-70 align-center">
        <h1 class="title">Quotes Listing</h1>
      </div>    
      
    </div>
  </div> -->
 
   


    
  <ion-content class="custom-tab-tasks itemList custom-tab-task1" scroll="false">
   <center class="for-zIndex">
    <div class="col col-80 custom-add-task" style="padding-top: 22px;">
             <!-- <div>{{userType}}</div> -->
            
          <!--   <div ng-if="userType =='client'"> -->
                <button type="button" style="margin-left: 0%;width: 130px;font-size: 17px;" class="btn medium-btn new-btn-size" ng-click="getquotes()">Add Request</button>
                </div>  
                <!--</div> -->
                     <div class="tabs-striped tabs-top tabs-color-dark for-linements">
                          <div class="tabs for-alignment"> 
                            <a class="tab-item {{pending}}"   ng-click="getdetails('Pending')"> Pending </a>
                            <a class="tab-item {{completed}}"   ng-click="getdetails('accepted')">Accepted</a>
                            <a class="tab-item {{rejected}}"   ng-click="getdetails('Rejected')"> Regected </a>

                          </div>
                     </div>





      <!--            <div class="custom-lable-height change-for-width1">
                    <select ng-model="user.status" required="required" ng-change="getdetails()" style="padding:5px 20px 5px !important;"> -->
                      <!-- <option value="" selected>Select Status</option> -->

           <!--              <option    value="Pending" selected>Pending</option>
                      <option    value="accepted">Accepted</option>
                      <option    value="Rejected">Rejected</option>
                    </select>
                  </div> -->
               <!--  </div> -->
              
      </center>   
    </ion-content>
        <ion-content class="custom-tab-tasks itemList custom-tab-task1">     
    <!-- <ion-list > -->
    <div class="down-frm-top down-frm-top11">
               <ion-item style="border-bottom:none !important;" >
               <table class="for-table change-table">
                    <tr style="border-bottom: 1px solid lightgrey;" class="change-row-holder">
                    <th style="font-weight: 900; border:0;" class="change-row1">Name</th>
                    <th style="font-weight: 900; border:0;" class="change-row2 change-row1">Email</th>
                    <th style="font-weight: 900; border:0;" class="change-row3 change-row1">Detail</th>
                    <!-- <th style="font-weight: 900; border:0;">Status</th> -->
                    
                    
                    <th ng-if="user.status =='Pending' && userType =='client' && user.status !='Rejected'" style="font-weight: 900; border:0;" class="change-row4">Action</th>
                    <th ng-if="userType =='super_admin' && user.status !='Pending' && user.status !='Rejected'" style="font-weight: 900; border:0;" class="change-row4">Action</th>
                  
                  </tr>
               

     
                <tr style="border-bottom: 1px solid lightgrey;" ng-repeat="listing in listing" >
                <!-- <tr> -->
                   <td class="listing-name">{{listing.name}}</td>
                   <td class="listing-name listing-email">{{listing.email}}</td>
                   
                   <td ng-if="user.status == 'Rejected'"><button type="button"  style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size" ng-click="fordetail({{listing.id}})">Detail </button></td>
                   <td ng-if="listing.status == 'pending'"><button type="button"  style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size" ng-click="fordetail({{listing.id}})">Detail </button></td>
                   <td ng-if="listing.sent_quote_flag == 1" ><button type="button" style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size" ng-click="fordetail({{listing.id}})">Detail  Quotes </button></td>
                   <td ng-if="listing.nda_flag == 1"><button type="button"  style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size" ng-click="fordetail({{listing.id}})">Detail NDA</button></td>
                   <td ng-if="listing.sale_agreement_flag == 1"><button type="button"  style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size" ng-click="fordetail({{listing.id}})">Detail Sale</button></td>
                   <!-- <td>{{listing.status}}</td> -->

                   <td ng-if="userType =='super_admin' && user.status !='Pending' &&  user.status !='Rejected'">
                    <button type="button" style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size btn-forInline" ng-click="send({{listing.id}},'{{listing.email}}')">Send</button><button type="button" style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size btn-forInline" ng-click="NDA_view({{listing.id}})">Nda</button><button type="button" style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size btn-forInline" ng-click="saleagreement_view({{listing.id}})">Sale</button></td>
                    <td ng-if="userType =='client' && user.status == 'Pending'">        
                    <button type="button" style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size" ng-click="accept({{listing.id}})">Accept</button><button type="button" style="margin-left:0;width: 59px;" class="btn medium-btn new-btn-size" ng-click="send_reject({{listing.id}})">Reject</button>
                 
                </td>
                </tr>
               
              </table>
               <div style=" text-align: center;padding-top:100px;" ng-if="listing == ''">
                  List Is Epmty
                </div>
     
      </ion-item>
   </div>   
   <!--  </ion-list> -->
    <div ng-if="projectsList.length==0" class="custom-data-found"></div>
  </ion-content>

</ion-view>