<ion-view hide-nav-bar="true" class="project-details todo-list">
 
      <!-- topbar start here -->
    <div class="bar bar-header bar-light">
		<div class="row">
			<div class="col box col-30">
				<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
			</div>
			
			<!-- <div class="col box col-50">
				<h1 class="title">{{taskDetail.title}}</h1>
			</div> -->
			<div class="col box col-70 align-center">
        <h1 class="title">Task Details</h1>
      </div> 
			<div class="col box col-20">
			
			</div>
		</div>
    </div>
 <ion-content>
    <div class="project-details-content" ng-if="showDetail == 1;">
    	<div class="discription description-one">
				<h3>{{taskDetail.task_name}}</h3>
			</div>

    	<div class="discription description-one">
			<p>{{taskDetail.description}}</p>
		</div>
		
		<p class="task-para" ng-if="taskTodo.length">To Do List</p>
		<ion-list class="align-left tasks-lists" can-swipe="true" swipe-direction="both" show-delete="false" >
			<ion-item ng-repeat="row in taskTodo">

					<div class="row no-padding">
                        <div class="col col-70 no-padding description-holder">
							{{row.description}}
						</div>
						<ion-option-button ng-if="currentUser!=row.user_id" side="left" class="button-calm" ng-click="deleteToDoTask({{row.id}});" > Delete </ion-option-button>
						<div class="col col-20 align-center no-padding status-one">{{row.status}}</div>
						<div class="col col-10 align-right no-padding status-holder" >
							<span ng-if="row.status=='working' || row.status=='pending'" title="Mark Completed" ng-click="completeTask(row.id,taskDetail.id,'completed')" class="class2 icon ion-stop pending-one" ></span>
							<span ng-if="row.status=='completed'" title="Mark Working" ng-click="completeTask(row.id,taskDetail.id,'working')" class="class2 icon ion-checkmark-round completed-one" ></span>
						</div>
					</div>
			</ion-item>
		</ion-list>
    </div>	
		
		
		<!-- header ends here -->
		<center>
		 <button class="btn small-btn pink button taskCompleteBtn"  ng-click="taskCompleted();" ng-if="taskDetail.status!='completed'">Status Complete</button>
		</center>
   </ion-content>
  
</ion-view>