/* Fonts */

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebas/bebasneue_bold.eot');
    src: url('../fonts/bebas/bebasneue_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebasneue_bold.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_bold.woff') format('woff'),
         url('../fonts/bebas/bebasneue_bold.ttf') format('truetype'),
         url('../fonts/bebas/bebasneue_bold.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebas/bebasneue_regular.eot');
    src: url('../fonts/bebas/bebasneue_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebasneue_regular.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_regular.woff') format('woff'),
         url('../fonts/bebas/bebasneue_regular.ttf') format('truetype'),
         url('../fonts/bebas/bebasneue_regular.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helvetica/HelveticaNeue.eot');
	src: url('../fonts/helvetica/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/HelveticaNeue.woff2') format('woff2'),
		url('../fonts/helvetica/HelveticaNeue.woff') format('woff'),
		url('../fonts/helvetica/HelveticaNeue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helvetica/HelveticaNeue-Bold.eot');
	src: url('../fonts/helvetica/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/HelveticaNeue-Bold.woff2') format('woff2'),
		url('../fonts/helvetica/HelveticaNeue-Bold.woff') format('woff'),
		url('../fonts/helvetica/HelveticaNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helvetica/HelveticaNeue-Light.eot');
	src: url('../fonts/helvetica/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/HelveticaNeue-Light.woff2') format('woff2'),
		url('../fonts/helvetica/HelveticaNeue-Light.woff') format('woff'),
		url('../fonts/helvetica/HelveticaNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/ProximaNova/ProximaNova-Bold.otf')  format('opentype'),
	   url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
	   url('../fonts/ProximaNova/ProximaNova-Bold.ttf')  format('truetype'),
	   url('../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Icon Fonts */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?qr6o58');
  src:  url('../fonts/icons/icomoon.eot?qr6o58#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?qr6o58') format('truetype'),
    url('../fonts/icons/icomoon.woff?qr6o58') format('woff'),
    url('../fonts/icons/icomoon.svg?qr6o58#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="md-icon-"], [class*=" md-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.md-icon-user:before {
  content: "\e900";
}
.md-icon-activity:before {
  content: "\e901";
}
.md-icon-documents:before {
  content: "\e902";
}
.md-icon-quotes-left:before {
  content: "\e977";
}
.md-icon-invoices:before {
  content: "\e903";
}
.md-icon-email:before {
  content: "\e904";
}
.md-icon-projects:before {
  content: "\e905";
}
.icon-quotes-left:before {
  content: "\e977";
}
.md-icon-tasks:before {
  content: "\e906";
}

/* End Icon Fonts */