/* Login Screen */
.login-screen{
	background-image: url('../img/login-bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	display: inline-block;
	&:after{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.6);
		z-index: -1;
		content: "";
	}
	.logo{
		text-align: center;
		margin-bottom: 5%;
    	margin-top: 25%;
    	img{
    		max-width: 366px;
    	}
	}
	.login-screen-content{
		position: relative;
		z-index: 2;
	}
	.info_center_main{
		width: 80%;
		max-width: 600px;
		margin: 0 auto;
		.assertive{			
			color: $primary;			
		    font-size: 0.9em;
		    margin: 5px 0 0 13px;
		}
		.btn-send{
			margin: 10px 0 0;
		}
	}
	.forgot-signup{
		margin: 60px 0 0 0;
		text-align: center;
		font-family: $proxi;
		a{
			font-family: $proxi;
			font-size: 1em;
			color: $primary;
			text-decoration:none;
			&:hover,
			&:focus{
				text-decoration:none;
			}
		}
		h5{
			font-family: $proxi;
			font-size: 1.1em;
			color: #666;
		}
		.forgot-password{
			margin: 0 0 15px;
		}
		.sign-up{
			a{
				font-size: 1.2em;				
			}
		}
	}
}
/* End Login Screen */

/* Header */
.bar {	
	height:50px;	
	a{
		&.button{
			padding: 0;
			line-height: 1em!important;		
			color: $primary;
			&:before{
				line-height: 1em!important;
				font-size: 28px !important;
			}
			&.md-icon-email{		
				margin: 4px 0 0 0;	
				position:relative;
				&:before{
					font-size: 21px !important;
				}
			}
			&.activated{
				opacity: 0.8;
				color: $primary;
			}
			&:focus,
			&:hover{				
				color: $primary;
			}	
			&.btn-back-span{
				margin-top: -13px;
				&:before{
					line-height: 2.2em !important;
					margin-right: 5px;
					font-size: 25px !important;
				}
				line-height: 1.8em !important;
				color: #231F20;
				span{
					color: $primary;
				}
			}
		}
	}
	
	&.bar-light{
		border-color:#BCBCBC;
		.title{
			color: $heading;			
		}
	}
	&.item-input-inset{
		align-items: baseline;
		.no-padding{
			padding:0 !important;
		}
	}
	.badge{		
		background:$primary;
		color: $white;
	    border-radius: 50%;
	    bottom: -2px;	    
	    font-size: 12px;
	    height: 23px;
	    padding: 2px 0 5px;
	    position: absolute;
	    right: -10px;
	    top: inherit !important;
	    width: 23px;
	    text-align: center !important;
	    &.black{
	    	background:$black;
	    }
	    &.yellow{
	    	background:$yellow;
	    }
	}

	.title{
		margin: 5px 0 0 0;
		color: $heading;
		font-size: 17px;
	}
	.col{
		padding-top:0;
	}

}
/* End Header */

/* Tabs */
.view-container{
	background-image: url('../img/login-bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;	
	&:after{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.6);
		z-index: 0;
		content: "";
	}
}
.pane{
	background: transparent;
	z-index: 2;
}
.tabs{
	background:rgba($white,0.45);
	border-top:none;
	.tab-item{
		padding-top:10px;
		max-width: 50px;
		opacity: 1;
		.icon{
			font-size: 27px;
			color: $black;
		}
		&.tab-item-active{
			.icon{
				color: $white;	
			}
		}
	}	
}

.tabs-top{
	display: inline-block;
	text-align: left !important;
	.tabs{
		display: inline-block;
		text-align: left !important;
		top:50px;	
		.tab-item{
			display: inline-block;
			padding: 0px 8% 8px 8%;
			margin: 1px 0 0;
			float: left;
			max-width: inherit;
			&.activated,
			&.active{
				border-width: 0 0 3px !important;
				border-color: $primary;				
			}
			&.add-icon{
				font-size: 30px;
    			padding: 0 4% 8px 2%;
    			line-height: 1.5em !important;
				color: $primary;
				&.activated,
				&.active{
					border-width: 0 0 3px !important;
					border-color: transparent;				
				}
			}
		}
	}	
}
/* End Tabs */

/* Activity */
.custom-ion-content{
	background:$white;	
	margin-top: 50px;
	a{
		&.button{
			padding: 0;
			line-height: 2em!important;
			color: #939393;
			font-size: 30px;
			font-weight: 500;
			min-height: inherit;
			&.active{
				color: $primary;
			}
			&:after{
				line-height: 1em!important;
			}
		}
	}

	.item{
		border-top:0;
		margin: 0;
		border-bottom:1px solid #EAEAEA;
		h3{
			font-size:19px;
			color: $black;
			margin: 0 0 10px;
			width: 100%;
			float: left;
			line-height:1;
		}
		span{
			font-family: $proxi;
			font-size:15px;
			color: #939393;
			margin: 0 0 7px;
			float: left;
			width: 100%;
			line-height:1;
			overflow: hidden;
			text-overflow: ellipsis;
			&:last-child{
				margin: 0;
			}
		}	
		.md-icon{
			position: relative;			
		}
	}	
}
/* End Activity */

/* Projects */
.itemList,
.custom-tab-tasks{
	//margin-top: 97px;
	background:$white;
	padding-top:97px;
	.item{
		border-top:0;
		margin: 0;
		border-bottom:1px solid #EAEAEA;
		h3{
			font-size:19px;
			color: $black;
			margin: 0 0 10px;
			width: 100%;
			float: left;
			line-height:1;
		}
		span{
			font-family: $proxi;
			font-size:15px;
			color: #939393;
			margin: 0 0 7px;
			float: left;
			width: 100%;
			line-height:1;
			overflow: hidden;    
    		text-overflow: ellipsis;			
		}	
		.md-icon{
			position: relative;			
		}
	}
}
/* Projects */

/* Registration */
.registration{
	.bar{
		&.bar-header{
			background:transparent;
			border-bottom:none;
		}
	}
	.logo{
		margin-bottom: 3%;	    
	    text-align: center;
		img{
			max-width: 366px;
		}
	}
	.itemList{
		padding-top: 67px;
	}
	.btn-send{
		margin-top: 10px;
	}

}
/* End Registration */

/* Project Details */
.project-details{
	background:$white;
	.project-details-content{
		text-align: center;
		padding: 87px 0 0;
		.nextpayment{
			color: #444;
    		font-size: 17px;
			margin-bottom: 10px;
			line-height:1.3em;
		}
		.prijectPrice{
			font-size: 25px;
			color: $black;
			margin-bottom: 15px;	
		}
		.discription{						
    		margin-top: 15px;
			margin-bottom: 15px;
			p{
				color: $black;
    			font-size: 17px;	
			}
		}
		.projectlinks{
			margin-top: 25px;
			p{
				color: #444;
    			font-size: 15px;
    		}
    		ul{
    			li{
    				width: auto;
    				display: inline-block;
    				margin: 0 5px;
    				a{
    					color: $primary;
    					text-decoration: none;
    					font-size: 30px;
    					&.md-icon-email{
    						font-size: 23px;
    						span{
    							margin-top: -5px;	
    						}    						
    					}
    					span{
	    					color: $black;	
	    					display: inline-block;				    
						    font-size: 19px;
						    line-height: 1.5em;
						    margin-left: 5px;
						    margin-top: 2px;
						    vertical-align: top;
	    				}
    				}
    				
    			}
    		}
		}
	}
}
/* End Project Details */

/* Invoice Detail*/
.invoice-details{	
	.scroll{
		min-height: 100%;
	}
	.project-details-content{
		text-align: center;
		padding: 75px 0 1px;
		background:$white;
		position: relative;
		.projectPrice{
			font-size: 25px;
			color: $black;
			margin-bottom: 20px;	
		}		
		.paymeny-btn{
			margin: 0 0 18px;
		}
		h3{
			font-size: 20px;
			color: $black;
			margin: 0 0 10px;
		}
		.date{
			font-size: 15px;
			line-height: 1.3em;
			color: #7F7F7F;
			margin: 0 0 18px;
		}				
	}
	.list-wrappper {
	    padding-bottom: 48px;
	}
	.invoice-list{
		padding-bottom:48px;
		text-align: left;
		position: relative;		
		.item{
			&:last-child{
				border-bottom:none;
			}
		}	
	}
	.showTotal{
		background:$white;
		position: fixed !important;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top:1px solid #ccc;
		padding:15px;
	}

}
/* End Invoice Detail*/

/* Pay Now */
.pay-now{
	background:$white;
	.project-details-content{		
		padding: 75px 0 48px;
		position: relative;
		.projectPrice{
			font-size: 25px;
			color: $black;
			margin-bottom: 10px;	
		}		
		.paymeny-btn{
			margin: 0 0 25px;
		}
		h3{
			color: $black;
			font-size: 17px;
			margin: 0 0 10px;
		}
	}
}
/*  End Pay Now */

/* Tasks */

.add-task-wrapper{
	background:$white;
}
.task-form{
	padding: 50px 0 48px;
	.item-input{
		padding:10px;
		display: inline-block;
	}
	.add-item-btn{
		margin: 0 0 20px;
	}
}
.tasks-lists{
	.icon{
		color: $primary;
		font-size: 20px;
		margin: 0 5px;
	}
}
.todo-list{
	.project-details-content{
		padding: 55px 0 0;
	}
	.taskCompleteBtn{
		margin-top: 25px;
	}
}
/* End Tasks */

/* Add Message */
.addMessage{
	background:$white;
	.custom-add-msg{
		padding-top: 80px;
	}		
}
.serachField{
	text-align: left;
	ion-item {
	   min-height: 37px;
	   padding:10px 0 0 15px;
	   border-radius:30px;
	   border-color:#bbb;
	   color: #999999;
	   &.activated{
	   	background:$white;
	   }
	}
	.item-note{
		background: $white none repeat scroll 0 0;
	    color: #aaa;
	    float: right;
	    font-size: 14px;
	    padding: 9px 15px 10px 5px;
	    position: absolute;
	    right: 0;
	    top: 0;
	}
}

/* Message List */ 
.message-list{
	.custom-msg-bg{
		text-align: center;
		h3{
			color: $grey;
			font-size: 15px;
			margin: 0;
		}		
	}
	.subject{
		color: $black;
	    float: left;
	    font-size: 19px;
	    line-height: 1;
	    margin: 0 0 10px;
	    width: 100%;
	}
	.discription,
	.message{
		color: #939393;
	    float: left;
	    font-family:$proxi;
	    font-size: 15px;
	    line-height: 1;
	    margin: 0 0 7px;
	    width: 100%;
	}
}
.messageDetails{
	background:$white;
	text-align:center;
	h3 {
		color: $black;
		float: left;
		font-size: 25px;
		line-height: 1;
		margin: 0 0 10px;
		width: 100%;
	}
	.projectdetail{
		color: #939393;
	    float: left;
	    font-family: $proxi;
	    font-size: 16px;
	    line-height: 1;
	    margin: 0 0 7px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    width: 100%;
	}
	.custom-msg-detail{
		color: $primary;
	}
}
.messageReply{
	background:$white;
}

/* Document Detail */
.document-detail{
	background:$white;
	.custom-doc-detail{
		padding-top: 65px;
		padding-bottom: 90px;
		text-align: center;
		h3{
			color: $black;
    		font-size: 23px;
    		margin-top: 15px;
    		margin-bottom: 5px;
		}
		.main-block{
			div{
				color: #939393;
	    		font-size: 17px;
	    		line-height: 1.2em;
	    		margin-bottom: 15px;
	    		text-align: left;
			}
		}
	}
}

/* Date Picker */
.popup-open{
	.ionic_datepicker_popup{
		.col{
			padding: 8px;
			&.selected_date {
			    background-color: $primary;
			    border-color: $primary;
			    color: #ffffff;					    	    
			}
			&.today{
				border-color: $primary;	
			}
		}
		.popup-body{
			border-radius: 15px 15px 0 0;
			.selected_date_full{
				border-radius: 15px 15px 0 0;
				background:#222;
				color: $white;
				font-weight: 400;
			}	
			.button-clear{
				color:$black;
			}
			.year_select,
			.month_select{
				border-bottom-color:#bbb;
				&:after{
					color:$primary;
				}
				select{
					border-radius:0;
				}
			}			
		}
		.popup-buttons{				
		    .button{
		    	background-color: $primary;			    
			    margin-right: 1px;
			    color: $white;
			    border-radius: 0 !important;
			    margin-left: 0;
			    font-size: 12px;
			    text-align: center !important;
			    padding: 0!important;
			    max-width: 100% !important;
			    left: 0px;
		    	min-height: 15px;
		    	&:last-child{
		    		margin-right: 0;
		    	}
		    }
		}
		
	}
}