// Variables

$bebas-bold : 'bebas_neuebold';
$bebas : 'bebas_neue_regularregular';

$helvetica : 'Helvetica Neue';

$proxi-bold : 'ProximaNova-Bold';
$proxi : 'Proxima Nova';

$primary : #E30A7C;
$black : #000;
$white : #fff;
$yellow: #BCB826;
$grey: #848484;


$heading : #3A3A3A;

$header-fonts : $proxi;
$header1 : 2.5em;
$header2 : 2.3em;
$header3 : 2em;
$header4 : 1.8em;
$header5 : 1.5em;
$header6 : 1.2em;

$p-default-color : #444;
$p-default-size : 16px;

$defalut-color : #000;