/*
*	App Name : BB App
*	Author	 : Bleeding Bulb
*	Plaform	 : IONIC V1
*/

body {
    line-height: 1;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    color: #000;
}


/* Form Elements */

.fieldset {
    margin: 0 0 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    font-family: "Proxima Nova";
    color: #999999;
    width: 100%;
    border: 1px solid #bbb;
    font-size: 17px;
    line-height: 1.2;
    padding: 10px 20px 5px 15px;
    height: auto;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.68);
}

input[type="text"].invalid,
input[type="email"].invalid,
input[type="password"].invalid,
select.invalid,
textarea.invalid {
    border-color: #E30A7C;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.item-toggle {
    background: rgba(255, 255, 255, 0.68);
    border: none;
    padding-right: 60px;
    padding-top: 18px;
}

.item-toggle .toggle {
    right: 45px !important;
}

.item-toggle .toggle input:checked+.track {
    background: #E30A7C;
    border-color: #E30A7C;
}

textarea {
    border-radius: 10px;
    height: 80px;
    resize: none;
}

select {
    padding: 10px 20px 5px 10px;
    border-radius: 10px;
}

.fancy-select {
    position: relative;
    color: #46565D;
}

.fancy-select.disabled {
    opacity: 0.5;
}

.fancy-select select:focus+div.trigger.open {
    box-shadow: none;
}

.fancy-select div.trigger {
    cursor: pointer;
    padding: 3px 0px 4px 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    background: #101e29;
    background: rgba(0, 150, 255, 0.1);
    border: 1px solid #E30A7C;
    color: #E30A7C;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 240ms ease-out;
}

.fancy-select div.trigger:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #E30A7C;
    top: 11px;
    right: 9px;
}

.fancy-select div.trigger.open {
    box-shadow: none;
}

.fancy-select div.trigger.open:after {
    border-top-color: #7A8498;
}

.fancy-select ul.options {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
    max-height: 200px;
    overflow: auto;
    background: #101e29;
    border: 1px solid #E30A7C;
    border-top: none;
    width: 100%;
    transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

.fancy-select ul.options::-webkit-scrollbar {
    width: 10px;
}

.fancy-select ul.options::-webkit-scrollbar-track {
    background: black;
}

.fancy-select ul.options::-webkit-scrollbar-thumb {
    background: #E30A7C;
}

.fancy-select ul.options.open {
    visibility: visible;
    top: 28px;
    opacity: 1;
    /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
    /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
    transition: opacity 300ms ease-out, top 300ms ease-out;
}

.fancy-select ul.options.overflowing {
    top: auto;
    bottom: 40px;
    transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

.fancy-select ul.options.overflowing.open {
    top: auto;
    bottom: 50px;
    transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

.fancy-select ul.options li {
    display: block;
    padding: 4px 8px;
    color: #E30A7C;
    cursor: pointer;
    white-space: nowrap;
    transition: all 150ms ease-out;
}

.fancy-select ul.options li.selected {
    background: #E30A7C;
    color: #b1afac;
}

.fancy-select ul.options li.hover {
    color: #b1afac;
}

.btn,
button {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 30px !important;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 30% !important;
    vertical-align: top;
    min-height: inherit;
    line-height: 1;
}

.btn.pink,
button.pink {
    background: transparent;
    border-color: #E30A7C;
    color: #E30A7C;
}

.btn.pink:hover,
button.pink:hover {
    color: #E30A7C;
}

.btn.small-btn,
button.small-btn {
    padding: 8px 5% !important;
}

.btn.medium-btn,
button.medium-btn {
    padding: 8px 15% !important;
}

.btn.outline,
button.outline {
    color: #000;
    background: transparent;
}

.btn.cancel-btn,
button.cancel-btn {
    background: transparent;
    border: none;
    color: #000;
    padding: 0 !important;
}

.btn.cancel-btn.pink-color,
button.cancel-btn.pink-color {
    color: #E30A7C;
}


/* Comman Css */

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.no-padding {
    padding: 0 !important;
}


/* End Comman Css */


/* Dots */

.dots {
    background: #E30A7C none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 10px;
    display: inline-block;
    height: 7px !important;
    width: 7px !important;
    position: absolute;
    right: -8px;
}

.dots.big {
    height: 15px !important;
    width: 15px !important;
}

.dots.black {
    background: #000;
}

.dots.yellow {
    background: #BCB826;
}

.dots.grey {
    background: #848484;
}


/* End Dots */

.popup-container .popup {
    border-radius: 15px;
}

.popup-container .popup .popup-head {
    border: none;
}


/* Fonts */

@font-face {
    font-family: 'bebas_neuebold';
    src: url("../fonts/bebas/bebasneue_bold.eot");
    src: url("../fonts/bebas/bebasneue_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas/bebasneue_bold.woff2") format("woff2"), url("../fonts/bebas/bebasneue_bold.woff") format("woff"), url("../fonts/bebas/bebasneue_bold.ttf") format("truetype"), url("../fonts/bebas/bebasneue_bold.svg#bebas_neuebold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url("../fonts/bebas/bebasneue_regular.eot");
    src: url("../fonts/bebas/bebasneue_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas/bebasneue_regular.woff2") format("woff2"), url("../fonts/bebas/bebasneue_regular.woff") format("woff"), url("../fonts/bebas/bebasneue_regular.ttf") format("truetype"), url("../fonts/bebas/bebasneue_regular.svg#bebas_neue_regularregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url("../fonts/helvetica/HelveticaNeue.eot");
    src: url("../fonts/helvetica/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeue.woff2") format("woff2"), url("../fonts/helvetica/HelveticaNeue.woff") format("woff"), url("../fonts/helvetica/HelveticaNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url("../fonts/helvetica/HelveticaNeue-Bold.eot");
    src: url("../fonts/helvetica/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/helvetica/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/helvetica/HelveticaNeue-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url("../fonts/helvetica/HelveticaNeue-Light.eot");
    src: url("../fonts/helvetica/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/helvetica/HelveticaNeue-Light.woff") format("woff"), url("../fonts/helvetica/HelveticaNeue-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.otf") format("opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Icon Fonts */

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icons/icomoon.eot?qr6o58");
    src: url("../fonts/icons/icomoon.eot?qr6o58#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?qr6o58") format("truetype"), url("../fonts/icons/icomoon.woff?qr6o58") format("woff"), url("../fonts/icons/icomoon.svg?qr6o58#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="md-icon-"],
[class*=" md-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.md-icon-user:before {
    content: "\e900";
}

.md-icon-activity:before {
    content: "\e901";
}

.md-icon-quotes-left:before {
    content: "\e977";
}

.md-icon-documents:before {
    content: "\e902";
}

.md-icon-invoices:before {
    content: "\e903";
}

.md-icon-email:before {
    content: "\e904";
}

.md-icon-projects:before {
    content: "\e905";
}

.md-icon-tasks:before {
    content: "\e906";
}

.md-icon-quotes:before {
    content: "\e907";
}


/* End Icon Fonts */


/* TypoGraphy */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Proxima Nova";
    color: #3A3A3A;
    margin: 5px 0;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    transition: all 0.5s ease-in 0s;
}

h1,
.h1 {
    font-size: 2.5em;
    /*Maximum size of the design*/
}

h2,
.h2 {
    font-size: 2.3em;
}

h3,
.h3 {
    font-size: 2em;
}

h4,
.h4 {
    font-size: 1.8em;
}

h5,
.h5 {
    font-size: 1.5em;
}

h6,
.h6 {
    font-size: 1.2em;
}

p {
    color: #444;
    font-size: 16px;
    line-height: normal;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    transition: all 0.5s ease-in 0s;
}


/* Login Screen */

.login-screen {
    background-image: url("../img/login-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    display: inline-block;
}

.login-screen:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: -1;
    content: "";
}

.login-screen .logo {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 25%;
}

.login-screen .logo img {
    max-width: 366px;
}

.login-screen .login-screen-content {
    position: relative;
    z-index: 2;
}

.login-screen .info_center_main {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.login-screen .info_center_main .assertive {
    color: #E30A7C;
    font-size: 0.9em;
    margin: 5px 0 0 13px;
}

.login-screen .info_center_main .btn-send {
    margin: 10px 0 0;
}

.login-screen .forgot-signup {
    margin: 60px 0 0 0;
    text-align: center;
    font-family: "Proxima Nova";
}

.login-screen .forgot-signup a {
    font-family: "Proxima Nova";
    font-size: 1em;
    color: #E30A7C;
    text-decoration: none;
}

.login-screen .forgot-signup a:hover,
.login-screen .forgot-signup a:focus {
    text-decoration: none;
}

.login-screen .forgot-signup h5 {
    font-family: "Proxima Nova";
    font-size: 1.1em;
    color: #666;
}

.login-screen .forgot-signup .forgot-password {
    margin: 0 0 15px;
}

.login-screen .forgot-signup .sign-up a {
    font-size: 1.2em;
}


/* End Login Screen */


/* Header */

.bar {
    height: 50px;
}

.bar a.button {
    padding: 0;
    line-height: 1em !important;
    color: #E30A7C;
}

.bar a.button:before {
    line-height: 1em !important;
    font-size: 28px !important;
}

.bar a.button.md-icon-email {
    margin: 4px 0 0 0;
    position: relative;
}

.bar a.button.md-icon-email:before {
    font-size: 21px !important;
}

.bar a.button.activated {
    opacity: 0.8;
    color: #E30A7C;
}

.bar a.button:focus,
.bar a.button:hover {
    color: #E30A7C;
}

.bar a.button.btn-back-span {
    margin-top: -13px;
    line-height: 1.8em !important;
    color: #231F20;
}

.bar a.button.btn-back-span:before {
    line-height: 2.2em !important;
    margin-right: 5px;
    font-size: 25px !important;
}

.bar a.button.btn-back-span span {
    color: #E30A7C;
}

.bar.bar-light {
    border-color: #BCBCBC;
}

.bar.bar-light .title {
    color: #3A3A3A;
}

.bar.item-input-inset {
    align-items: baseline;
}

.bar.item-input-inset .no-padding {
    padding: 0 !important;
}

.bar .badge {
    background: #E30A7C;
    color: #fff;
    border-radius: 50%;
    bottom: -2px;
    font-size: 12px;
    height: 23px;
    padding: 2px 0 5px;
    position: absolute;
    right: -10px;
    top: inherit !important;
    width: 23px;
    text-align: center !important;
}

.bar .badge.black {
    background: #000;
}

.bar .badge.yellow {
    background: #BCB826;
}

.bar .title {
    margin: 5px 0 0 0;
    color: #3A3A3A;
    font-size: 17px;
}

.bar .col {
    padding-top: 0;
}


/* End Header */


/* Tabs */

.view-container {
    background-image: url("../img/login-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.view-container:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 0;
    content: "";
}

.pane {
    background: transparent;
    z-index: 2;
}

.tabs {
    background: rgba(255, 255, 255, 0.45);
    border-top: none;
}

.tabs .tab-item {
    padding-top: 10px;
    max-width: 50px;
    opacity: 1;
}

.tabs .tab-item .icon {
    font-size: 27px;
    color: #000;
}

.tabs .tab-item.tab-item-active .icon {
    color: #fff;
}

.tabs-top {
    display: inline-block;
    text-align: left !important;
}

.tabs-top .tabs {
    display: inline-block;
    text-align: left !important;
    top: 50px;
}

.tabs-top .tabs .tab-item {
    display: inline-block;
    padding: 0px 8% 8px 8%;
    margin: 1px 0 0;
    float: left;
    max-width: inherit;
}

.tabs-top .tabs .tab-item.activated,
.tabs-top .tabs .tab-item.active {
    border-width: 0 0 3px !important;
    border-color: #E30A7C;
}

.tabs-top .tabs .tab-item.add-icon {
    font-size: 30px;
    padding: 0 4% 8px 2%;
    line-height: 1.5em !important;
    color: #E30A7C;
}

.tabs-top .tabs .tab-item.add-icon.activated,
.tabs-top .tabs .tab-item.add-icon.active {
    border-width: 0 0 3px !important;
    border-color: transparent;
}


/* End Tabs */


/* Activity */

.custom-ion-content {
    background: #fff;
    margin-top: 50px;
}

.custom-ion-content a.button {
    padding: 0;
    line-height: 2em !important;
    color: #939393;
    font-size: 30px;
    font-weight: 500;
    min-height: inherit;
}

.custom-ion-content a.button.active {
    color: #E30A7C;
}

.custom-ion-content a.button:after {
    line-height: 1em !important;
}

.custom-ion-content .item {
    border-top: 0;
    margin: 0;
    border-bottom: 1px solid #EAEAEA;
}

.custom-ion-content .item h3 {
    font-size: 19px;
    color: #000;
    margin: 0 0 10px;
    width: 100%;
    float: left;
    line-height: 1;
}

.custom-ion-content .item span {
    font-family: "Proxima Nova";
    font-size: 15px;
    color: #939393;
    margin: 0 0 7px;
    float: left;
    width: 100%;
    line-height: 1;
}

.custom-ion-content .item span:last-child {
    margin: 0;
}

.custom-ion-content .item .md-icon {
    position: relative;
}


/* End Activity */


/* Projects */

.itemList,
.custom-tab-tasks {
    padding-top: 97px;
}

.itemList .item,
.custom-tab-tasks .item {
    border-top: 0;
    margin: 0;
    border-bottom: 1px solid #EAEAEA;
}

.itemList .item h3,
.custom-tab-tasks .item h3 {
    font-size: 19px;
    color: #000;
    margin: 0 0 10px;
    width: 100%;
    float: left;
    line-height: 1;
}

.itemList .item span,
.custom-tab-tasks .item span {
    font-family: "Proxima Nova";
    font-size: 15px;
    color: #939393;
    margin: 0 0 7px;
    float: left;
    width: 100%;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemList .item .md-icon,
.custom-tab-tasks .item .md-icon {
    position: relative;
}


/* Projects */


/* Registration */

.registration .bar.bar-header {
    background: transparent;
    border-bottom: none;
}

.registration .logo {
    margin-bottom: 3%;
    text-align: center;
}

.registration .logo img {
    max-width: 366px;
}

.registration .itemList {
    padding-top: 67px;
}

.registration .btn-send {
    margin-top: 10px;
}


/* End Registration */


/* Project Details */

.project-details {
    background: #fff;
}

.project-details .project-details-content {
    text-align: center;
    padding: 87px 0 0;
}

.project-details .project-details-content .nextpayment {
    color: #444;
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 1.3em;
}

.project-details .project-details-content .prijectPrice {
    font-size: 25px;
    color: #000;
    margin-bottom: 15px;
}

.project-details .project-details-content .discription {
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-details .project-details-content .discription p {
    color: #000;
    font-size: 17px;
}

.project-details .project-details-content .projectlinks {
    margin-top: 25px;
}

.project-details .project-details-content .projectlinks p {
    color: #444;
    font-size: 15px;
}

.project-details .project-details-content .projectlinks ul li {
    width: auto;
    display: inline-block;
    margin: 0 5px;
}

.project-details .project-details-content .projectlinks ul li a {
    color: #E30A7C;
    text-decoration: none;
    font-size: 30px;
}

.project-details .project-details-content .projectlinks ul li a.md-icon-email {
    font-size: 23px;
}

.project-details .project-details-content .projectlinks ul li a.md-icon-email span {
    margin-top: -5px;
}

.project-details .project-details-content .projectlinks ul li a span {
    color: #000;
    display: inline-block;
    font-size: 19px;
    line-height: 1.5em;
    margin-left: 5px;
    margin-top: 2px;
    vertical-align: top;
}


/* End Project Details */


/* Invoice Detail*/

.invoice-details .scroll {
    min-height: 100%;
}

.invoice-details .project-details-content {
    text-align: center;
    padding: 75px 0 1px;
    background: #fff;
    position: relative;
}

.invoice-details .project-details-content .projectPrice {
    font-size: 25px;
    color: #000;
    margin-bottom: 20px;
}

.invoice-details .project-details-content .paymeny-btn {
    margin: 0 0 18px;
}

.invoice-details .project-details-content h3 {
    font-size: 20px;
    color: #000;
    margin: 0 0 10px;
}

.invoice-details .project-details-content .date {
    font-size: 15px;
    line-height: 1.3em;
    color: #7F7F7F;
    margin: 0 0 18px;
}

.invoice-details .list-wrappper {
    padding-bottom: 48px;
}

.invoice-details .invoice-list {
    padding-bottom: 48px;
    text-align: left;
    position: relative;
}

.invoice-details .invoice-list .item:last-child {
    border-bottom: none;
}

.invoice-details .showTotal {
    background: #fff;
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
}


/* End Invoice Detail*/


/* Pay Now */

.pay-now {
    background: #fff;
}

.pay-now .project-details-content {
    padding: 75px 0 48px;
    position: relative;
}

.pay-now .project-details-content .projectPrice {
    font-size: 25px;
    color: #000;
    margin-bottom: 10px;
}

.pay-now .project-details-content .paymeny-btn {
    margin: 0 0 25px;
}

.pay-now .project-details-content h3 {
    color: #000;
    font-size: 17px;
    margin: 0 0 10px;
}


/*  End Pay Now */


/* Tasks */

.add-task-wrapper {
    background: #fff;
}

.task-form {
    padding: 50px 0 48px;
}

.task-form .item-input {
    padding: 10px;
    display: inline-block;
}

.task-form .add-item-btn {
    margin: 0 0 20px;
}

.tasks-lists .icon {
    color: #E30A7C;
    font-size: 20px;
    margin: 0 5px;
}

.todo-list .project-details-content {
    padding: 55px 0 0;
}


/* End Tasks */


/* Add Message */

.addMessage {
    background: #fff;
}

.addMessage .custom-add-msg {
    padding-top: 80px;
}

.addMessage .serachField {
    text-align: left;
}

.addMessage .serachField ion-item {
    min-height: 37px;
    padding: 10px 0 0 15px;
    border-radius: 30px;
    border-color: #bbb;
    color: #999999;
}

.addMessage .serachField ion-item.activated {
    background: #fff;
}

.addMessage .serachField .item-note {
    background: #fff none repeat scroll 0 0;
    color: #aaa;
    float: right;
    font-size: 14px;
    padding: 7px 15px 10px 5px;
    position: absolute;
    right: 0;
    top: 0;
}


/* Message List */

.message-list .custom-msg-bg {
    text-align: center;
}

.message-list .custom-msg-bg h3 {
    color: #848484;
    font-size: 15px;
    margin: 0;
}

.message-list .subject {
    color: #000;
    float: left;
    font-size: 19px;
    line-height: 1;
    margin: 0 0 10px;
    width: 100%;
}

.message-list .discription,
.message-list .message {
    color: #939393;
    float: left;
    font-family: "Proxima Nova";
    font-size: 15px;
    line-height: 1;
    margin: 0 0 7px;
    width: 100%;
}

.messageDetails {
    background: #fff;
    text-align: center;
}

.messageDetails h3 {
    color: #000;
    float: left;
    font-size: 25px;
    line-height: 1;
    margin: 0 0 10px;
    width: 100%;
}

.messageDetails .projectdetail {
    color: #939393;
    float: left;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 1;
    margin: 0 0 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.messageDetails .custom-msg-detail {
    color: #E30A7C;
}

.messageReply {
    background: #fff;
}


/* Document Detail */

.document-detail {
    background: #fff;
}

.document-detail .custom-doc-detail {
    padding-top: 65px;
    text-align: center;
}

.document-detail .custom-doc-detail h3 {
    color: #000;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.document-detail .custom-doc-detail .main-block div {
    color: #939393;
    font-size: 17px;
    line-height: 1.2em;
    margin-bottom: 15px;
    text-align: left;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*# sourceMappingURL=sassStyle.css.map */