<ion-view hide-nav-bar="true" class="document-detail">
  <ion-content>
      <!-- topbar start here -->

		
		<!-- header ends here -->
   </ion-content>

   
  
   
	 	<center>
dddddddddddddddddd
d
d
d
d
d
d
d
d
d
d

		</center>
	
</ion-view>
