<ion-view view-title="Projects" hide-nav-bar="true">
        <div class="bar bar-header bar-light">
                <div class="row">
                        <div class="col box col-30 for-btn-log align-left">
                                <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" href = "#/sociallogin/{{projectid}}">
                                        <span class="fontfem btn-back">Back</span>
                                </a>
                        </div>

                        <div class="col box col-70 align-center">
                                <h1 class="title">Facebook</h1>
                        </div>
                </div>
        </div>
        <ion-content class="custom-ion-content custome">

                <div class="spin" ng-if="!posts" style="text-align: center; margin-top:15px;">
                        <ion-spinner></ion-spinner>
                </div>

                <div>
                        <div class="item item-input item-select">
                                <select ng-model="pages" ng-change='getPageData()'>
                                        <option value="timeline"> Timeline </option>
                                        <option ng-repeat="acc in accName" value="{{accName.indexOf(acc)}}">
                                                {{ acc.name }}
                                        </option>
                                </select>
                        </div>
                        <br>
                </div>
                <div class="item item-avatar">
                                <p style="text-align:center;">{{allfriends}}</p>
                                <p style="text-align:center;">You Have Friends</p>
                                </div>
                <div class="PostList" ng-repeat="post in posts">
                        <div class="list card">
                                        
                                <div class="item item-avatar">
                                        <img src="http://graph.facebook.com/{{post.from.id}}/picture?type=square">
                                        <h2> {{ post.from.name }} </h2>
                                        <p> {{ post.created_time | date }} </p>
                                </div>

                                <div class="item item-body">
                                        <div ng-if="post.attachments && post.attachments.data.length>0">
                                                <div ng-if="post.attachments">
                                                        <img src="{{ post.attachments.data[0].media.image.src }}">
                                                </div>
                                        </div>
                                        <p ng-if="post.message">{{ post.message }}</p>
                                        <div class="row">
                                                <div class="col">
                                                        <div class="button col button-small button-outline small button-positive cmtBTN" ng-click="fnPlaceLike(post,$index)">
                                                                <i class="icon ion-thumbsup" ng-disabled="post.likes.summary.has_liked">
                                                                        <i ng-if="post.likes.summary"> {{ post.likes.summary.total_count }} </i> Like
                                                                </i>
                                                                <!-- <i class="icon ion-thumbsdown" ng-if="post.likes.summary.has_liked">
                                                                        <i ng-if="post.likes.summary"> {{ post.likes.summary.total_count }} </i> Like
                                                                </i> -->

                                                        </div>
                                                </div>
                                                <div class="col">
                                                        <div class="button col  button-small button-outline small button-positive cmtBTN" ng-click="post.showCmt = !post.showCmt">
                                                                <i class="icon ion-android-textsms">
                                                                        <i ng-if="post.comments.summary && post.comments.data && post.comments.data.length>0">
                                                                                {{ post.comments.data.length }}
                                                                        </i>
                                                                        Comment
                                                                </i>

                                                        </div>
                                                </div>
                                        </div>
                                        <div class="row" ng-if="post.likes.summary.total_count>0" ng-click="showpostLikes(post.likes.data)" class="bt">
                                                <div class="col">
                                                        <p ng-if="(post.likes.summary.total_count==1)&&(post.likes.data)" ng-click="viewLike(post,$index)">
                                                                <a>
                                                                        <i class="icon ion-thumbsup"></i> {{ post.likes.data[0].name }}
                                                                </a>
                                                        </p>
                                                        <p ng-if="(post.likes.summary.total_count==2)&&(post.likes.data)" ng-click="viewLike(post,$index)">
                                                                <a>
                                                                        <i class="icon ion-thumbsup"></i> {{ post.likes.data[0].name }}, {{ post.likes.data[1].name
                                                                        }}
                                                                </a>
                                                        </p>
                                                        <p ng-if="(post.likes.summary.total_count>2)&&(post.likes.data)" ng-click="viewLike(post,$index)">
                                                                <a>
                                                                        <i class="icon ion-thumbsup"></i> {{post.likes.data[0].name}}, {{post.likes.data[1].name}}
                                                                        or {{post.likes.summary.total_count-2}} others
                                                                </a>
                                                        </p>
                                                </div>
                                                
                                        </div>
                                </div>
                                
                                
                            <!--    <div ng-if="showlikes == 1" ng-repeat="lik in listOfLikes">
                                                <i class="icon ion-thumbsup"></i> {{lik}}<br>
                                                </div> -->
                                <div class="list card" ng-if="flag==1 ">
                                        <div class="item item-avatar item-button-right">
                                                <img src="http://graph.facebook.com/{{post.from.id}}/picture?type=square">
                                                <h2> {{post.from.name }} </h2>
                                                <input type="text" placeholder="Enter a Comment" id="{{post.id}}" ng-model="post.placeCmt">

                                                <button class="button button-outline small button-positive cmtBTN" ng-click="fnPlaceComment(post,posts.indexOf(post))" ng-if="!showLoder">
                                                        Go
                                                </button>
                                                <button class="button button-outline small button-positive cmtBTN" ng-if="showLoder" disabled>
                                                        <ion-spinner name="bubbles"></ion-spinner>
                                                </button>
                                        </div>
                                        <!-- <div class="item" ng-if="post.comments&&post.showCmt&&post.comments.data.length>5" ng-click="fnDisplayAllComment(post,posts.indexOf(post))">
                                                <a>
                                                        Diaplay All Comments
                                                </a>
                                        </div> -->
                                </div>

                                <div ng-if=" post.comments && post.showCmt ">
                                        <div ng-repeat="comment in post.comments.data">
                                                <div class="item item-avatar item-button-right" ng-click="ShowReplayComments(comment,posts.indexOf(post),post.comments.data.indexOf(comment))">
                                                        <img src="http://graph.facebook.com/{{comment.from.id}}/picture?type=square">

                                                        <h2>{{ comment.from.name }}
                                                                <br/> {{ comment.created_time | date }} </h2>
                                                        <!-- <h3>{{ comment.created_time | date:"dd/MM/yyyy hh:mm" }} </h3> -->
                                                        <p>{{ comment.message }}</p>
                                                </div>
                                                <div class="item item-avatar item-button-right" ng-if="comment.showReplayTextBox">
                                                        <img src="http://graph.facebook.com/{{post.from.id}}/picture?type=square">
                                                        <h2 class="priamary"> {{ post.from.name }} </h2>
                                                        <input type="text" placeholder="Enter a Replay" id="{{post.id}}" ng-model="comment.setReplay" />
                                                        <button class="button button-outline small button-positive cmtBTN" ng-if="showReplayLoder==false" ng-click="fnPlaceReplayonComment(comment,posts.indexOf(post),post.comments.data.indexOf(comment))">Replay </button>
                                                        <button class="button button-outline small button-positive cmtBTN" disabled ng-if="showReplayLoder">
                                                                <ion-spinner name="bubbles"></ion-spinner>
                                                        </button>
                                                </div>
                                                <div ng-if="comment.showReplayTextBox&&comment.replayComments" class="list card" style="background: lightgray">
                                                        <div class="item item-avatar" ng-repeat="replayComment in comment.replayComments">

                                                                <img src="http://graph.facebook.com/{{replayComment.from.id}}/picture?type=square">

                                                                <h2>{{ replayComment.from.name }}
                                                                        <br/> {{ replayComment.created_time | date }}</h2>

                                                                <p>{{ replayComment.message }}</p>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </ion-content>
</ion-view>