<ion-view hide-nav-bar="true" class="project-details">
  

    <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Heatmap</h1>

        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>

  <ion-content>
    <div class="project-details-content">
     <table class="for-table">
      <tr>
      <th>Page</th>
      <th>Click</th>
      <th>Click Image</th>
      <th>Eye</th>
      <th>Eye Image</th>
      <th>Scroll</th>
      <th>Scroll Image</th>
      <th>Nots</th>
    </tr>
  <tr ng-repeat="items in data track by $index" >
  <!-- <tr> -->
     <td>{{items.page}}</td>
     <td>{{items.organic_status}}</td>
     <td>{{}}</td>
     <td>{{items.direct_status}}</td>
     <td>{{items.notes}}</td>
     <td>{{items.social_status}}</td>
     <td>{{items.notes}}</td>
     <td>{{items.notes}}</td>
  </tr>
</table>
    </div>
    

  </ion-content>
</ion-view>
