<ion-view hide-nav-bar="true" class="project-details">
  

    <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">History</h1>

        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>
<ion-content>
  
    <div class="project-details-content">
     <table class="for-table">
      <tr style="border-bottom: 1px solid lightgrey;">
      <th style="width: 90px;font-weight: 900; border:0;">Date</th>
      <th style="font-weight: 900; border:0;">Details</th>
    </tr>
  <tr style="border-bottom: 1px solid lightgrey;" ng-repeat="items in data track by $index" >
  <!-- <tr> -->
     <td>{{items.time_stamp}}</td>
     <td>{{items.description}}</td>
  </tr>
</table>
    </div>
    

  </ion-content>
</ion-view>
