<ion-view hide-nav-bar="true" class="invoice-details">
  
      <!-- topbar start here -->
    <div class="bar bar-header bar-light" >
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">Invoice Detail</h1>
        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>
    <ion-content class="for-family" >
    <div ng-if="showDetail==1">
      <div class="project-details-content" >

    		<div class="projectPrice">{{invoiceDetail.total_price}}</div>
    		<div class='paymeny-btn' ng-if='invoiceDetail.status=="pending"'>
          <button class="btn medium-btn pink" type="button" ng-click="payInvoice()">Pay Now</button>
        </div>

    		<div class="due-dates">
    			<h3 ng-ig="invoiceDetail.invoice_name!=''">{{invoiceDetail.invoice_name}}</h3>
          <div class="date">Due Date <br/> {{invoiceDetail.due_date | date:'MM/dd/yyyy'}}</div>
          <div class='paymeny-btn' ng-if='invoiceDetail.status=="completed"'>
           <div class="date">Paid Date <br/> {{invoiceDetail.paid_date | date:'MM/dd/yyyy'}}</div>
         </div>
    		</div>       
        
        
      </div>    
      <div class="list-wrappper">
        <ion-list class="invoice-list">

          <ion-item ng-repeat="row in invoiceItems">
            <div class="row no-padding">
              <div class="col col-80 email no-padding">
                {{row.qty}} {{row.item}}
              </div>
              <div class="col col-20 price align-right no-padding">
                <span class="event">{{row.total}}</span>
              </div>            
            </div>            
            </div>
          </ion-item>
          
        </ion-list>  
      </div>
    </div> 
		<!-- header ends here -->
   </ion-content>

   <div class="row showTotal" ng-if="showDetail==1">
      <div class="col col-80 email no-padding">Total</div>
      <div class="col col-20 price align-right no-padding">
        <span class="event">{{invoiceDetail.total_price}}</span>
      </div>
    </div>
</ion-view>