<ion-view hide-nav-bar="true" class="login-screen">
  <ion-content>      
      <div class="login-screen-content">
        <div class="logo">
          <img ng-src="img/logo.png" class="full-image">
        </div>
        
        <div class="container">
          <!-- <div class="col">
            <div class="heading">
              <div class="main-heading">Login to Continue</div>
            </div>
          </div> -->
          <div class="col">
            <div class="info_center_main">
              <div class="fieldset">
				        <input type="text" class="form-control {{invalidEmailClass}}" ng-model='data.email' placeholder="Enter Email">
				        <div class="assertive">{{invalidEmailMessage}}</div>
              </div>
              <div class="fieldset">
                <input type="password" class="form-control {{invalidPasswordClass}}" ng-model="data.password" placeholder="Enter Password">
                <div class="assertive">{{invalidPasswordMessage}}</div>
              </div>
              <div class="btn-send">
                <button type="button" ng-click="login()">Login</button>
              </div>
            </div>
          </div>
          <div class="col">
            
          </div>  
        </div>       
        
        <div class="forgot-signup">
          <div class="forgot-password " class="col" ng-click="forgotPopup()">
            <a>Forgot Password</a>
          </div>
          <div class="sign-up" class="col">
            <h5>Don't have an account?</h5>
            <a ng-controller="SignUpCtrl" ui-sref="signup">Sign Up</a>
          </div>
        </div>
        
      </div>      
   </ion-content>
</ion-view>