<ion-view hide-nav-bar="true" class="project-details">
  

    <!-- topbar start here -->
    <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">     
          <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="tab.quotes"><span class="fontfem btn-back">Back</span></a>
        </div>
        <div class="col box col-70 align-center">
          <h1 class="title">NDA Document</h1>

        </div>    
        <div class="col box col-20 for-btn-msg align-right">        
        </div>      
      </div>      
    </div>

  <ion-content>
  <!-- {{data}} -->
    <div class="project-details-content" ng-repeat="d in data">
   <!--  {{d.client_name}}<br><br>
    {{d.current_date}}<br><br>
    {{d.title}}<br><br>
    {{d.admin_sign}}<br><br>
    {{d.type}}<br><br> -->

<div ng-bind-html="d.nda_detail.description"></div>
    
    </div>
  </ion-content>  
<div scroll="false" class="col box col-33">
              <button type="button" class="btn medium-btn new-btn-size for-size-one send-btn-fix" ng-click="NDA()">Send Document</button>
          </div>
  
</ion-view>
