<ion-view hide-nav-bar="true" class="project-details">
	

		<!-- topbar start here -->
		<div class="bar bar-header bar-light">
			<div class="row">
				<div class="col box col-30 for-btn-log align-left">     
					<a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ui-sref="tab.projects"><span class="fontfem btn-back">Back</span></a>
				</div> 
        <div class="col box col-70 align-center">
          <h1 class="title">Analytics</h1>

        </div> 
				<div class="col box col-20 for-btn-msg align-right">        
				</div>      
			</div>      
		</div>
<ion-content>
  
	

		
          <div class="discription">
          
           <h3>Page</h3>
			</div>
			<div >
          <div class="col col-100 custom-add-task custom-add-task-one" style="padding-top: 22px;">
                  <div class="custom-lable-height change-for-width1"> 
                    <select class="for-round" ng-model="chart.assesment" required="required"  style="padding:5px 20px 5px !important; ">
                      <!-- <option value="">Assessment For</option> -->
                      <option selected="selected" value="heatmap">Heatmap</option>
                      <option value="web_performance">Website Performance</option>
                      <option value="google_analytics">Google Analytics</option>
                    </select>
                  </div>
                </div>
				<div class="col col-100 custom-add-task custom-add-task-one" style="padding-top: 10px;">
          <!-- <div>{{pages}}</div> -->
                  <div class="custom-lable-height change-for-width1 round-corner"> 
                    <select class="for-round" ng-model="chart.page" required="required"  style="padding:5px 20px 5px !important; ">
                      <option value="" selected>Select Page</option>
                      <option value="Overview" selected>Overview</option>

                      <option ng-repeat="row in pages" value="{{row.id}}">{{row.url}}</option>
                      
                    </select>
                  </div>
                </div>
            </div>
           
            <div ng-if="chart.assesment =='google_analytics'">
           <div class="col col-100 custom-add-task custom-add-task-one" style="padding-top:10px;">
                  <div class="custom-lable-height change-for-width1 "> 
              <select class="for-round" ng-model="dates.val" required="required"  style="padding:5px 20px 5px !important; ">
                      <option value="" selected>Select Time Interval</option>
                      <option value="7" selected>Last 7 days</option>
                      <option value="30" selected>Last 30 days</option>
                      <option value="60" selected>Last 60 days</option>
                      <option value="90" selected>Last 90 days</option>
                      
                    </select>
                  </div>
                </div>
              </div>
       <div class"center-one-wrap">
          <div class="fieldset center-one-wrap for-center-text">
           <div class="row">
            <div ng-if="chart.page.length > 0" class="chart-length">
              <div class="fieldset center-one-wrap for-center-text-two">    
                <div ng-if="chart.assesment =='google_analytics'" class="width-adjst width-adjust1">
                <button type="button" class=" for-date-label for-btn-new-two" ng-click="showgooglechart()">Show graph</button>
                </div>
               <div ng-if="chart.assesment =='web_performance' || chart.assesment =='heatmap'" class="width-adjst width-adjust1">
                <div ng-if="chart.assesment !='google_analytics'">
                  <button type="button" class=" for-date-label for-btn-new-two" ng-click="getviews()">View Details</button>
                </div>
               </div>
               </div>
             </div>
            </div>
           </div>
          </div>		
		</div>
		

	</ion-content>
</ion-view>
