<ion-view view-title="" hide-nav-bar="true" cache-view="false">
  <div class="bar bar-header bar-light">
      <div class="row">
        <div class="col box col-30 for-btn-log align-left">
        <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" ng-click="goBack()"><span class="fontfem btn-back">Back</span></a>
       </div>
        
        <div class="col box col-50">
          <h1 class="title">Profile</h1>
        </div>
        
        <div class="col box col-20">
          
        </div>
      </div>
  </div>  
  <ion-content class="myback custom-tab-tasks itemList">	   
    <center>
      <div class="col col-80">
        <form name="regForm">
          <div class="list">
            <div class="col">
              <div class="info_center_main">
  			        <div class="fieldset">	
                  <input type="text" class="form-control" ng-model="profile.fname" placeholder="Enter First Name">
                </div>
  			        <div class="assertive">{{invalidFirstNameMessage}}</div>
                <div class="fieldset">
                  <input type="text" class="form-control" ng-model="profile.lname" placeholder="Enter Last Name">
                </div>
  			        <div class="assertive">{{invalidLastNameMessage}}</div>
                <div class="fieldset">
                  <input type="text" class="form-control back-color" ng-readonly="true" ng-model="profile.company" placeholder="Enter Company">
                </div>
  			        <div class="assertive">{{invalidCompanyMessage}}</div>
                <div class="fieldset">
                  <input type="text" class="form-control" ng-model="profile.phone" placeholder="Enter Phone Number">
                </div>
  			        <div class="assertive">{{invalidPhoneMessage}}</div>
                <div class="col">
                  <div class="btn-send">
                    <button type="button" ng-click="updateProfile()" ng-disabled="false">Save</button>
                  </div>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </form>
    </center>
  </ion-content>
</ion-view>
