<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive new-custom-tabs">
  <!-- Dashboard Tab -->
  <ion-tab icon-off="md-icon-activity" icon-on="md-icon-activity" ui-sref="tab.activity" class="custom-ion-tab">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>
  <ion-tab icon-off="md-icon-projects" icon-on="md-icon-projects" ui-sref="tab.projects" class="custom-ion-tab">
    <ion-nav-view name="tab-projects"></ion-nav-view>
  </ion-tab>

 <!--  <ion-tab  icon-off="icon ion-share" icon-on="icon ion-share" ui-sref="tab.socialLogin" class="custom-ion-tab">
    <ion-nav-view name="tab-socialLogin"></ion-nav-view>
  </ion-tab> -->

  <!-- Chats Tab -->
  <div ng-if="userType =='admin' || userType =='super_admin' || userType =='client'">
    <ion-tab icon-off="md-icon-invoices" icon-on="md-icon-invoices" ui-sref="tab.invoices" class="custom-ion-tab">
      <ion-nav-view name="tab-invoices"></ion-nav-view>
    </ion-tab>
  </div>
  <!-- Account Tab -->

  <ion-tab icon-off="md-icon-tasks" icon-on="md-icon-tasks" ui-sref="tab.tasks" class="custom-ion-tab">
    <ion-nav-view name="tab-tasks"></ion-nav-view>
  </ion-tab>
  <div ng-if="userType =='admin' || userType =='super_admin' || userType =='client'">
    <ion-tab icon-off="md-icon-documents" icon-on="md-icon-documents" ui-sref="tab.documents" class="custom-ion-tab">
      <ion-nav-view name="tab-documents"></ion-nav-view>
    </ion-tab>
  </div>
  <div ng-if="userType =='admin' || userType =='super_admin' || userType =='client'">
    <ion-tab icon-off="icon ion-android-hangout size-of-icon" icon-on="icon ion-android-hangout size-of-icon" ui-sref="tab.quotes"
      class="custom-ion-tab">
      <ion-nav-view name="tab-quotes"></ion-nav-view>
    </ion-tab>
  </div>


</ion-tabs>