<ion-view view-title="Projects" hide-nav-bar="true">
        <div class="bar bar-header bar-light">
                <div class="row">
                        <div class="col box col-30 for-btn-log align-left">
                                <a class="button icon-left ion-ios-arrow-left button-clear button-dark btn-back-span" href = "#/sociallogin/{{projectid}}">
                                        <span class="fontfem btn-back">Back</span>
                                </a>
                        </div>
                        <div class="col box col-70 align-center">
                                <h1 class="title"> Youtube</h1>
                        </div>
                </div>
        </div>
        <ion-content class="custom-ion-content twitter custome youtube">
                <div class="youtube_main">
                        <div class="spin" ng-if=" !videoList || !channelList " style="text-align: center; margin-top:15px; ">
                                <ion-spinner></ion-spinner>
                        </div>
                        <div class="card-background-page" ng-if="channelList">
                                <div card class="item card">
                                        <img class="timag" style="width: 100%;" src=" {{ channelList.snippet.thumbnails.default.url }}" />
                                        <div class="card-title">{{channelList.snippet.title}}</div>
                                        <div class="card-subtitle">
                                                <div class="row">
                                                        <div class="col">
                                                                <h6>
                                                                        subscribers
                                                                        <br> {{channelList.statistics.subscriberCount}}
                                                                </h6>
                                                        </div>
                                                        <div class="col">
                                                                <h6>
                                                                        View
                                                                        <br> {{channelList.statistics.videoCount}}
                                                                </h6>
                                                        </div>
                                                        <div class="col">
                                                                <h6>
                                                                        Comments
                                                                        <br> {{channelList.statistics.commentCount}}
                                                            
                                                                </h6>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="videoList" ng-repeat="video in videoList">
                                
                
                               <!-- <div class="item card" style="padding: 0; " ng-if="videoList && channelList && (videoList.indexOf(video)!=(videoList.length-1))"> -->
 
                                        <div class="item card" style="padding: 0; " ng-if="videoList != ''">                             
                                        <div class="item item-avatar">
                                                <img src="{{channelList.snippet.thumbnails.default.url}}">
                                                <h2>{{video.snippet.channelTitle}}</h2>
                                                <p>{{video.snippet.publishedAt|date}}</p>
                                        </div>
                                        <div class="item item-body" style="padding: 0">
                                                <img src="{{ video.snippet.thumbnails.default.url }}" style="width: 100%">
                                                <p style="text-align: center"> {{ video.snippet.channelTitle }}</p>

                                                <div class="row" ng-if="video">
                                                        <div class="button-bar" style="font-size: 15px !important">
                                                                <a class="button button-positive button-clear button-small" ng-click="fnPlaceLike(video.VideoData.items[0].id)">
                                                                        <span class="icon ion-thumbsup for-check"style="position:relative; top:5px; display:inline-block; vertical-align:top;">Likes</span>
                                                                </a>
                                                                <a class="button button-positive button-clear button-small" ng-click="fnGetVideoComments(video,videoList.indexOf(video))">
                                                                        <span class="icon ion-android-textsms for-check">Comments</span>
                                                                </a>
                                                                <a class="button button-clear button-small" ng-click="view_video('https://www.youtube.com/embed/{{video.id.videoId}}')">
                                                                        <span class="icon ion-eye for-check">{{ video.VideoData.items[0].statistics.viewCount
                                                                                }} View</span>
                                                                </a>
                                                               
                                                                <a class="button button-clear button-small " style="text-align:center;" ng-click="view_details_likes(video.id.videoId)">
                                                                                <span class="icon ion-archive for-check">Details</span>
                                                                                </a>
                                                        </div>
                                                       
                                                        
                                                
                                                </div>
                                                <div class="list card">
                                                        <div class="item item-avatar item-button-right">
                                                                <img src=" {{ channelList.snippet.thumbnails.default.url }} ">
                                                                <h2 class="primary" style="margin: 0"> {{channelList.snippet.title}} </h2>
                                                                <p style="margin: 0">
                                                                        <input type="text" placeholder="Enter a Comment" id="{{video.id.videoId}}" ng-model="video.placeCmt">
                                                                        <button style="position: absolute;
                                                                        right: 10px;
                                                                        bottom: 10px;" class="button button-outline small button-positive cmtBTN" ng-click="fnPlaceComment(video,videoList.indexOf(video))"
                                                                                ng-if="!showLoder">
                                                                                Go
                                                                        </button>
                                                                        <button style="position: absolute; right: 10px;bottom: 10px;" class="button button-outline small button-positive cmtBTN" ng-if="showLoder" disabled>
                                                                                <ion-spinner name="bubbles"></ion-spinner>
                                                                        </button>
                                                                </p>
                                                        </div>
                                                </div>
                                                <div ng-if="video.comments">

                                                </div>
                                                <div class="list card" ng-repeat="comment in video.comments ">

                                                        <div class="item item-avatar" ng-click="fnShowCommentReplay(comment,asd,videoList.indexOf(video))">
                                                                <img src="{{ comment.snippet.topLevelComment.snippet.authorProfileImageUrl }}">
                                                                <h2 style="margin: 0">{{ comment.snippet.topLevelComment.snippet.authorDisplayName}}
                                                                        <br/> {{ comment.snippet.topLevelComment.snippet.publishedAt
                                                                        | date }} </h2>
                                                                <p style="margin: 0">{{ comment.snippet.topLevelComment.snippet.textDisplay }}</p>
                                                        </div>
                                                        <div class="item item-avatar" ng-if="comment.showReplayComment">

                                                                <img src="{{channelList.snippet.thumbnails.default.url}}">
                                                                <h2 style="margin: 0" class="label stacked">{{ channelList.snippet.title}}</h2>
                                                                <p style="margin: 0">
                                                                        <input type="text" placeholder="Enter a Comment" ng-model="comment.replayComment">
                                                                        <button class="button button-outline button-positive button-small cmtBTN" ng-click="fnPlaceReplayComment(comment,videoList[indexOf(video)].comments.indexOf(comment),videoList.indexOf(video))"
                                                                                ng-if="!showLoder">Replay</button>
                                                                        <button disabled ng-if="showLoder" class="button button-outline button-positive button-small cmtBTN">
                                                                                <ion-spinner name="bubbles"></ion-spinner>
                                                                        </button>
                                                                </p>
                                                        </div>
                                                        <div ng-if="comment.showReplayComment&&comment.replayCommentList">
                                                                <div class="item item-avatar" ng-repeat="replayComment in comment.replayCommentList" color="light">

                                                                        <img src="{{ replayComment.snippet.authorProfileImageUrl }}">

                                                                        <h2 style="margin: 0">{{ replayComment.snippet.authorDisplayName }}
                                                                                <br/>{{ replayComment.snippet.updatedAt | date
                                                                                }}
                                                                        </h2>
                                                                        <p style="margin: 0">{{ replayComment.snippet.textDisplay }}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

        </ion-content>
</ion-view>