// Base 
body {
    line-height: 1; 
    font-family: $proxi;
    font-size: $p-default-size;
    font-weight: 400;
    color: $defalut-color;    
}

/* Form Elements */
.fieldset{
    margin: 0 0 10px;
}
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea{
	font-family:$proxi;
	color:#999999;
	width:100%;	
	border:1px solid #bbb;
	font-size: 17px;
  line-height: 1.2;  
  padding: 10px 20px 5px 15px;
	height:auto;	
	border-radius: 30px;
	background:rgba($white,0.68);
	&.invalid{
		border-color:$primary;
	}
    &::-webkit-input-placeholder{
        color: #999;
        opacity: 1;
    }
    &::-moz-placeholder{
        color: #999;
        opacity: 1;
    }
}

.item-toggle{
	background:rgba($white,0.68);
	border:none;
    padding-right: 60px;
    padding-top: 18px;

	.toggle{
        right: 45px !important;
		input:checked + .track{
			background:$primary;
			border-color:$primary;
		}
	} 
}
textarea{
	border-radius: 10px;
	height:80px;
	resize:none;
}
select{
	padding: 10px 20px 5px 10px;
	border-radius: 10px;
}

div.selector{
  height: 38px;
  margin:0 !important;
  padding:0 !important;
  width: 100% !important;
  &:focus,
  &:hover{
    span{
      margin:2px 0 0 !important;
    }
  }
  select{
    height: 36px;
    max-width: 100% !important;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
    option{      
      background: transparent;            
      border: none !important;
      font-size: 17px;
      box-shadow: none !important;
      overflow:hidden; 
      white-space:nowrap; 
      text-overflow:ellipsis;
      &:focus,
      &:hover{
        background:transparent;
      }
    }
  }
  span{
    font-family: $proxi;
    color: #999999;
    width: 100% !important;
    border: 1px solid #bbb;
    text-align: left; 
    font-size: 17px;
    line-height: 1.2;
    margin:2px 0 0 !important;
    padding: 8px 20px 5px 15px;
    //display: inline-block;
    height: 36px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.68);
    position: relative;
    &:after{
      position: absolute;
      font-family: 'FontAwesome';
      content: "\f107";
      top: 3px;
      right: 11px;
      color: #bbb;
      font-size: 23px;
    }
  }
}

.fancy-select {
  position: relative;
  //font-weight: bold;
  //text-transform: uppercase;
  //font-size: 13px;
  color: #46565D;
  &.disabled {
    opacity: 0.5;
  }
  select:focus + div.trigger {
    //box-shadow: 0 0 0 2px #4B5468;
    &.open {
      box-shadow: none;
    }
  }
  div.trigger {
    //border-radius: 4px;
    cursor: pointer;
    padding: 3px 0px 4px 6px;
    white-space: nowrap;
    //overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    background: #101e29;
    background: rgba(0, 150, 255, 0.1);
    border: 1px solid $primary;
    color: $primary;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    //max-width: 200px;
    transition: all 240ms ease-out;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top-color: $primary;
      top: 11px;
      right: 9px;
    }
    &.open {
      //background: #4A5368;
      //border: 1px solid #475062;
      //color: #7A8498;
      box-shadow: none;
      &:after {
        border-top-color: #7A8498;
      }
    }
  }
  ul.options {
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: black;
      //border-left: 1px solid rgba(117,115,109,0.43);
    }
    &::-webkit-scrollbar-thumb {
      background: $primary;
    }
    list-style: none;
    margin: 0;
    padding:0;
    position: absolute;
    top: 20px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
    max-height: 200px;
    overflow: auto;
    background: #101e29;
    // background: rgba(0, 150, 255, 0.1);
    border: 1px solid $primary;
    border-top:none;
    //background: #62C8BF;
    //border-radius: 4px;
    // border-top: 1px solid #7DD8D2;
    //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    transition: opacity 300ms ease-out, top 300ms ease-out,visibility 300ms ease-out;
    &.open {
      visibility: visible;
      top: 28px;
      opacity: 1;
      /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
      /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
      transition: opacity 300ms ease-out, top 300ms ease-out;
    }
    &.overflowing {
      top: auto;
      bottom: 40px;
      transition: opacity 300ms ease-out, bottom 300ms ease-out,visibility 300ms ease-out;
      &.open {
        top: auto;
        bottom: 50px;
        transition: opacity 300ms ease-out, bottom 300ms ease-out;
      }
    }
    li {
      display:block;
      padding: 4px 8px;
      color: $primary;
      cursor: pointer;
      white-space: nowrap;
      transition: all 150ms ease-out;
      
      &.selected {
        background: $primary;
        color: #b1afac;
      }
      &.hover {
        color: #b1afac;
      }
    }
  }
}

.popup-container{
  .popup{
    background: rgba($white,0.95);
  }
}
.btn,
button {
	background: $black none repeat scroll 0 0;
    border: 1px solid $black;
    border-radius: 30px !important;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 30% !important;
    vertical-align: top;
    min-height: inherit;
    line-height: 1;
    &.small-btn{
      padding: 8px 5% !important;
    }    
    &.medium-btn{
      padding: 8px 15% !important;
    }
    &.newmedium-btn{
      padding: 8px 14% !important;
    }
    &.pink{
    	background:transparent;
    	border-color:$primary;
    	color: $primary;
        &:hover{
            color: $primary;
        }
    }
    &.darkgrey{
      background:#bbb;
      border-color:#bbb;
      color:#fff;
        &:hover{
          color: #fff;
        }
    }
    &.grey{
      background:transparent;
      border-color:#bbb;
      color:#999999;              
      padding: 8px 20px 8px 15px !important;
        &:hover{
          color: #999999;
        }
    }    
    &.outline{
      color: #000;
      background:transparent;
    }
    &.cancel-btn{
        background: transparent;
        border:none;
        color: #000;
        padding: 0 !important;
        &.pink-color{
            color: $primary;
        }
    }
    &.no-margin{
      margin: 0;
    }
}

/* Comman Css */
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.align-center{
	text-align: center;
}
.align-top{
	vertical-align: top;
}
.align-middle{	
	vertical-align: middle;	
}
.align-bottom{
	vertical-align: bottom;
}
.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}
.no-padding {
    padding: 0 !important;
}
/* End Comman Css */

/* Dots */

.dots{
	background: $primary none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 10px;
    display: inline-block;
    height: 7px !important;    
    width: 7px !important;
    position: absolute;
    right: -8px;
    &.big{
    	height: 15px !important;
    	width: 15px !important;
    }
    &.black{
    	background:$black;
    }
    &.yellow{
    	background:$yellow;
    }
    &.grey{
    	background:$grey;
    }
}
/* End Dots */

.popup-container {
    .popup{
        border-radius:15px;
        overflow: hidden;
        .popup-head{
            border:none;
        }
    }
}