/* Login Screen */
.login-screen{
	background-image: url('../img/login-bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	display: inline-block;
	&:after{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		// background: rgba(255,255,255,0.85);
		z-index: -1;
		content: "";
	}
	.logo{
		text-align: center;
		margin-bottom: 5%;
    	margin-top: 25%;
    	img{
    		max-width: 210px;
    	}
	}
	.login-screen-content{
		position: relative;
		z-index: 2;
	}
	.info_center_main{
		width: 80%;
		max-width: 600px;
		margin: 0 auto;
		.assertive{			
			color: $primary;			
		    font-size: 0.9em;
		    margin: 5px 0 0 13px;
		}
		.btn-send{
			margin: 10px 0 0;
		}
	}
	.forgot-signup{
		margin: 60px 0 0 0;
		text-align: center;
		font-family: $proxi;
		a{
			font-family: $proxi;
			font-size: 1em;
			color: $primary;
			text-decoration:none;
			&:hover,
			&:focus{
				text-decoration:none;
			}
		}
		h5{
			font-family: $proxi;
			font-size: 1.1em;
			color: #666;
		}
		.forgot-password{
			margin: 0 0 15px;
		}
		.sign-up{
			a{
				font-size: 1.2em;				
			}
		}
	}
}
/* End Login Screen */

/* Header */
.bar {	
	height:50px;	
	a{
		&.button{
			padding: 0;
			line-height: 1em!important;		
			color: $primary;
			&:before{
				line-height: 1em!important;
				font-size: 35px !important;
			}
			&.md-icon-email{		
				margin: 4px 0 0 0;	
				position:relative;
				&:before{
					font-size: 27px !important;
				}
			}
			&.activated{
				opacity: 0.8;
				color: $primary;
			}
			&:focus,
			&:hover{				
				color: $primary;
			}	
			&.btn-back-span{
				margin-top: -13px;
				&:before{
					line-height: 2.2em !important;
					margin-right: 5px;
					font-size: 25px !important;
				}
				line-height: 1.8em !important;
				color: #231F20;
				span{
					color: $primary;
				}
			}
		}
	}
	
	&.bar-light{
		border-color:#BCBCBC;
		.title{
			color: $heading;			
		}
	}
	&.item-input-inset{
		align-items: baseline;
		.no-padding{
			padding:0 !important;
		}
	}
	.badge{		
		background:$primary;
		color: $white;
	    border-radius: 50%;
	    bottom: -2px;	    
	    font-size: 12px;
	    height: 23px;
	    padding: 2px 0 5px;
	    position: absolute;
	    right: -10px;
	    top: inherit !important;
	    width: 23px;
	    text-align: center !important;
	    &.black{
	    	background:$black;
	    }
	    &.yellow{
	    	background:$yellow;
	    }
	}

	.title{
		margin: 5px 0 0 0;
		color: $heading;
		font-size: 20px;
	}
	.col{
		padding-top:0;
	}

}
/* End Header */

/* Tabs */
.view-container{
	background-image: url('../img/login-bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;	
	&:after{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.85);
		z-index: 0;
		content: "";
	}
}
.pane{
	background: transparent;
	z-index: 2;
}
.tabs{
	// background:rgba($white,0.45);
	border-top:none;	
	.tab-item{
		padding-top:10px;
		max-width: 50px;
		opacity: 1;
		.size-of-icon,
		.icon{
			font-size: 27px !important;
			color: $black;
		}
		&.estimateIcon-icon{
			.icon{
				font-size: 25px !important;
			}
		}
		&.add-icon {
			float: right;
			margin: -3px 0 0 !important;
			background: transparent !important;
			color: #E30A7C !important;
			border: none;
			font-size: 18px !important;
		}
		&.tab-invoices{
			padding-top:4px;
		}
		.md-icon-invoices{
			font-size: 37px !important;
		}
		&.tab-item-active{
			.icon{
				color: $primary;	
			}
		}
	}	
	.add-btn-holder{
		float: right;
		padding-right: 14px;
	}
}

.tabs-top{
	display: inline-block;
	text-align: left !important;
	.tabs{
		display: inline-block;
		text-align: left !important;
		top:50px;	
		.tab-item{
			//display: inline-block;
			padding: 0px 7% 8px;
			margin: 1px 0 0;
			float: left;
			max-width: inherit;
			&.activated,
			&.active{
				border-width: 0 0 3px !important;
				border-color: $primary;				
			}
			&.add-icon{
				font-size: 30px;
    			padding: 0 4% 8px 2%;
    			line-height: 1.5em !important;
				color: $primary;
				&.activated,
				&.active{
					border-width: 0 0 3px !important;
					border-color: transparent;				
				}
			}
		}
	}	
}
/* End Tabs */

/* Activity */
.custom-ion-content{
	background:$white;	
	margin-top: 50px;
	a{
		&.button{
			padding: 0;
			line-height: 2em!important;
			color: #939393;
			font-size: 30px;
			font-weight: 500;
			min-height: inherit;
			&.active{
				color: $primary;
			}
			&:after{
				line-height: 1em!important;
			}
		}
	}

	.item{
		border-top:0;
		margin: 0;
		border-bottom:1px solid #EAEAEA;
		h3{
			font-size:19px;
			color: $black;
			margin: 0 0 10px;
			width: 100%;
			float: left;
			line-height:1;
		}
		span{
			font-family: $proxi;
			font-size:15px;
			color: #939393;
			margin: 0 0 7px;
			float: left;
			width: 100%;
			line-height:1;
			overflow: hidden;
			text-overflow: ellipsis;
			&:last-child{
				margin: 0;
			}
		}	
		.md-icon{
			position: relative;			
		}
	}	
}
.social-btns-wrapper{
	text-align: center;
	.social-btns{
		width: 250px;
		margin: 0 0 15px 0;
		padding: 7px 0 !important;
		border:1px solid $primary;
		position: relative;
		background: $white;
		color: $primary;
		font-size: 16px;
		&:after{
			position: absolute;
			font-family:'FontAwesome';
			left: -1px;
			top: -1px;
			width: 42px;
			height: 42px;
			background: transparent;
			border: 1px solid $primary;
			border-radius: 50%;
			color: $primary;
			font-size: 19px;
    		line-height: 2.3em;
		}
		&:hover,
		&.activated{
			background: $primary;
			border-color: $white;
			color: $white;
			&:after{
				border-color:$white;
				color: $white;
			}
		}
		&.facebookFlag{
			&:after{
				content: "\f09a";
			}
		}
		&.twitterFlag{
			&:after{
				content: "\f1e8";
			}
		}
		&.linkedInFlag{
			&:after{
				content: "\f0e1";
			}
		}
		&.instagramFlag{
			&:after{
				content: "\f16d";
			}
		}
		&.youtubeFlag{
			&:after{
				content: "\f167";
			}
		}
	}
}

/* End Activity */

/* Projects */
.itemList,
.custom-tab-tasks{
	//margin-top: 97px;
	background:$white;
	padding-top:97px;
	.item{
		border-top:0;
		margin: 0;
		border-bottom:1px solid #EAEAEA;
		h3{
			font-size:19px;
			color: $black;
			margin: 0 0 10px;
			width: 100%;
			float: left;
			line-height:1;
		}
		span{
			font-family: $proxi;
			font-size:15px;
			color: #939393;
			margin: 0 0 7px;
			float: left;
			width: 100%;
			line-height:1;
			overflow: hidden;    
    		text-overflow: ellipsis;			
		}	
		.md-icon{
			position: relative;
			text-align: right;
		}
	}
}
/* Projects */

/* Registration */
.registration{
	.bar{
		&.bar-header{
			background:transparent;
			border-bottom:none;
		}
	}
	.logo{
		margin-bottom: 3%;	    
		text-align: center;
		background: transparent;
		img{ 
			max-width: 210px;  
		}
	}
	.itemList{
		padding-top: 67px;
	}
	.btn-send{
		margin-top: 10px;
	}

}
/* End Registration */

/* Project Details */
.project-details{
	background:$white;
	.project-details-content{
		text-align: center;
		padding: 87px 15px 0;
		.heading{		
			margin: 35px 0 0px;
			h3{
				font-size: 25px;
				color: $black;
				margin: 0;
			}
		}
		
		.nextpayment{
			color: #444;
    		font-size: 17px;
			margin-bottom: 10px;
			line-height:1.3em;
		}
		.prijectPrice{
			font-size: 25px;
			color: $black;
			margin-bottom: 15px;	
		}
		.discription{						
    		margin-top: 0px;
			margin-bottom: 20px;			
			p{
				color: $black;
				font-size: 17px;	
				line-height: 1.5em;
			}			
		}
		.projectlinks{
			margin-top: 25px;
			p{
				color: #444;
    			font-size: 15px;
    		}
    		ul{
    			li{
    				width: auto;
    				display: inline-block;
    				margin: 0 5px;
    				a{
    					color: $primary;
    					text-decoration: none;
    					font-size: 30px;
    					&.md-icon-email{
    						font-size: 23px;
    						span{
    							margin-top: -5px;	
    						}    						
    					}
    					span{
	    					color: $black;	
	    					display: inline-block;				    
						    font-size: 19px;
						    line-height: 1.5em;
						    margin-left: 5px;
						    margin-top: 2px;
						    vertical-align: top;
	    				}
    				}
    				
    			}
    		}
		}

		.item-complex{
			padding: 15px;
			text-overflow: inherit; 
			white-space: inherit;
			overflow: visible;
			margin: 0 0 15px;
			h1 , h2 , h3 , h4 , h5 , h6 , p , a{
				text-overflow: inherit; 
				white-space: inherit;
				overflow: visible;
			}
			.item-content{
				padding: 0;
				text-overflow: inherit; 
				white-space: inherit;
				overflow: visible;
				h1 , h2 , h3 , h4 , h5 , h6 , p , a{
					text-overflow: inherit; 
					white-space: inherit;
					overflow: visible;
				}		
			}
			.description-holder{
				color: #000;
				font-size: 17px;
				line-height: 1.3em;
				height: 70px;
				text-overflow: ellipsis; 			
				overflow: hidden;
			}
		}
		.socialLinks{
			margin-top: 50px;
			a{
				display: inline-block;
				margin: 0 8px;
				color: $primary;
				text-decoration: none;
				&:hover,
				&:focus{
					color: $primary;
					text-decoration: none;
				}
			}
		}
		.circle{
			border-width: 5px;
			padding-top:20px; 
		}
	}
	
}
/* End Project Details */

/* Invoice Detail*/
.custom-ion-content-invoices{
	.tight{
		padding-top: 57px;
	}
}
.invoice-details{	
	.scroll{
		min-height: 100%;
	}
	.project-details-content{
		text-align: center;
		padding: 75px 0 1px;
		background:$white;
		position: relative;
		.projectPrice{
			font-size: 25px;
			color: $black;
			margin-bottom: 20px;	
		}		
		.paymeny-btn{
			margin: 0 0 18px;
		}
		h3{
			font-size: 20px;
			color: $black;
			margin: 0 0 10px;
		}
		.date{
			font-size: 15px;
			line-height: 1.3em;
			color: #7F7F7F;
			margin: 0 0 18px;
		}				
	}
	.list-wrappper {
	    padding-bottom: 48px;
	}
	.invoice-list{
		padding-bottom:48px;
		text-align: left;
		position: relative;		
		.item{
			&:last-child{
				border-bottom:none;
			}
		}	
	}
	.showTotal{
		background:$white;
		position: fixed !important;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top:1px solid #ccc;
		padding:15px;
	}

}
/* End Invoice Detail*/

/* Pay Now */
.pay-now{
	background:$white;
	.project-details-content{		
		padding: 75px 0 48px;
		position: relative;
		.projectPrice{
			font-size: 25px;
			color: $black;
			margin-bottom: 10px;	
		}		
		.paymeny-btn{
			margin: 0 0 25px;
		}
		h3{
			color: $black;
			font-size: 17px;
			margin: 0 0 10px;
		}
	}
}
/*  End Pay Now */

/* Tasks */
.custom-tab-task1{
	.item-content-new{
		.tabs-striped.tabs-top{
			margin-left:-16px; 
		}
	}
}
.item-content-new{
	&.custom-ion-content{
		top: 19px !important;
	}
	.item-content{
		padding: 0;
	}
}


.add-task-wrapper{
	background:$white;
}
.task-form{
	padding: 50px 0 48px;
	.item-input{
		padding:10px;
		display: inline-block;
	}
	.add-item-btn{
		margin: 0 0 20px;
	}
}
.tasks-lists{
	.icon{
		color: $primary;
		font-size: 20px;
		margin: 0 5px;
	}
}
.todo-list{
	.project-details-content{
		padding: 55px 15px 0;
	}
	.taskCompleteBtn{
		margin-top: 15px;
	}
}
/* End Tasks */

/* Add Message */
.addMessage{
	background:$white;
	.custom-add-msg{
		padding-top: 80px;
	}		
}
.serachField{
	text-align: left;
	ion-item {
	   min-height: 37px;
	   padding:10px 0 0 15px;
	   border-radius:30px;
	   border-color:#bbb;
	   color: #999999;
	   &.activated{
	   	background:$white;
	   }
	}
	.item-note{
		background: $white none repeat scroll 0 0;
	    color: #aaa;
	    float: right;
	    font-size: 14px;
	    padding: 9px 15px 10px 5px;
	    position: absolute;
	    right: 0;
	    top: 0;
	}
}

/* Message List */ 
.message-list{
	.custom-msg-bg{
		text-align: center;
		h3{
			color: $grey;
			font-size: 15px;
			margin: 0;
		}		
	}
	.subject{
		color: $black;
	    float: left;
	    font-size: 19px;
	    line-height: 1;
	    margin: 0 0 10px;
	    width: 100%;
	}
	.discription,
	.message{
		color: #939393;
	    float: left;
	    font-family:$proxi;
	    font-size: 15px;
	    line-height: 1;
	    margin: 0 0 7px;
	    width: 100%;
	}
}
.messageDetails{
	background:$white;
	text-align:center;
	h3 {
		color: $black;
		float: left;
		font-size: 25px;
		line-height: 1;
		margin: 0 0 10px;
		width: 100%;
	}
	.projectdetail{
		color: #939393;
	    float: left;
	    font-family: $proxi;
	    font-size: 16px;
	    line-height: 1;
	    margin: 0 0 7px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    width: 100%;
	}
	.custom-msg-detail{
		color: $primary;
	}
}
.messageReply{
	background:$white;
}

/* Document Detail */
.custom-ion-content-documents{
	.item{
		.md-icon{
			.dots{
				position: relative;
				right: 0;
				bottom: 0;
			}
		}
	}
}
.document-detail{
	background:$white;
	.custom-doc-detail{
		padding-top: 65px;
		padding-bottom: 90px;
		text-align: center;
		h3{
			color: $black;
    		font-size: 23px;
    		margin-top: 15px;
    		margin-bottom: 5px;
		}
		.main-block{
			div{
				color: #939393;
	    		font-size: 17px;
	    		line-height: 1.2em;
	    		margin-bottom: 15px;
	    		text-align: left;
			}
		}
	}
}

/* Date Picker */
.popup-open{
	.ionic_datepicker_popup{
		.col{
			padding: 8px;
			&.selected_date {
			    background-color: $primary;
			    border-color: $primary;
			    color: #ffffff;					    	    
			}
			&.today{
				border-color: $primary;	
			}
		}
		.popup-body{
			border-radius: 15px 15px 0 0;
			.selected_date_full{
				border-radius: 15px 15px 0 0;
				background:#222;
				color: $white;
				font-weight: 400;
			}	
			.button-clear{
				color:$black;
			}
			.year_select,
			.month_select{
				border-bottom-color:#bbb;
				&:after{
					color:$primary;
				}
				select{
					border-radius:0;
				}
			}			
		}
		.popup-buttons{				
		    .button{
		    	background-color: $primary;			    
			    margin-right: 1px;
			    color: $white;
			    border-radius: 0 !important;
			    margin-left: 0;
			    font-size: 12px;
			    text-align: center !important;
			    padding: 0!important;
			    max-width: 100% !important;
			    left: 0px;
		    	min-height: 15px;
		    	&:last-child{
		    		margin-right: 0;
		    	}
		    }
		}
		
	}
}


.custom-tab-quotes{
	padding-top: 50px !important;
	.custom-add-task{
		background: $white;
		padding: 15px;
		.btn{
			margin-left: 0%;
			width: 130px;
			font-size: 17px;
		}
	}
}

.custom-ion-content-quotes{
	.for-table{
		width: 100%;
		margin: 0;		
		tr{			
			th,
			td{
				padding: 10px;
				text-align: left;
				&.aligh-center{
					text-align: center;
				}
			}
		}
	}
}

.PostList-wrapper{
	
	.item-select{		
		padding-bottom: 30px;
		border:none;
	}
	.friends-count{
		padding: 15px;
		border:none;
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
	}
	.user-insta-info{
		box-shadow: none;
		text-align: center;
		.item{
			box-shadow: none;
		}
		&>img{
			max-width: 150px;
			max-height: 150px;
			border-radius: 50%;
		}
		.card-title{
			font-size: 22px;
			margin:18px 0;
		}
		.card-subtitle{			
			width: 100%;
			display: inline-block;
			text-align: center;
			margin: 0 0 15px;
			.button-bar{
				width: 100%;
				display: inline-block;
				text-align: center;
			}
		}
		.btn{
			line-height: 1.3;
			font-size: 15px;
			margin: 0 3px;
			display: inline-block;
		}
	}
	.PostList{
		.card{
			margin: 20px 15px;
			box-shadow: none;
			border: 1px solid #ddd;	
							
			.item{
				border-color:#ddd;
				text-align: center;
				h2{
					margin-top:10px;
					text-align: left;
					font-size: 19px;
				}
				&.item-body{
					p{
						margin: 0 0 10px;
						font-size: 16px;
						line-height: 1.4em;
					}
					i{
						font-size: 15px;
						margin-right: 5px;
					}
				}
				.btn{

				}
				.likes-count{
					margin-top: 10px;
					text-align: left;
					a{
						color: $primary;
						text-decoration: none;
					}
				}
				
			}
		}
		&.InstagramPost{
			.card{
				.item{
					&.heading{
						text-align: left;
						h2{
							margin-top:2px;
						}
						p{
							font-size: 13px;
							font-weight: 400;
						}
						.write-comment {
							width: 100%;
							display: inline-block;
							margin: 20px 0 0 0px;
							position: relative;
							.btn{
								position: absolute;
								top: 0;
								right: 1px;
								width: auto;
								padding: 9px 15px !important;
								background: transparent;
								color: #000;
								border-color: #bbb;;
							}
						}				
					}
					.btns{
						width: 100%;
						display: inline-block;
						margin: 15px 0;
						.btn{
							margin: 0 3px;
							color:$white;
						}
					}
				}
				
			}
		}
	}
}

.chart-map-wrapper{
	.chart-length{
		.width-adjst{
			width: 100%;
		}
	}
}

/* Quote Page */
.quote-page-wrapper{
	.custom-lable-height{
		margin: 10px auto;
		display: inherit;
		select{
			
		}
	}
	.for-div-one{
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;		
	}
	.for-uper-change{		
		.proper-form{
			&.change-desighn1{
				margin-top:0px;
			}
		}
		.span-class{
			&.set-width{
				&.change-desighn3{
					margin-top:0px !important;
				}
			}
		}
		.item{
			border:none;
			border-bottom: 1px solid #ddd;
			background: transparent;
			padding: 19px 15px 17px;
			&.item-accordion{
				background: transparent !important;
				span{
					color:#939393 !important;
				}
			}
		}		
	}
	&.blue{
		.for-uper-change{
			.item{	
				color: #fff; 
				background: #31439E;
				span{
					color: #fff; 
				}
			}
		}
	}
	&.green{
		.for-uper-change{
			.item{
				color: #fff;	
				background: #5CBF4D;
				span{
					color: #fff; 
				}
			}
		}
	}
	&.pink{
		.for-uper-change{
			.item{	
				color: #fff;
				background: #E6128F;
				span{
					color: #fff; 
				}
			}
		}
	}
	&.yellow{
		.for-uper-change{
			.item{	
				color: #fff;
				background: #F5C000;
				span{
					color: #fff; 
				}
			}
		}
	}
	#calculations{
		border:1px solid #ddd;
		max-width: 90%;
		padding: 15px;
	}
	.submit-holder{
		.btn{
			padding: 8px 26px !important;
			margin-bottom: 35px;
		}
	}
}
/* Quote Page */