/* TypoGraphy */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
{
    font-family: $header-fonts;    
    color: $heading;
    margin: 5px 0;
    @include juice-prefixer(transition,all 0.5s ease-in 0s,webkit moz ms o spec);
}
h1, .h1 {
    font-size: $header1; /*Maximum size of the design*/
}

h2, .h2 {
    font-size: $header2; 
}

h3, .h3 {
    font-size: $header3; 
}

h4, .h4 {
    font-size: $header4; 
}

h5, .h5 {
    font-size: $header5; 
}

h6, .h6 {
    font-size: $header6; 
}

p {
    color:$p-default-color;
    font-size:$p-default-size;
    line-height: normal;
    @include juice-prefixer(transition,all 0.5s ease-in 0s,webkit moz ms o spec);
}