.custome{
        .spin {
                text-align: center;
                margin: 50% 0 50% 0;
                height: 100%;
            }
            
            .scroll-content {
                text-align: center;
            }
            
            .errorToast {
                div {
                    background: rgba(255, 0, 0, 0.425);
                    color: #fff;
                }
            }
            
            .successToast {
                div {
                    background: rgba(0, 128, 0, 0.568);
                    color: #fff;
                }
            }
            
            .cmtBTN {
                margin: auto !important;
            }
           
}
.youtube{
    .card-title{
        text-align: center !important;
    }
    .item{
        img{
            text-align: center;
            width: 100% !important ;
        }
    }
    .timag{
        width: 100%;
    }
}
.card-background-page{
    .card-title{
        text-align: center !important;
    }
    .item{
        img{
            text-align: center;
            width: 100% !important ;
        }
    }
    .timag{
        width: 100%;
    }
}
.timag{
    width: 100% !important;
}