/* Empty. Add your own CSS if you like */
body{margin: 0px;padding: 0px;}


img{max-width: 100%;}


/*******common classes*******/



.margin_0{ margin: 0px !important;}
.margin_5{ margin-bottom: 5px !important;}
.margin_10{ margin-bottom: 10px !important;}
.margin_15{ margin-bottom: 15px !important;}
.margin_20{ margin-bottom: 20px !important;}

.padding_0{ padding: 0px !important;}
.padding_5{ padding-bottom: 5px !important;}
.padding_10{ padding-bottom: 10px !important;}
.padding_15{ padding-bottom: 15px !important;}
.padding_20{ padding-bottom: 20px !important;}

.padd_left{padding-left: 0px !important;}
.padd_right{padding-right: 0px !important;}

.f_left{float: left; margin:0px; padding: 0px; padding: 0px; width: 100%;}
.t_a_r{text-align: right !important;}
.t_a_l{text-align: left !important;}
.t_a_c{text-align: center!important;}
.d_in_b{display: inline-block !important;}

/*******common classes*******/


/***** topbar-main *****/
.topbar-main{background:#F4F4F4; padding-bottom:10px; padding-top:10px;}
/***** topbar-main ends here *****/


/***** midbar-main *****/
.menu-btn img{float:right;  margin-top: 35px;}
/***** midbar-main ends here *****/


/***** main-logo *****/

.main-logo{margin-top: 50px;}
.logo {text-align:center;}

/***** main-logo ends here *****/


/**** form-header ****/
.form-header{text-align:center;}
.heading h3{color:#6D6D88; margin-top: 40px; margin-bottom: 25px; text-align: center;}
/**** form-header ends here****/


.form-control {padding-top: 25px; padding-bottom: 25px; border-radius: 30px;}
.login_center_main input {    font-size: 18px;}


.btn-send {margin-top:20px; text-align: center;}
button {padding-bottom: 5px;
    padding-top: 8px;
    border-radius: 30px;
    border: none;
    padding-left: 80px;
	padding-right: 80px;
    background: #3aa03a;
    color: white;
    font-size: 15px;
	
	font-weight: 400;
	}
	
.login_center_main input[type="text"],input[type="email"],input[type="password"],.txt_textarea {
	height: 40px;
	padding: 2px 0px 0px 0px;
	padding-left: 25px;
	border: 1px solid #ccc;
	font-weight: 100;
}

.info_center_main input[type="text"],input[type="email"],input[type="password"],.txt_textarea{
	height: 40px;
    padding: 10px 0px 4px 0px;
    padding-left: 25px;
    border: 1px solid #ccc;
    font-weight: 400;
    font-size: 17px;
	margin-bottom: 10px;
}
.info_center_main input:hover{border-color:#C68C8C;}

.banner-main {width:100%;}
.banner-main img { width:100%;}
.banner-image{position:relative;}
.banner-text {position:absolute; bottom:10%; right:40%;}
.banner-text span{color: #3AA03A; font-size: 60px;}


.profile {color:#40A03A;}
.fa-angle-left{color: black; font-size:40px;}

.fa-angle-left:before {font-size: 40px;}

.span-back a{color: #3AA03A; text-decoration: none; font-size: 32px;}

.pro-head{color: black; margin-top: 33px; text-align: center;}
.pro-head h3{font-size: 30px;}

.profile{margin-bottom: 40px; margin-top: 20px;}

.company-des input{padding-bottom: 280px;}

.for-align {text-align:center;}
.for-align span{color: #3AA03A; font-size: 30px;}
.for-align h4 a{color: #bcaa0a; font-size: 11px; text-decoration:none; font-weight: bold;}
	
.for-align1 h4  {color: #3AA03A;  text-align:center; margin-top: 7px; }
.for-align1 h4 a{font-size: 11px; color: #bcaa0a; text-decoration:none; font-weight: bold;}

.for-margin {margin-bottom: 35px;}


.login {display: block;}

.eye-logo{
    position: absolute;
    margin-top: -34%;
    right: 41%;
    color: #3AA03A;
}

.eye-logo span{font-size: 60px;}

.tabs {
    background-color: #3AA03A;
}
.tab-item .icon{
	color: #fff;
}
.tab-title{
	color: #fff;
}
.eye-logo span{color: #3AA03A;}

.top-image img{float:right;}
.for-padd{ padding-right:0px;}

.main-content h3{color:#000000; text-align: center; font-size: 24px;}

.main-content-para p{font-size: 30px; text-align: center; color: #000000;}
	
.website {text-align:center;}
.website a{color:black; }

.website-owner{text-align: center; }
.website-owner h3{font-size:30px; }

.phone h3{color: black; text-align: center;}
	
.address-head h3{text-align: center; color: black;}
.address-head p{ text-align: center; font-size: 26px; color: black;}

.website h3{color: black;}

.form-heading h3{text-align: center; color: #3AA03A;}
	
.event-time{ position: absolute;
    margin-top: -35%;
    right: 38%;
    color: #777786;
}

/**** pageprofile4 ****/


.sent{border-bottom: 2px solid #BCBCBC;
	padding-bottom: 25px; 
	margin-bottom: 40px;
	margin-top: 20px;}

.main-content-1{background: #848484; /*padding-bottom: 8px;*/}
.main-content-1 h3{color: white; font-weight: 300; margin-bottom: 6px !important; font-size: 22px;}

@media(max-width:414px){
	.main-content-1 h3{
		margin-left: 120px;
	}	
}


.main-content-desc span{float: right;}	

.content-background a{color: black;}
.content-background-color a{color: black;}
.content-background span{float:right;}
.content-background-color span{float:right;}
.content-background h3{color:#7A7777;}
.content-background-color h3{color:#7A7777;}

.content-bg h3{color: #7A7777;}

.content-background-color{background:#F4F4F4;}
#myDropdown{margin-left: -145px;
    margin-top: -17px; background: #E8E8E8 !important;}
	
	.dropbtn {
		
		color: white;
		/*padding: 16px;*/
		font-size: 16px;
		border: none;
		cursor: pointer;
	}

	.dropbtn:hover, .dropbtn:focus {
		background-color: none !important;
	}

	.dropdown {
		position: relative;
		display: inline-block;
		margin-top: 35px;
		right:0px;
        float: right;
        z-index: 999;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		text-align: center;
		border-radius: 12px;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		border-bottom: 2px solid white;
	}

	.dropdown a:hover {background-color: #f1f1f1}

	.show {display:block;}
    .main-heading{font-size: 17px;font-weight: 100;color:#3A3A3A; text-align: center; }
	.green_color{color: #bcaa0a;}
	.heading{font-size: 13px; font-weight: bold}
	
	@media(max-width:414px){
	.main-heading {
    /*padding-right: 70px !important;*/
	}
}

.item-complex h3{color:#888888;}
.item-complex h3 a{color:black !important; font-weight:700 !important; font-size: 15px;}
.item {
border-color: white !important;}
.item-content span{float:right !important;}	
.item-complex .item-content, .item-radio .item-content {
    padding: 16px 20px 16px 16px;
}
.for-font-weight input[type="text"], input[type="email"], input[type="password"], .txt_textarea {
    font-weight: 400; font-size: 18px;}
.for-input-font input[type="text"], input[type="email"], input[type="password"], .txt_textarea{
	font-weight: 400; height: 40px;}
.banner{margin-top: -181px;}
.banner p{color:#777777;}
@media(max-width:414px){
	.banner p{
		margin-top: -134px;
		margin-right: -32px;
	}
	.banner{margin-top: -181px;}
	.banner1{margin-top: -383px;}
}	
	
@media(max-width:414px){
	.banner1{margin-top: -383px;}
}		

@media(max-width:414px){
	.banner2{margin-top: -39px;}
}
center{position: relative;}	
	
.login-input-font input[type="text"], input[type="email"], input[type="password"], .txt_textarea {font-weight: 400;}

	/* sent-page-bg */
.for-bg{background:#F4F4F4;}
.even{background: #F5F5F5;}
.email{color:black;}
.event{color:#777777;}
.name{color:#777777;}
.date{color:#777777;}
.platform-android .action-sheet-backdrop.active {background-color: rgba(0, 0, 0, 0.2); }
.platform-android .action-sheet {margin: 0; }
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
	text-align: left;
	border-color: transparent;
	font-size: 16px;
	color: inherit; 
}
.platform-android .action-sheet .action-sheet-title {
	font-size: 14px;
	padding: 16px;
	color: #666; 
}
.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
	background: #e8e8e8; 
}
.platform-android .action-sheet-group {
	margin: 0;
	border-radius: 0;
	background-color: #fafafa; 
}
.platform-android .action-sheet-cancel {display: none; }
.platform-android .action-sheet-has-icons .button {padding-left: 56px; }
.even img{float:right; margin-right: 18px;}
.odd img{float:right; margin-right: 18px;}
@font-face{
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot') format('embedded-opentype'),
	url('../fonts/icomoon.ttf') format('truetype'),
	url('../fonts/icomoon.woff') format('woff'),
	url('../fonts/icomoon.svg') format('svg');
}
[class^="icon-"], [class*="icon-"]{
	font-family:'icomoon';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-heigt:1;
	
	/* Better font rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.tab-item{
	line-height: -1px !important;
}
.icon-activity:before {
  content: ""; 
}
.icon-add:before {
  content: ""; 
}
.icon-documents:before {
  content: ""; 
}

.icon-messages:before {
  content: ""; 
}
.icon-money:before {
  content: ""; 
}
.icon-profile:before {
  content: ""; 
}
.icon-projects:before {
  content: ""; 
}
.icon-tasks:before {
  content: ""; 
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated{
	border-color: #3AA03A;
}
.projectname{padding-top: 60px;}
.projectpayment{color:#808080; font-size: 20px;  font-weight: 400;}
.projectdetail{margin: 15px 0 15px; font-weight: 600; font-size: 16px; color:black;}
.projectlinks{margin: 15px 0 15px;}
.projectlinks a{color:#3aa03a; font-weight: normal; font-size: 20px;}


.mignifier-icon{width: 16px;height: 16px}

.email{font-weight: bolder; color: black; font-size: 18px !important;}
.price{float:right;  margin-top: -22px !important; font-size: 18px !important;}
.price span{font-weight: bolder; color: black;}

.for-bg{background: #F4F4F4;}

.for-family {font-family: myriad pro !important;}

.add-color{color:#3AA03A !important;}

.date-color{color:#7F7F7F !important;}

.item-toggle .toggle {
    right: 80px !important;
}

.toggle-calm span{text-align:center;}

.fontfem{font-family:myriad pro !important;}

.datepicker-content{padding-left:20px !important;}

.task-para {font-weight:bolder; font-size: 18px;}

.list-padd{padding:15px;}

