/*
*	App Name : BB App
*	Author	 : Bleeding Bulb
*	Plaform	 : IONIC V1
*/
body {
  line-height: 1;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  color: #000; }

/* Form Elements */
.fieldset {
  margin: 0 0 10px; }

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  font-family: "Proxima Nova";
  color: #999999;
  width: 100%;
  border: 1px solid #bbb;
  font-size: 17px;
  line-height: 1.2;
  padding: 10px 20px 5px 15px;
  height: auto;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.68); }
  input[type="text"].invalid,
  input[type="email"].invalid,
  input[type="password"].invalid,
  select.invalid,
  textarea.invalid {
    border-color: #E30A7C; }
  input[type="text"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #999;
    opacity: 1; }
  input[type="text"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  select::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #999;
    opacity: 1; }

.item-toggle {
  background: rgba(255, 255, 255, 0.68);
  border: none;
  padding-right: 60px;
  padding-top: 18px; }
  .item-toggle .toggle {
    right: 45px !important; }
    .item-toggle .toggle input:checked + .track {
      background: #E30A7C;
      border-color: #E30A7C; }

textarea {
  border-radius: 10px;
  height: 80px;
  resize: none; }

select {
  padding: 10px 20px 5px 10px;
  border-radius: 10px; }

div.selector {
  height: 38px;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important; }
  div.selector:focus span, div.selector:hover span {
    margin: 2px 0 0 !important; }
  div.selector select {
    height: 36px;
    max-width: 100% !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    div.selector select option {
      background: transparent;
      border: none !important;
      font-size: 17px;
      box-shadow: none !important;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      div.selector select option:focus, div.selector select option:hover {
        background: transparent; }
  div.selector span {
    font-family: "Proxima Nova";
    color: #999999;
    width: 100% !important;
    border: 1px solid #bbb;
    text-align: left;
    font-size: 17px;
    line-height: 1.2;
    margin: 2px 0 0 !important;
    padding: 8px 20px 5px 15px;
    height: 36px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.68);
    position: relative; }
    div.selector span:after {
      position: absolute;
      font-family: 'FontAwesome';
      content: "\f107";
      top: 3px;
      right: 11px;
      color: #bbb;
      font-size: 23px; }

.fancy-select {
  position: relative;
  color: #46565D; }
  .fancy-select.disabled {
    opacity: 0.5; }
  .fancy-select select:focus + div.trigger.open {
    box-shadow: none; }
  .fancy-select div.trigger {
    cursor: pointer;
    padding: 3px 0px 4px 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    background: #101e29;
    background: rgba(0, 150, 255, 0.1);
    border: 1px solid #E30A7C;
    color: #E30A7C;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 240ms ease-out; }
    .fancy-select div.trigger:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top-color: #E30A7C;
      top: 11px;
      right: 9px; }
    .fancy-select div.trigger.open {
      box-shadow: none; }
      .fancy-select div.trigger.open:after {
        border-top-color: #7A8498; }
  .fancy-select ul.options {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
    max-height: 200px;
    overflow: auto;
    background: #101e29;
    border: 1px solid #E30A7C;
    border-top: none;
    width: 100%;
    transition: opacity 300ms ease-out, top 300ms ease-out,visibility 300ms ease-out; }
    .fancy-select ul.options::-webkit-scrollbar {
      width: 10px; }
    .fancy-select ul.options::-webkit-scrollbar-track {
      background: black; }
    .fancy-select ul.options::-webkit-scrollbar-thumb {
      background: #E30A7C; }
    .fancy-select ul.options.open {
      visibility: visible;
      top: 28px;
      opacity: 1;
      /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
      /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
      transition: opacity 300ms ease-out, top 300ms ease-out; }
    .fancy-select ul.options.overflowing {
      top: auto;
      bottom: 40px;
      transition: opacity 300ms ease-out, bottom 300ms ease-out,visibility 300ms ease-out; }
      .fancy-select ul.options.overflowing.open {
        top: auto;
        bottom: 50px;
        transition: opacity 300ms ease-out, bottom 300ms ease-out; }
    .fancy-select ul.options li {
      display: block;
      padding: 4px 8px;
      color: #E30A7C;
      cursor: pointer;
      white-space: nowrap;
      transition: all 150ms ease-out; }
      .fancy-select ul.options li.selected {
        background: #E30A7C;
        color: #b1afac; }
      .fancy-select ul.options li.hover {
        color: #b1afac; }

.popup-container .popup {
  background: rgba(255, 255, 255, 0.95); }

.btn,
button {
  background: #000 none repeat scroll 0 0;
  border: 1px solid #000;
  border-radius: 30px !important;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 30% !important;
  vertical-align: top;
  min-height: inherit;
  line-height: 1; }
  .btn.small-btn,
  button.small-btn {
    padding: 8px 5% !important; }
  .btn.medium-btn,
  button.medium-btn {
    padding: 8px 15% !important; }
  .btn.newmedium-btn,
  button.newmedium-btn {
    padding: 8px 14% !important; }
  .btn.pink,
  button.pink {
    background: transparent;
    border-color: #E30A7C;
    color: #E30A7C; }
    .btn.pink:hover,
    button.pink:hover {
      color: #E30A7C; }
  .btn.darkgrey,
  button.darkgrey {
    background: #bbb;
    border-color: #bbb;
    color: #fff; }
    .btn.darkgrey:hover,
    button.darkgrey:hover {
      color: #fff; }
  .btn.grey,
  button.grey {
    background: transparent;
    border-color: #bbb;
    color: #999999;
    padding: 8px 20px 8px 15px !important; }
    .btn.grey:hover,
    button.grey:hover {
      color: #999999; }
  .btn.outline,
  button.outline {
    color: #000;
    background: transparent; }
  .btn.cancel-btn,
  button.cancel-btn {
    background: transparent;
    border: none;
    color: #000;
    padding: 0 !important; }
    .btn.cancel-btn.pink-color,
    button.cancel-btn.pink-color {
      color: #E30A7C; }
  .btn.no-margin,
  button.no-margin {
    margin: 0; }

/* Comman Css */
.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.no-padding {
  padding: 0 !important; }

/* End Comman Css */
/* Dots */
.dots {
  background: #E30A7C none repeat scroll 0 0;
  border-radius: 50%;
  bottom: 10px;
  display: inline-block;
  height: 7px !important;
  width: 7px !important;
  position: absolute;
  right: -8px; }
  .dots.big {
    height: 15px !important;
    width: 15px !important; }
  .dots.black {
    background: #000; }
  .dots.yellow {
    background: #BCB826; }
  .dots.grey {
    background: #848484; }

/* End Dots */
.popup-container .popup {
  border-radius: 15px;
  overflow: hidden; }
  .popup-container .popup .popup-head {
    border: none; }

/* Fonts */
@font-face {
  font-family: 'bebas_neuebold';
  src: url("../fonts/bebas/bebasneue_bold.eot");
  src: url("../fonts/bebas/bebasneue_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas/bebasneue_bold.woff2") format("woff2"), url("../fonts/bebas/bebasneue_bold.woff") format("woff"), url("../fonts/bebas/bebasneue_bold.ttf") format("truetype"), url("../fonts/bebas/bebasneue_bold.svg#bebas_neuebold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bebas_neue_regularregular';
  src: url("../fonts/bebas/bebasneue_regular.eot");
  src: url("../fonts/bebas/bebasneue_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas/bebasneue_regular.woff2") format("woff2"), url("../fonts/bebas/bebasneue_regular.woff") format("woff"), url("../fonts/bebas/bebasneue_regular.ttf") format("truetype"), url("../fonts/bebas/bebasneue_regular.svg#bebas_neue_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica/HelveticaNeue.eot");
  src: url("../fonts/helvetica/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeue.woff2") format("woff2"), url("../fonts/helvetica/HelveticaNeue.woff") format("woff"), url("../fonts/helvetica/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica/HelveticaNeue-Bold.eot");
  src: url("../fonts/helvetica/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/helvetica/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/helvetica/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica/HelveticaNeue-Light.eot");
  src: url("../fonts/helvetica/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/helvetica/HelveticaNeue-Light.woff") format("woff"), url("../fonts/helvetica/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.otf") format("opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Icon Fonts */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?qr6o58");
  src: url("../fonts/icons/icomoon.eot?qr6o58#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?qr6o58") format("truetype"), url("../fonts/icons/icomoon.woff?qr6o58") format("woff"), url("../fonts/icons/icomoon.svg?qr6o58#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="md-icon-"], [class*=" md-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.md-icon-estimateIcon:before {
  content: "\e900"; }

.md-icon-activity:before {
  content: "\e901"; }

.md-icon-add:before {
  content: "\e902"; }

.md-icon-documents:before {
  content: "\e903"; }

.md-icon-email:before {
  content: "\e904"; }

.md-icon-invoices:before {
  content: "\e905"; }

.md-icon-user:before {
  content: "\e906"; }

.md-icon-projects:before {
  content: "\e907"; }

.md-icon-tasks:before {
  content: "\e908"; }

/* End Icon Fonts */
/* TypoGraphy */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Proxima Nova";
  color: #3A3A3A;
  margin: 5px 0;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s; }

h1, .h1 {
  font-size: 2.5em;
  /*Maximum size of the design*/ }

h2, .h2 {
  font-size: 2.3em; }

h3, .h3 {
  font-size: 2em; }

h4, .h4 {
  font-size: 1.8em; }

h5, .h5 {
  font-size: 1.5em; }

h6, .h6 {
  font-size: 1.2em; }

p {
  color: #444;
  font-size: 16px;
  line-height: normal;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s; }

/* Login Screen */
.login-screen {
  background-image: url("../img/login-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: inline-block; }
  .login-screen:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: ""; }
  .login-screen .logo {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 25%; }
    .login-screen .logo img {
      max-width: 210px; }
  .login-screen .login-screen-content {
    position: relative;
    z-index: 2; }
  .login-screen .info_center_main {
    width: 80%;
    max-width: 600px;
    margin: 0 auto; }
    .login-screen .info_center_main .assertive {
      color: #E30A7C;
      font-size: 0.9em;
      margin: 5px 0 0 13px; }
    .login-screen .info_center_main .btn-send {
      margin: 10px 0 0; }
  .login-screen .forgot-signup {
    margin: 60px 0 0 0;
    text-align: center;
    font-family: "Proxima Nova"; }
    .login-screen .forgot-signup a {
      font-family: "Proxima Nova";
      font-size: 1em;
      color: #E30A7C;
      text-decoration: none; }
      .login-screen .forgot-signup a:hover, .login-screen .forgot-signup a:focus {
        text-decoration: none; }
    .login-screen .forgot-signup h5 {
      font-family: "Proxima Nova";
      font-size: 1.1em;
      color: #666; }
    .login-screen .forgot-signup .forgot-password {
      margin: 0 0 15px; }
    .login-screen .forgot-signup .sign-up a {
      font-size: 1.2em; }

/* End Login Screen */
/* Header */
.bar {
  height: 50px; }
  .bar a.button {
    padding: 0;
    line-height: 1em !important;
    color: #E30A7C; }
    .bar a.button:before {
      line-height: 1em !important;
      font-size: 35px !important; }
    .bar a.button.md-icon-email {
      margin: 4px 0 0 0;
      position: relative; }
      .bar a.button.md-icon-email:before {
        font-size: 27px !important; }
    .bar a.button.activated {
      opacity: 0.8;
      color: #E30A7C; }
    .bar a.button:focus, .bar a.button:hover {
      color: #E30A7C; }
    .bar a.button.btn-back-span {
      margin-top: -13px;
      line-height: 1.8em !important;
      color: #231F20; }
      .bar a.button.btn-back-span:before {
        line-height: 2.2em !important;
        margin-right: 5px;
        font-size: 25px !important; }
      .bar a.button.btn-back-span span {
        color: #E30A7C; }
  .bar.bar-light {
    border-color: #BCBCBC; }
    .bar.bar-light .title {
      color: #3A3A3A; }
  .bar.item-input-inset {
    align-items: baseline; }
    .bar.item-input-inset .no-padding {
      padding: 0 !important; }
  .bar .badge {
    background: #E30A7C;
    color: #fff;
    border-radius: 50%;
    bottom: -2px;
    font-size: 12px;
    height: 23px;
    padding: 2px 0 5px;
    position: absolute;
    right: -10px;
    top: inherit !important;
    width: 23px;
    text-align: center !important; }
    .bar .badge.black {
      background: #000; }
    .bar .badge.yellow {
      background: #BCB826; }
  .bar .title {
    margin: 5px 0 0 0;
    color: #3A3A3A;
    font-size: 20px; }
  .bar .col {
    padding-top: 0; }

/* End Header */
/* Tabs */
.view-container {
  background-image: url("../img/login-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .view-container:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    z-index: 0;
    content: ""; }

.pane {
  background: transparent;
  z-index: 2; }

.tabs {
  border-top: none; }
  .tabs .tab-item {
    padding-top: 10px;
    max-width: 50px;
    opacity: 1; }
    .tabs .tab-item .size-of-icon,
    .tabs .tab-item .icon {
      font-size: 27px !important;
      color: #000; }
    .tabs .tab-item.estimateIcon-icon .icon {
      font-size: 25px !important; }
    .tabs .tab-item.add-icon {
      float: right;
      margin: -3px 0 0 !important;
      background: transparent !important;
      color: #E30A7C !important;
      border: none;
      font-size: 18px !important; }
    .tabs .tab-item.tab-invoices {
      padding-top: 4px; }
    .tabs .tab-item .md-icon-invoices {
      font-size: 37px !important; }
    .tabs .tab-item.tab-item-active .icon {
      color: #E30A7C; }
  .tabs .add-btn-holder {
    float: right;
    padding-right: 14px; }

.tabs-top {
  display: inline-block;
  text-align: left !important; }
  .tabs-top .tabs {
    display: inline-block;
    text-align: left !important;
    top: 50px; }
    .tabs-top .tabs .tab-item {
      padding: 0px 7% 8px;
      margin: 1px 0 0;
      float: left;
      max-width: inherit; }
      .tabs-top .tabs .tab-item.activated, .tabs-top .tabs .tab-item.active {
        border-width: 0 0 3px !important;
        border-color: #E30A7C; }
      .tabs-top .tabs .tab-item.add-icon {
        font-size: 30px;
        padding: 0 4% 8px 2%;
        line-height: 1.5em !important;
        color: #E30A7C; }
        .tabs-top .tabs .tab-item.add-icon.activated, .tabs-top .tabs .tab-item.add-icon.active {
          border-width: 0 0 3px !important;
          border-color: transparent; }

/* End Tabs */
/* Activity */
.custom-ion-content {
  background: #fff;
  margin-top: 50px; }
  .custom-ion-content a.button {
    padding: 0;
    line-height: 2em !important;
    color: #939393;
    font-size: 30px;
    font-weight: 500;
    min-height: inherit; }
    .custom-ion-content a.button.active {
      color: #E30A7C; }
    .custom-ion-content a.button:after {
      line-height: 1em !important; }
  .custom-ion-content .item {
    border-top: 0;
    margin: 0;
    border-bottom: 1px solid #EAEAEA; }
    .custom-ion-content .item h3 {
      font-size: 19px;
      color: #000;
      margin: 0 0 10px;
      width: 100%;
      float: left;
      line-height: 1; }
    .custom-ion-content .item span {
      font-family: "Proxima Nova";
      font-size: 15px;
      color: #939393;
      margin: 0 0 7px;
      float: left;
      width: 100%;
      line-height: 1;
      overflow: hidden;
      text-overflow: ellipsis; }
      .custom-ion-content .item span:last-child {
        margin: 0; }
    .custom-ion-content .item .md-icon {
      position: relative; }

.social-btns-wrapper {
  text-align: center; }
  .social-btns-wrapper .social-btns {
    width: 250px;
    margin: 0 0 15px 0;
    padding: 7px 0 !important;
    border: 1px solid #E30A7C;
    position: relative;
    background: #fff;
    color: #E30A7C;
    font-size: 16px; }
    .social-btns-wrapper .social-btns:after {
      position: absolute;
      font-family: 'FontAwesome';
      left: -1px;
      top: -1px;
      width: 42px;
      height: 42px;
      background: transparent;
      border: 1px solid #E30A7C;
      border-radius: 50%;
      color: #E30A7C;
      font-size: 19px;
      line-height: 2.3em; }
    .social-btns-wrapper .social-btns:hover, .social-btns-wrapper .social-btns.activated {
      background: #E30A7C;
      border-color: #fff;
      color: #fff; }
      .social-btns-wrapper .social-btns:hover:after, .social-btns-wrapper .social-btns.activated:after {
        border-color: #fff;
        color: #fff; }
    .social-btns-wrapper .social-btns.facebookFlag:after {
      content: "\f09a"; }
    .social-btns-wrapper .social-btns.twitterFlag:after {
      content: "\f1e8"; }
    .social-btns-wrapper .social-btns.linkedInFlag:after {
      content: "\f0e1"; }
    .social-btns-wrapper .social-btns.instagramFlag:after {
      content: "\f16d"; }
    .social-btns-wrapper .social-btns.youtubeFlag:after {
      content: "\f167"; }

/* End Activity */
/* Projects */
.itemList,
.custom-tab-tasks {
  background: #fff;
  padding-top: 97px; }
  .itemList .item,
  .custom-tab-tasks .item {
    border-top: 0;
    margin: 0;
    border-bottom: 1px solid #EAEAEA; }
    .itemList .item h3,
    .custom-tab-tasks .item h3 {
      font-size: 19px;
      color: #000;
      margin: 0 0 10px;
      width: 100%;
      float: left;
      line-height: 1; }
    .itemList .item span,
    .custom-tab-tasks .item span {
      font-family: "Proxima Nova";
      font-size: 15px;
      color: #939393;
      margin: 0 0 7px;
      float: left;
      width: 100%;
      line-height: 1;
      overflow: hidden;
      text-overflow: ellipsis; }
    .itemList .item .md-icon,
    .custom-tab-tasks .item .md-icon {
      position: relative;
      text-align: right; }

/* Projects */
/* Registration */
.registration .bar.bar-header {
  background: transparent;
  border-bottom: none; }

.registration .logo {
  margin-bottom: 3%;
  text-align: center;
  background: transparent; }
  .registration .logo img {
    max-width: 210px; }

.registration .itemList {
  padding-top: 67px; }

.registration .btn-send {
  margin-top: 10px; }

/* End Registration */
/* Project Details */
.project-details {
  background: #fff; }
  .project-details .project-details-content {
    text-align: center;
    padding: 87px 15px 0; }
    .project-details .project-details-content .heading {
      margin: 35px 0 0px; }
      .project-details .project-details-content .heading h3 {
        font-size: 25px;
        color: #000;
        margin: 0; }
    .project-details .project-details-content .nextpayment {
      color: #444;
      font-size: 17px;
      margin-bottom: 10px;
      line-height: 1.3em; }
    .project-details .project-details-content .prijectPrice {
      font-size: 25px;
      color: #000;
      margin-bottom: 15px; }
    .project-details .project-details-content .discription {
      margin-top: 0px;
      margin-bottom: 20px; }
      .project-details .project-details-content .discription p {
        color: #000;
        font-size: 17px;
        line-height: 1.5em; }
    .project-details .project-details-content .projectlinks {
      margin-top: 25px; }
      .project-details .project-details-content .projectlinks p {
        color: #444;
        font-size: 15px; }
      .project-details .project-details-content .projectlinks ul li {
        width: auto;
        display: inline-block;
        margin: 0 5px; }
        .project-details .project-details-content .projectlinks ul li a {
          color: #E30A7C;
          text-decoration: none;
          font-size: 30px; }
          .project-details .project-details-content .projectlinks ul li a.md-icon-email {
            font-size: 23px; }
            .project-details .project-details-content .projectlinks ul li a.md-icon-email span {
              margin-top: -5px; }
          .project-details .project-details-content .projectlinks ul li a span {
            color: #000;
            display: inline-block;
            font-size: 19px;
            line-height: 1.5em;
            margin-left: 5px;
            margin-top: 2px;
            vertical-align: top; }
    .project-details .project-details-content .item-complex {
      padding: 15px;
      text-overflow: inherit;
      white-space: inherit;
      overflow: visible;
      margin: 0 0 15px; }
      .project-details .project-details-content .item-complex h1, .project-details .project-details-content .item-complex h2, .project-details .project-details-content .item-complex h3, .project-details .project-details-content .item-complex h4, .project-details .project-details-content .item-complex h5, .project-details .project-details-content .item-complex h6, .project-details .project-details-content .item-complex p, .project-details .project-details-content .item-complex a {
        text-overflow: inherit;
        white-space: inherit;
        overflow: visible; }
      .project-details .project-details-content .item-complex .item-content {
        padding: 0;
        text-overflow: inherit;
        white-space: inherit;
        overflow: visible; }
        .project-details .project-details-content .item-complex .item-content h1, .project-details .project-details-content .item-complex .item-content h2, .project-details .project-details-content .item-complex .item-content h3, .project-details .project-details-content .item-complex .item-content h4, .project-details .project-details-content .item-complex .item-content h5, .project-details .project-details-content .item-complex .item-content h6, .project-details .project-details-content .item-complex .item-content p, .project-details .project-details-content .item-complex .item-content a {
          text-overflow: inherit;
          white-space: inherit;
          overflow: visible; }
      .project-details .project-details-content .item-complex .description-holder {
        color: #000;
        font-size: 17px;
        line-height: 1.3em;
        height: 70px;
        text-overflow: ellipsis;
        overflow: hidden; }
    .project-details .project-details-content .socialLinks {
      margin-top: 50px; }
      .project-details .project-details-content .socialLinks a {
        display: inline-block;
        margin: 0 8px;
        color: #E30A7C;
        text-decoration: none; }
        .project-details .project-details-content .socialLinks a:hover, .project-details .project-details-content .socialLinks a:focus {
          color: #E30A7C;
          text-decoration: none; }
    .project-details .project-details-content .circle {
      border-width: 5px;
      padding-top: 20px; }

/* End Project Details */
/* Invoice Detail*/
.custom-ion-content-invoices .tight {
  padding-top: 57px; }

.invoice-details .scroll {
  min-height: 100%; }

.invoice-details .project-details-content {
  text-align: center;
  padding: 75px 0 1px;
  background: #fff;
  position: relative; }
  .invoice-details .project-details-content .projectPrice {
    font-size: 25px;
    color: #000;
    margin-bottom: 20px; }
  .invoice-details .project-details-content .paymeny-btn {
    margin: 0 0 18px; }
  .invoice-details .project-details-content h3 {
    font-size: 20px;
    color: #000;
    margin: 0 0 10px; }
  .invoice-details .project-details-content .date {
    font-size: 15px;
    line-height: 1.3em;
    color: #7F7F7F;
    margin: 0 0 18px; }

.invoice-details .list-wrappper {
  padding-bottom: 48px; }

.invoice-details .invoice-list {
  padding-bottom: 48px;
  text-align: left;
  position: relative; }
  .invoice-details .invoice-list .item:last-child {
    border-bottom: none; }

.invoice-details .showTotal {
  background: #fff;
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 15px; }

/* End Invoice Detail*/
/* Pay Now */
.pay-now {
  background: #fff; }
  .pay-now .project-details-content {
    padding: 75px 0 48px;
    position: relative; }
    .pay-now .project-details-content .projectPrice {
      font-size: 25px;
      color: #000;
      margin-bottom: 10px; }
    .pay-now .project-details-content .paymeny-btn {
      margin: 0 0 25px; }
    .pay-now .project-details-content h3 {
      color: #000;
      font-size: 17px;
      margin: 0 0 10px; }

/*  End Pay Now */
/* Tasks */
.custom-tab-task1 .item-content-new .tabs-striped.tabs-top {
  margin-left: -16px; }

.item-content-new.custom-ion-content {
  top: 19px !important; }

.item-content-new .item-content {
  padding: 0; }

.add-task-wrapper {
  background: #fff; }

.task-form {
  padding: 50px 0 48px; }
  .task-form .item-input {
    padding: 10px;
    display: inline-block; }
  .task-form .add-item-btn {
    margin: 0 0 20px; }

.tasks-lists .icon {
  color: #E30A7C;
  font-size: 20px;
  margin: 0 5px; }

.todo-list .project-details-content {
  padding: 55px 15px 0; }

.todo-list .taskCompleteBtn {
  margin-top: 15px; }

/* End Tasks */
/* Add Message */
.addMessage {
  background: #fff; }
  .addMessage .custom-add-msg {
    padding-top: 80px; }

.serachField {
  text-align: left; }
  .serachField ion-item {
    min-height: 37px;
    padding: 10px 0 0 15px;
    border-radius: 30px;
    border-color: #bbb;
    color: #999999; }
    .serachField ion-item.activated {
      background: #fff; }
  .serachField .item-note {
    background: #fff none repeat scroll 0 0;
    color: #aaa;
    float: right;
    font-size: 14px;
    padding: 9px 15px 10px 5px;
    position: absolute;
    right: 0;
    top: 0; }

/* Message List */
.message-list .custom-msg-bg {
  text-align: center; }
  .message-list .custom-msg-bg h3 {
    color: #848484;
    font-size: 15px;
    margin: 0; }

.message-list .subject {
  color: #000;
  float: left;
  font-size: 19px;
  line-height: 1;
  margin: 0 0 10px;
  width: 100%; }

.message-list .discription,
.message-list .message {
  color: #939393;
  float: left;
  font-family: "Proxima Nova";
  font-size: 15px;
  line-height: 1;
  margin: 0 0 7px;
  width: 100%; }

.messageDetails {
  background: #fff;
  text-align: center; }
  .messageDetails h3 {
    color: #000;
    float: left;
    font-size: 25px;
    line-height: 1;
    margin: 0 0 10px;
    width: 100%; }
  .messageDetails .projectdetail {
    color: #939393;
    float: left;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 1;
    margin: 0 0 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; }
  .messageDetails .custom-msg-detail {
    color: #E30A7C; }

.messageReply {
  background: #fff; }

/* Document Detail */
.custom-ion-content-documents .item .md-icon .dots {
  position: relative;
  right: 0;
  bottom: 0; }

.document-detail {
  background: #fff; }
  .document-detail .custom-doc-detail {
    padding-top: 65px;
    padding-bottom: 90px;
    text-align: center; }
    .document-detail .custom-doc-detail h3 {
      color: #000;
      font-size: 23px;
      margin-top: 15px;
      margin-bottom: 5px; }
    .document-detail .custom-doc-detail .main-block div {
      color: #939393;
      font-size: 17px;
      line-height: 1.2em;
      margin-bottom: 15px;
      text-align: left; }

/* Date Picker */
.popup-open .ionic_datepicker_popup .col {
  padding: 8px; }
  .popup-open .ionic_datepicker_popup .col.selected_date {
    background-color: #E30A7C;
    border-color: #E30A7C;
    color: #ffffff; }
  .popup-open .ionic_datepicker_popup .col.today {
    border-color: #E30A7C; }

.popup-open .ionic_datepicker_popup .popup-body {
  border-radius: 15px 15px 0 0; }
  .popup-open .ionic_datepicker_popup .popup-body .selected_date_full {
    border-radius: 15px 15px 0 0;
    background: #222;
    color: #fff;
    font-weight: 400; }
  .popup-open .ionic_datepicker_popup .popup-body .button-clear {
    color: #000; }
  .popup-open .ionic_datepicker_popup .popup-body .year_select,
  .popup-open .ionic_datepicker_popup .popup-body .month_select {
    border-bottom-color: #bbb; }
    .popup-open .ionic_datepicker_popup .popup-body .year_select:after,
    .popup-open .ionic_datepicker_popup .popup-body .month_select:after {
      color: #E30A7C; }
    .popup-open .ionic_datepicker_popup .popup-body .year_select select,
    .popup-open .ionic_datepicker_popup .popup-body .month_select select {
      border-radius: 0; }

.popup-open .ionic_datepicker_popup .popup-buttons .button {
  background-color: #E30A7C;
  margin-right: 1px;
  color: #fff;
  border-radius: 0 !important;
  margin-left: 0;
  font-size: 12px;
  text-align: center !important;
  padding: 0 !important;
  max-width: 100% !important;
  left: 0px;
  min-height: 15px; }
  .popup-open .ionic_datepicker_popup .popup-buttons .button:last-child {
    margin-right: 0; }

.custom-tab-quotes {
  padding-top: 50px !important; }
  .custom-tab-quotes .custom-add-task {
    background: #fff;
    padding: 15px; }
    .custom-tab-quotes .custom-add-task .btn {
      margin-left: 0%;
      width: 130px;
      font-size: 17px; }

.custom-ion-content-quotes .for-table {
  width: 100%;
  margin: 0; }
  .custom-ion-content-quotes .for-table tr th,
  .custom-ion-content-quotes .for-table tr td {
    padding: 10px;
    text-align: left; }
    .custom-ion-content-quotes .for-table tr th.aligh-center,
    .custom-ion-content-quotes .for-table tr td.aligh-center {
      text-align: center; }

.PostList-wrapper .item-select {
  padding-bottom: 30px;
  border: none; }

.PostList-wrapper .friends-count {
  padding: 15px;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.PostList-wrapper .user-insta-info {
  box-shadow: none;
  text-align: center; }
  .PostList-wrapper .user-insta-info .item {
    box-shadow: none; }
  .PostList-wrapper .user-insta-info > img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%; }
  .PostList-wrapper .user-insta-info .card-title {
    font-size: 22px;
    margin: 18px 0; }
  .PostList-wrapper .user-insta-info .card-subtitle {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 0 15px; }
    .PostList-wrapper .user-insta-info .card-subtitle .button-bar {
      width: 100%;
      display: inline-block;
      text-align: center; }
  .PostList-wrapper .user-insta-info .btn {
    line-height: 1.3;
    font-size: 15px;
    margin: 0 3px;
    display: inline-block; }

.PostList-wrapper .PostList .card {
  margin: 20px 15px;
  box-shadow: none;
  border: 1px solid #ddd; }
  .PostList-wrapper .PostList .card .item {
    border-color: #ddd;
    text-align: center; }
    .PostList-wrapper .PostList .card .item h2 {
      margin-top: 10px;
      text-align: left;
      font-size: 19px; }
    .PostList-wrapper .PostList .card .item.item-body p {
      margin: 0 0 10px;
      font-size: 16px;
      line-height: 1.4em; }
    .PostList-wrapper .PostList .card .item.item-body i {
      font-size: 15px;
      margin-right: 5px; }
    .PostList-wrapper .PostList .card .item .likes-count {
      margin-top: 10px;
      text-align: left; }
      .PostList-wrapper .PostList .card .item .likes-count a {
        color: #E30A7C;
        text-decoration: none; }

.PostList-wrapper .PostList.InstagramPost .card .item.heading {
  text-align: left; }
  .PostList-wrapper .PostList.InstagramPost .card .item.heading h2 {
    margin-top: 2px; }
  .PostList-wrapper .PostList.InstagramPost .card .item.heading p {
    font-size: 13px;
    font-weight: 400; }
  .PostList-wrapper .PostList.InstagramPost .card .item.heading .write-comment {
    width: 100%;
    display: inline-block;
    margin: 20px 0 0 0px;
    position: relative; }
    .PostList-wrapper .PostList.InstagramPost .card .item.heading .write-comment .btn {
      position: absolute;
      top: 0;
      right: 1px;
      width: auto;
      padding: 9px 15px !important;
      background: transparent;
      color: #000;
      border-color: #bbb; }

.PostList-wrapper .PostList.InstagramPost .card .item .btns {
  width: 100%;
  display: inline-block;
  margin: 15px 0; }
  .PostList-wrapper .PostList.InstagramPost .card .item .btns .btn {
    margin: 0 3px;
    color: #fff; }

.chart-map-wrapper .chart-length .width-adjst {
  width: 100%; }

/* Quote Page */
.quote-page-wrapper .custom-lable-height {
  margin: 10px auto;
  display: inherit; }

.quote-page-wrapper .for-div-one {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.quote-page-wrapper .for-uper-change .proper-form.change-desighn1 {
  margin-top: 0px; }

.quote-page-wrapper .for-uper-change .span-class.set-width.change-desighn3 {
  margin-top: 0px !important; }

.quote-page-wrapper .for-uper-change .item {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  padding: 19px 15px 17px; }
  .quote-page-wrapper .for-uper-change .item.item-accordion {
    background: transparent !important; }
    .quote-page-wrapper .for-uper-change .item.item-accordion span {
      color: #939393 !important; }

.quote-page-wrapper.blue .for-uper-change .item {
  color: #fff;
  background: #31439E; }
  .quote-page-wrapper.blue .for-uper-change .item span {
    color: #fff; }

.quote-page-wrapper.green .for-uper-change .item {
  color: #fff;
  background: #5CBF4D; }
  .quote-page-wrapper.green .for-uper-change .item span {
    color: #fff; }

.quote-page-wrapper.pink .for-uper-change .item {
  color: #fff;
  background: #E6128F; }
  .quote-page-wrapper.pink .for-uper-change .item span {
    color: #fff; }

.quote-page-wrapper.yellow .for-uper-change .item {
  color: #fff;
  background: #F5C000; }
  .quote-page-wrapper.yellow .for-uper-change .item span {
    color: #fff; }

.quote-page-wrapper #calculations {
  border: 1px solid #ddd;
  max-width: 90%;
  padding: 15px; }

.quote-page-wrapper .submit-holder .btn {
  padding: 8px 26px !important;
  margin-bottom: 35px; }

/* Quote Page */
.custome .spin {
  text-align: center;
  margin: 50% 0 50% 0;
  height: 100%; }

.custome .scroll-content {
  text-align: center; }

.custome .errorToast div {
  background: rgba(255, 0, 0, 0.425);
  color: #fff; }

.custome .successToast div {
  background: rgba(0, 128, 0, 0.568);
  color: #fff; }

.custome .cmtBTN {
  margin: auto !important; }

.youtube .card-title {
  text-align: center !important; }

.youtube .item img {
  text-align: center;
  width: 100% !important; }

.youtube .timag {
  width: 100%; }

.card-background-page .card-title {
  text-align: center !important; }

.card-background-page .item img {
  text-align: center;
  width: 100% !important; }

.card-background-page .timag {
  width: 100%; }

.timag {
  width: 100% !important; }
