/* Empty. Add your own CSS if you like */

body {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
}


/*******common classes*******/

.popup-buttons .button:last-child {
    border: 1px solid !important
}

.margin_0 {
    margin: 0px !important;
}

.margin_5 {
    margin-bottom: 5px !important;
}

.margin_10 {
    margin-bottom: 10px !important;
}

.margin_15 {
    margin-bottom: 15px !important;
}

.margin_20 {
    margin-bottom: 20px !important;
}

.padding_0 {
    padding: 0px !important;
}

.padding_5 {
    padding-bottom: 5px !important;
}

.padding_10 {
    padding-bottom: 10px !important;
}

.padding_15 {
    padding-bottom: 15px !important;
}

.padding_20 {
    padding-bottom: 20px !important;
}

.padd_left {
    padding-left: 0px !important;
}

.padd_right {
    padding-right: 0px !important;
}

.f_left {
    float: left;
    margin: 0px;
    padding: 0px;
    padding: 0px;
    width: 100%;
}
.tabs-striped.tabs-top.tabs-color-dark.avoid-overflow {
    position: static;
    padding-bottom: 25px;
}
.t_a_r {
    text-align: right !important;
}

.t_a_l {
    text-align: left !important;
}

.t_a_c {
    text-align: center!important;
}

.d_in_b {
    display: inline-block !important;
}


/*******common classes*******/

.cmtBTN {
    margin: 0;
    padding: 0 !important;
    height: 0 10px !important;
}


/***** topbar-main *****/

.topbar-main {
    background: #F4F4F4;
    padding-bottom: 10px;
    padding-top: 10px;
}


/***** topbar-main ends here *****/


/***** midbar-main *****/

.menu-btn img {
    float: right;
    margin-top: 35px;
}


/***** midbar-main ends here *****/


/***** main-logo *****/

.main-logo {
    margin-top: 50px;
}
span.icon.ion-checkmark {
    color: green;
}
.making-pos-scroll {
    position: relative;
    z-index: 9;
}
.for-pos-div {
    margin-top: 192px !important;
}
.logo {
    text-align: center;
}
.for-uper-change{
	margin-top: 213px !important;
	}


/***** main-logo ends here *****/


/**** form-header ****/

.form-header {
    text-align: center;
}

.heading h3 {
    color: #6D6D88;
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
}


/**** form-header ends here****/

.form-control {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 30px;
}

.form-control1 {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
}

.slct-month-mrgn {
    margin-bottom: 10px;
}

.for-pay {
    margin-top: 15px;
}

.login_center_main input {
    font-size: 18px;
}

.form-control.for-color {
    background: none !important;
}

.btn-send {
    margin-top: 20px;
    text-align: center;
}

.make-stable{
	    margin-left: 10px;
}
.forReq{    box-shadow: -1px -1px 0px 1px red;}
ion-header-bar.bar-positive.nav-title-slide-ios7.bar.bar-header {
    background-color: white;
	border-color: white;
	border-bottom: 1px solid #ddd;
}
a.item-content {
	background-color: #204A76 !important;
	color: white;
}
.bar-positive .button.button-icon {
    border-color: transparent;
    background: none;
    color: #E30A7C;
}
.bar.bar-positive .title {
    color: black;
}
button {
    padding: 5px 30%;
    border-radius: 30px;
    background: #000;
    color: white;
    font-size: 17px;
    font-weight: 400;
    border: 2px solid #000;
}

.info_center_main input:hover {
    /*border-color:#B20F6C;
	color: #999999;*/
}

.for-table {
    width: 96%;
    table-layout: fixed;
    border: 0;
    margin: 0 2%;
}

.for-table tr th {
    border: 1px solid #000;
}

.for-table tr td {
    padding-top: 10px;
    text-align: center;
}

.for-table.change-table tr td {
    white-space: normal;
}

.for-middle-size {
    width: 50% !important;
    text-align: center;
    margin: 14px auto;
}
.tabs.for-alignment {
    position: static;
    justify-content: space-between;
   flex-grow:0;
   flex-basis:35%;
}
.tabs-striped.tabs-top.tabs-color-dark.for-linements{display:block;}
.for-middle-size-one {
    width: 50% !important;
    text-align: center;
    margin: 0px auto;
}

span.span-class {
    width: 130px !important;
}

span.span-class-one {
    width: 120px !important;
}

span.span-class-two {
    width: 292px !important;
}

span.span-class-three {
    width: 292px !important;
}

.alighn-class {
    width: 134px !important;
    float: right;
}
.project-details-content.for-uperPad {
    padding-top: 20px !important;
}
.make-one-line {
    width: 137px;
}

.for-middle-size-two {
    width: 50% !important;
    text-align: center;
    margin: 14px auto;
}

.for-check li {
    display: inline-block;
    vertical-align: top;
}

.for-thakur {
    width: 100%;
    text-align: center;
}

li.for-line-check-two {
    width: 27%;
    padding-left: 0 !important;
    position: relative;
    right: 6px;
}

.div-style {
    overflow: hidden;
    height: 290px;
    width: 404px;
    margin: 20px auto;
}
.card-title{
    text-align: center;
}
.row .col h6{
    font-size: large;
}
.linkedinGoBtn{
    border-color: #387ef5;
    background: transparent;
    color: #387ef5;
    right: 10px;
    position: absolute;
    top: 40px;
}
.for-div-one {
    padding: 10px 15px;
    overflow: hidden;
}

.one-check {
    float: right;
}

span.span-one {
    padding-top: 9px;
    float: left;
}

.submit-holder {
    width: 100%;
    text-align: center;
}

.submit-block {
    font-size: 15px !important;
    padding: 10px 5px!important;
}

button.for-div1-btn {
    padding: 8px 16px !important;
    width: auto !important;
    float: right;
}

.banner-main {
    width: 100%;
}

.banner-main img {
    width: 100%;
}

.banner-image {
    position: relative;
}
.alighnment-radio {
    float: left;
    padding-left: 10px;
    width: 100px;
}
.for-single-radio1 {
    float: left;
    width: 20px;
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 15px !important;
}
input.proper-form {
    float: right;
    width: 20px;
}
input.proper-form.change-desighn1 {
    float: left;
    width: auto;
    margin-top: 15px;
    margin-right: 10px;
}
.form-control.for-size-change.alighn-class.change-desighn2{
	float:left;
	width:74px !important;
}
.span-class.set-width.change-desighn3{
	margin-top: 15px !important;
    margin-left: 10px !important;
	float:left;
}
.span-class.set-width.change-desighn3.for-uper-text{margin-top:0 !important;}
.alighnment-radio.alighnment-radio-newline {
    float: none;
    margin-bottom: 15px;
	overflow:hidden;
	width:100%;
}
.for-handle {
    float: left;
    width: 21px;
    padding-top: 13px;
}
.span-class.set-width {
    width: 240px !important;
    text-overflow: unset;
    overflow: visible !important;
    word-break: break-all;
    white-space: normal;
}
.banner-text {
    position: absolute;
    bottom: 10%;
    right: 40%;
}

.banner-text span {
    color: #3AA03A;
    font-size: 60px;
}

.chart-length {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.label-sign {
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}

.width-adjst.width-adjust1 {
    width: 33%;
}
.send-btn-fix {
    position: fixed;
    z-index: 999;
    bottom: 0;
    font-weight: bold;
    font-size: 14px !important;
}
.add-btn-holder {
    width: 100px;
    float: left;
    margin-top:8px;
}
.add-btn-new{
    background: #000 !important;
    border: 1px solid #000;
    border-radius: 30px !important;
    color:#fff !important;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 15px !important;
    vertical-align: top;
    min-height: inherit;
    line-height: 1;
    padding: 4px 15px !important;
    font-size: 14px !important;
}
th.change-row1{
    padding:5px !important;
    width:85px !important;
}
span.discription.description-new{
    font-family: "Proxima Nova";
    font-size: 15px;
    color: #939393;
    margin: 0 0 7px;
    float: left;
    width: 100%;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    width: 221px;
    white-space: nowrap;
}
.profile {
    color: #40A03A;
}

.fa-angle-left {
    color: black;
    font-size: 40px;
}

.fa-angle-left:before {
    font-size: 40px;
}

.span-back a {
    color: #3AA03A;
    text-decoration: none;
    font-size: 32px;
}

.pro-head {
    color: black;
    margin-top: 33px;
    text-align: center;
}

.pro-head h3 {
    font-size: 30px;
}

.profile {
    margin-bottom: 40px;
    margin-top: 20px;
}

.company-des input {
    padding-bottom: 280px;
}

.for-align {
    text-align: center;
}
.for-credits {
    padding-top: 10px;
  }
.for-align span {
    color: #3AA03A;
    font-size: 30px;
}

.for-align h4 a {
    color: #bcaa0a;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
}

.for-align1 h4 {
    color: #3AA03A;
    text-align: center;
    margin-top: 7px;
}

.for-align1 h4 a {
    font-size: 11px;
    color: #bcaa0a;
    text-decoration: none;
    font-weight: bold;
}

.for-margin {
    margin-bottom: 35px;
}

.login {
    display: block;
}

.for-center-text {
    margin-top: 50px !important;
}

.for-center-text-two {
    margin-top: 75px !important;
}

.for-round {
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
}

.change-style {
    overflow: hidden;
    float: left;
    width: 100%;
    margin: 3px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.change-for-width11{
	width:60% !important;
	float:none;
	margin:0 auto;
	display:block !important;
	position:relative !important;
	z-index:9999 !important;
}
.for-overlap {
    width: 100%;
    margin-top: 0;
}
.tabs.for-newtab-top.for-newtab-top1 {
    top: 127px !important;
}
.down-frm-top.down-frm-top-one {
    top: 118px;
    bottom: 0;
}
.for-makescroll22 {
    position: relative !important;
    z-index: 999 !important;
}
.font-small {
    font-size: 14px !important;
}

.for-btn-new {
    width: 150px;
    margin: 0 auto;
    padding: 8px 0 !important;
    display: inline-block !important;
    vertical-align: top !important;
    margin-top: 4px;
    background-color: gray;
}

.for-btn-new-two {
    width: 150px;
    margin: 0 auto;
    padding: 8px 0 !important;
    display: inline-block !important;
    vertical-align: top !important;
    margin-top: 4px;
    background-color: black;
}

.size-of-icon {
    font-size: 33px !important;
}

.eye-logo {
    position: absolute;
    margin-top: -34%;
    right: 41%;
    color: #3AA03A;
}
.for-check{
    position: relative;
    top: 5px !important;
}
.eye-logo span {
    font-size: 60px;
}

.for-check li {
    display: inline-block;
    vertical-align: top;
    padding: 0 24px 15px;
}

.eye-logo span {
    color: #3AA03A;
}

.top-image img {
    float: right;
}

.for-padd {
    padding-right: 0px;
}

.main-content h3 {
    color: #000000;
    text-align: center;
    font-size: 24px;
}

.main-content-para p {
    font-size: 30px;
    text-align: center;
    color: #000000;
}

.website {
    text-align: center;
}

.website a {
    color: black;
}

.popup-buttons {
    /*position: static;
    width: 243px;
    margin: 0 0 12px;*/
}

.ionic_datepicker_popup .popup-buttons button {}

.ionic_datepicker_popup .calendar_grid {
    height: 170px;
}

.website-owner {
    text-align: center;
}

.website-owner h3 {
    font-size: 30px;
}

.phone h3 {
    color: black;
    text-align: center;
}

.address-head h3 {
    text-align: center;
    color: black;
}

.address-head p {
    text-align: center;
    font-size: 26px;
    color: black;
}

.website h3 {
    color: black;
}

.width-adjst {
    width: 28%;
    display: inline-block;
    vertical-align: top;
}

.form-heading h3 {
    text-align: center;
    color: #3AA03A;
}

.event-time {
    position: absolute;
    margin-top: -35%;
    right: 38%;
    color: #777786;
}

.btn.medium-btn.new-btn-size {
    padding: 8px 10px !important;
    font-size: 10px;
}

.card-one {
    margin-bottom: 55px;
}

span.for-span {
    margin-left: 7px;
    display: inline-block;
    vertical-align: middle;
}

.for-sec {
    margin-bottom: 15px;
}

.for-sec-one {
    display: inline-block;
    vertical-align: middle;
}

.for-style {
    border: 1px solid #d3d3d3 !important;
}

.for-style tr th {
    padding: 10px;
    border: 0 !important;
    font-size: 17px;
    font-weight: 600;
}

.for-pos {
    margin: 0 0 25px;
}

.for-left-align {
    text-align: left;
}

.for-size-one {
    width: 100% !important;
}


/**** pageprofile4 ****/

.sent {
    border-bottom: 2px solid #BCBCBC;
    padding-bottom: 25px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.main-content-1 {
    background: #848484;
    /*padding-bottom: 8px;*/
}

.main-content-1 h3 {
    color: white;
    font-weight: 300;
    margin-bottom: 6px !important;
    font-size: 22px;
}

@media(max-width:414px) {
    .main-content-1 h3 {
        margin-left: 120px;
    }
}

.main-content-desc span {
    float: right;
}

.content-background a {
    color: black;
}

.content-background-color a {
    color: black;
}

.content-background span {
    float: right;
}

.content-background-color span {
    float: right;
}

.content-background h3 {
    color: #7A7777;
}

.content-background-color h3 {
    color: #7A7777;
}

.content-bg h3 {
    color: #7A7777;
}

.content-background-color {
    background: #F4F4F4;
}

#myDropdown {
    margin-left: -145px;
    margin-top: -17px;
    background: #E8E8E8 !important;
}

.dropbtn {
    color: white;
    /*padding: 16px;*/
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: none !important;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 35px;
    right: 0px;
    float: right;
    z-index: 999;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    border-radius: 12px;
}

.bgColor {
    background-color: blue;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid white;
}

.dropdown a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}
ion-content.zac.scroll-content.ionic-scroll {
    z-index: 9999;
}
.main-heading {
    font-size: 17px;
    font-weight: 100;
    color: #3A3A3A;
    text-align: center;
}

.green_color {
    color: #bcaa0a;
}
.for-view{
	width: 60% !important;
    height: 60% !important;
	}
.heading {
    font-size: 13px;
    font-weight: bold
}

@media(max-width:414px) {
    .main-heading {
        /*padding-right: 70px !important;*/
    }
}

.item-complex h3 {
    color: #888888;
}


/*.item-complex h3 a{color:black !important; font-weight:700 !important; font-size: 15px;}
.item { border-color: white !important; } */


/*.item-content span{float:right !important;}	*/

.item-complex .item-content,
.item-radio .item-content {
    padding: 16px 20px 16px 16px;
}

.for-font-weight input[type="text"],
input[type="email"],
input[type="password"],
.txt_textarea {
    /*font-weight: 400; font-size: 18px;*/
    background: #eee;
}

.for-font-weight2 input[type="text"],
input[type="email"],
input[type="password"],
.txt_textarea {
    /*font-weight: 400; font-size: 18px;*/
	
	background:#eee;
}

.for-input-font input[type="text"],
input[type="email"],
input[type="password"],
.txt_textarea {
	
}

.banner {
    margin-top: -181px;
}

.banner p {
    color: #777777;
}

@media(max-width:414px) {
    .banner p {
        margin-top: -134px;
        margin-right: -32px;
    }
    .banner {
        margin-top: -181px;
    }
    .banner1 {
        margin-top: -383px;
    }
}

@media(max-width:414px) {
    .banner1 {
        margin-top: -383px;
    }
}

@media(max-width:414px) {
    .banner2 {
        margin-top: -39px;
    }
}

center {
    position: relative;
}

.login-input-font input[type="text"],
input[type="email"],
input[type="password"],
.txt_textarea {
    font-weight: 400;
}


/* sent-page-bg */

.for-bg {
    background: #F4F4F4;
}


/*.even{background: #F5F5F5;}
.email{color:black;}
.event{color:#777777;}
.name{color:#777777;}
.date{color:#777777;}*/

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.platform-android .action-sheet {
    margin: 0;
}

.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
    text-align: left;
    border-color: transparent;
    font-size: 16px;
    color: inherit;
}

.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}

.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}

.platform-android .action-sheet-group {
    margin: 0;
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet-cancel {
    display: none;
}

.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}

.even img {
    float: right;
    margin-right: 18px;
}

.odd img {
    float: right;
    margin-right: 18px;
}

.projectname {
    padding-top: 60px;
}

.projectpayment {
    color: #808080;
    font-size: 20px;
    font-weight: 400;
}

.projectdetail {
    margin: 15px 0 15px;
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.projectlinks {
    margin: 15px 0 15px;
}

.projectlinks a {
    color: #3aa03a;
    font-weight: normal;
    font-size: 20px;
}

.mignifier-icon {
    width: 16px;
    height: 16px
}

.email {
    /* font-weight: bolder; color: black; font-size: 18px !important; */
}

.price {
    /* float:right;  margin-top: -22px !important; font-size: 18px !important;*/
}

.price span {
    /* font-weight: bolder; color: black; */
}

.for-bg {
    background: #F4F4F4;
}

.for-family {
    /*font-family: myriad pro !important;*/
}

.add-color {
    color: #3AA03A !important;
}

.date-color {
    color: #7F7F7F !important;
}

.item-toggle .toggle {
    right: 67px !important;
}

.toggle-calm span {
    text-align: center;
}

.fontfem {
    /*font-family:myriad pro !important;*/
}

.datepicker-content {
    padding-left: 20px !important;
}

.list-padd {
    padding: 15px;
}

.odd h3 {
    /*font-family:myriad pro !important;*/
}

.even h3 {
    /*font-family:myriad pro !important;*/
}

.back-color {
    background: #eee !important;
}

.for-btn-log {
    margin-top: 0 !important;
}

.change-for-width {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.change-for-width1 {
    padding-top: -10px;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.for-uper {
    padding-top: 40px;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.col-one {
    display: inline-block;
    vertical-align: top;
}

.for-div-style {
    width: 100%;
    text-align: center;
    padding-top: 65px;
}

.change-for-width2 {
    padding-top: -10px;
    width: 60%;
    display: center;
    vertical-align: top;
}

.description-two {
    padding-top: 0;
}

.description-one {
    padding-top: 31px;
}

.change-for-width select {
    padding: 5px 20px 5px 10px;
}
.tight {
    padding-top: 102px;
}
.checks-lign {
    padding-top: 68px;
}
.for-zIndex{
	position:relative;
	z-index:99;
}
.down-frm-top11{
	position:relative !important;
	top:114px !important;
}
.btn-forInline {
	display: block;
	margin-bottom:10px;
	margin-left:auto !important;
	margin-right:auto;
}
.custom-tab-task1 {
    padding-top: 57px !important;
}
.item-content-new{overflow:visible !important;}
.item-content-new .item-content{
	overflow:visible !important;
	white-space:normal !important;
}
.custom-tab-task11{top:80px !important;}
.tabs-top .tabs {
    top: 56px !important;
}

.tabs-top .tab1 {
    top: 56px !important;
}

.for-btn-msg {
    margin-top: 0 !important;
}

.down-frm-top {
    position: relative;
    top: 35px;
}

.for-center {
    display: block;
    margin: 0 auto;
}

.for-btn-money {
    color: #C12323;
}

.tabs.for-newtab-top {
    top: 71px !important;
}

.custom-tab-task-top {
    top: -10px;
}

.for-btn-tasks {
    color: #C12323;
    font-weight: 600;
}

.for-btn-email {
    color: #444444;
}

.for-btn-email {
    color: #BCB826;
}

.for-btn-meeting {
    color: yellow;
}

.for-line {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 10px;
}
img.center-fix {
    width: 60%;
    text-align: center;
    margin: 0 0 0 96px;
}
.for-line2 {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 0;
}

.custom-ion-content {
    margin-top: 40px;
}

.mrgn-btm {
    margin-bottom: 10px;
}

.custom-data-found {
    text-align: center;
    margin-top: 5%;
    /*font-family: myriad pro !important;*/
}

.custom-task-detail p {
    color: #777777;
}

.empty-border-bottom {
    border-bottom: 0 !important;
}

.btn-back {
    color: #3aa03a;
    font-size: 15px;
}

.btn-back-span {
    margin-top: -12%;
    font-size: 29px !important;
}

.btn-plus {
    font-size: 40px;
}

.button-dark {
    font-size: 10px;
    /*font-family: myriad pro !important;*/
}

.custom-ion-tab {
    /*text-align: right!important;*/
    background: transparent;
}

.custom-btn-signup {
    color: #5394E0;
}

.full-image {
    width: 70%;
}

.signup-center {
    margin-bottom: 5%;
}

.login-center {
    margin-bottom: 5%;
    margin-top: 10%;
}

.fieldset {
    display: inline-block;
    margin: 0 0 3.6%;
    width: 100%;
}

.profile-main-head {
    margin: 10px 0 0 0;
}

.profile-img {
    width: 100px;
    height: 100px;
}

.profile-logo {
    width: 100px;
    height: 100px;
}

.custom-pay-invoice {
    padding-top: 60px;
}

.custom-add-task {
    padding-top: 60px;
}

.custom-add-task-one {
    margin: 0 auto;
    text-align: center;
}

.for-date-label {
    display: inline-block;
    vertical-align: top;
    padding-top: 9px;
    padding-left: 8px;
    padding-right: 15px;
}

.center-one-wrap {
    width: 100% !important;
    text-align: center !important;
}

input.for-date-label {
    display: inline-block !important;
    vertical-align: top !important;
}

.custom-add-msg {
    padding-top: 60px;
}

.custom-msg-h3 {
    color: White;
    font-size: 20px;
    font-weight: 300;
}

.custom-msg-detail {
    color: #3AA03A;
}

.custom-doc-detail {
    text-align: left;
    padding-top: 40px;
}

.custom-chat-detail {
    width: 64px;
    height: 64px;
}

.popup .popup-buttons button.button.ng-binding.button-positive {
    height: auto !important;
    white-space: nowrap;
    text-orientation: inherit;
    line-height: 10px;
    height: 44px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 15px !important;
    word-break: break-word;
    word-wrap: break-word;
}

.popup .popup-buttons button.button.ng-binding.button-default {
    height: auto !important;
    white-space: nowrap;
    text-orientation: inherit;
    line-height: 10px;
    height: 44px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 15px !important;
    word-break: break-word;
    word-wrap: break-word;
    background: #CCC;
    color: #fff;
}

.tab-border-remove {
    border-bottom: 0 !important;
}

.circle {
    position: relative;
    z-index: 2;
    background-color: #fff;
    border: 10px solid #EDEDED;
    color: #000000;
    line-height: 50px;
    overflow: hidden;
}


/*.email.for-text-show{line-height:3.5em !important;}
.date.for-text-show2{line-height:3.5em !important;}
.discription.for-text-show1{line-height:4em !important;}*/

.circle,
.circle:before,
.circle:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.down-frm-top1 {
    position: relative;
    top: 47px;
}

.white-spce-normal {
    white-space: normal;
}

.visible {
    overflow: visible;
}

.circle {
    margin: 7px;
    display: inline-block;
    padding: 16px 5px;
    text-align: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 10px solid #EDEDED;
    color: black;
}

.circle:before,
.circle:after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}

.messageDetails .custom-msg-detail {
    color: #E30A7C;
    margin-top: 50px;
    display: block;
}

.circle h4 {
    font-size: 12px;
}

.circle-black {
    border: 10px solid #000 !important;
}

.row.row-circle-center {
    justify-content: center;
}