/* Empty. Add your own CSS if you like */
body{margin: 0px;padding: 0px;}

img{max-width: 100%;}

/*******common classes*******/
.popup-buttons .button:last-child{border: 1px solid !important}
.margin_0{ margin: 0px !important;}
.margin_5{ margin-bottom: 5px !important;}
.margin_10{ margin-bottom: 10px !important;}
.margin_15{ margin-bottom: 15px !important;}
.margin_20{ margin-bottom: 20px !important;}

.padding_0{ padding: 0px !important;}
.padding_5{ padding-bottom: 5px !important;}
.padding_10{ padding-bottom: 10px !important;}
.padding_15{ padding-bottom: 15px !important;}
.padding_20{ padding-bottom: 20px !important;}

.padd_left{padding-left: 0px !important;}
.padd_right{padding-right: 0px !important;}

.f_left{float: left; margin:0px; padding: 0px; padding: 0px; width: 100%;}
.t_a_r{text-align: right !important;}
.t_a_l{text-align: left !important;}
.t_a_c{text-align: center!important;}
.d_in_b{display: inline-block !important;}

/*******common classes*******/

/***** topbar-main *****/
.topbar-main{background:#F4F4F4; padding-bottom:10px; padding-top:10px;}
/***** topbar-main ends here *****/


/***** midbar-main *****/
.menu-btn img{ float:right; margin-top: 35px; }
/***** midbar-main ends here *****/


/***** main-logo *****/

.main-logo{margin-top: 50px;}
.logo {text-align:center;}

/***** main-logo ends here *****/


/**** form-header ****/
.form-header{text-align:center;}
.heading h3{color:#6D6D88; margin-top: 40px; margin-bottom: 25px; text-align: center;}
/**** form-header ends here****/


.form-control { padding-top: 25px; padding-bottom: 25px; border-radius: 30px; }
.login_center_main input { 
	font-size: 18px;
}

.btn-send {margin-top:20px; text-align: center;}
button {
	padding: 5px 30%;	
	border-radius: 30px;    
	background: #000;
	color: white;
	font-size: 17px;
	font-weight: 400;
	border: 2px solid #000;	
}	


.info_center_main input:hover{
	/*border-color:#B20F6C;
	color: #999999;*/
}

.banner-main {width:100%;}
.banner-main img { width:100%;}
.banner-image{position:relative;}
.banner-text {position:absolute; bottom:10%; right:40%;}
.banner-text span{color: #3AA03A; font-size: 60px;}


.profile {color:#40A03A;}
.fa-angle-left{color: black; font-size:40px;}

.fa-angle-left:before {font-size: 40px;}

.span-back a{color: #3AA03A; text-decoration: none; font-size: 32px;}

.pro-head{color: black; margin-top: 33px; text-align: center;}
.pro-head h3{font-size: 30px;}

.profile{margin-bottom: 40px; margin-top: 20px;}

.company-des input{padding-bottom: 280px;}

.for-align {text-align:center;}
.for-align span{color: #3AA03A; font-size: 30px;}
.for-align h4 a{color: #bcaa0a; font-size: 11px; text-decoration:none; font-weight: bold;}

.for-align1 h4  {color: #3AA03A;  text-align:center; margin-top: 7px; }
.for-align1 h4 a{font-size: 11px; color: #bcaa0a; text-decoration:none; font-weight: bold;}

.for-margin {margin-bottom: 35px;}


.login {display: block;}

.eye-logo{
	position: absolute;
	margin-top: -34%;
	right: 41%;
	color: #3AA03A;
}

.eye-logo span{font-size: 60px;}

.eye-logo span{color: #3AA03A;}

.top-image img{float:right;}
.for-padd{ padding-right:0px;}

.main-content h3{color:#000000; text-align: center; font-size: 24px;}

.main-content-para p{font-size: 30px; text-align: center; color: #000000;}

.website {text-align:center;}
.website a{color:black; }
.popup-buttons {
    /*position: static;
    width: 243px;
    margin: 0 0 12px;*/
}
.ionic_datepicker_popup .popup-buttons button {
    
}
.ionic_datepicker_popup .calendar_grid{height: 170px;}

.website-owner{text-align: center; }
.website-owner h3{font-size:30px; }

.phone h3{color: black; text-align: center;}

.address-head h3{text-align: center; color: black;}
.address-head p{ text-align: center; font-size: 26px; color: black;}

.website h3{color: black;}

.form-heading h3{text-align: center; color: #3AA03A;}

.event-time{ position: absolute;
	margin-top: -35%;
	right: 38%;
	color: #777786;
}

/**** pageprofile4 ****/


.sent{border-bottom: 2px solid #BCBCBC;
	padding-bottom: 25px; 
	margin-bottom: 40px;
	margin-top: 20px;}

.main-content-1{background: #848484; /*padding-bottom: 8px;*/}
.main-content-1 h3{color: white; font-weight: 300; margin-bottom: 6px !important; font-size: 22px;}

@media(max-width:414px){
	.main-content-1 h3{
		margin-left: 120px;
	}	
}


.main-content-desc span{float: right;}	

.content-background a{color: black;}
.content-background-color a{color: black;}
.content-background span{float:right;}
.content-background-color span{float:right;}
.content-background h3{color:#7A7777;}
.content-background-color h3{color:#7A7777;}

.content-bg h3{color: #7A7777;}

.content-background-color{background:#F4F4F4;}
#myDropdown{
	margin-left: -145px;
	margin-top: -17px; background: #E8E8E8 !important;
}

.dropbtn {

	color: white;
	/*padding: 16px;*/
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: none !important;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-top: 35px;
	right:0px;
	float: right;
	z-index: 999;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
	border-radius: 12px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 2px solid white;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
.main-heading{font-size: 17px;font-weight: 100;color:#3A3A3A; text-align: center; }
.green_color{color: #bcaa0a;}
.heading{font-size: 13px; font-weight: bold}

@media(max-width:414px){
	.main-heading {
		/*padding-right: 70px !important;*/
	}
}

.item-complex h3{color:#888888;}
/*.item-complex h3 a{color:black !important; font-weight:700 !important; font-size: 15px;}
.item { border-color: white !important; } */
/*.item-content span{float:right !important;}	*/
.item-complex .item-content, .item-radio .item-content {
	padding: 16px 20px 16px 16px;
}
.for-font-weight input[type="text"], input[type="email"], input[type="password"], .txt_textarea {
	/*font-weight: 400; font-size: 18px;*/
}
.for-input-font input[type="text"], input[type="email"], input[type="password"], .txt_textarea{
	/*font-weight: 400; height: 40px;*/
}
.banner{margin-top: -181px;}
.banner p{color:#777777;}
@media(max-width:414px){
	.banner p{
		margin-top: -134px;
		margin-right: -32px;
	}
	.banner{margin-top: -181px;}
	.banner1{margin-top: -383px;}
}	

@media(max-width:414px){
	.banner1{margin-top: -383px;}
}		

@media(max-width:414px){
	.banner2{margin-top: -39px;}
}
center{position: relative;}	

.login-input-font input[type="text"], input[type="email"], input[type="password"], .txt_textarea {font-weight: 400;}

/* sent-page-bg */
.for-bg{background:#F4F4F4;}
/*.even{background: #F5F5F5;}
.email{color:black;}
.event{color:#777777;}
.name{color:#777777;}
.date{color:#777777;}*/
.platform-android .action-sheet-backdrop.active {background-color: rgba(0, 0, 0, 0.2); }
.platform-android .action-sheet {margin: 0; }
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
	text-align: left;
	border-color: transparent;
	font-size: 16px;
	color: inherit; 
}
.platform-android .action-sheet .action-sheet-title {
	font-size: 14px;
	padding: 16px;
	color: #666; 
}
.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
	background: #e8e8e8; 
}
.platform-android .action-sheet-group {
	margin: 0;
	border-radius: 0;
	background-color: #fafafa; 
}
.platform-android .action-sheet-cancel {display: none; }
.platform-android .action-sheet-has-icons .button {padding-left: 56px; }
.even img{float:right; margin-right: 18px;}
.odd img{float:right; margin-right: 18px;}

.projectname{padding-top: 60px;}
.projectpayment{color:#808080; font-size: 20px;  font-weight: 400;}
.projectdetail{margin: 15px 0 15px; font-weight: 600; font-size: 16px; color:black;}
.projectlinks{margin: 15px 0 15px;}
.projectlinks a{color:#3aa03a; font-weight: normal; font-size: 20px;}


.mignifier-icon{width: 16px;height: 16px}

.email{ /* font-weight: bolder; color: black; font-size: 18px !important; */}
.price{ /* float:right;  margin-top: -22px !important; font-size: 18px !important;*/}
.price span{ /* font-weight: bolder; color: black; */}

.for-bg{background: #F4F4F4;}

.for-family {/*font-family: myriad pro !important;*/}

.add-color{color:#3AA03A !important;}

.date-color{color:#7F7F7F !important;}

.item-toggle .toggle {
	right: 67px !important;
}

.toggle-calm span{text-align:center;}

.fontfem{/*font-family:myriad pro !important;*/}

.datepicker-content{padding-left:20px !important;}


.list-padd{padding:15px;}

.odd h3{/*font-family:myriad pro !important;*/}
.even h3{/*font-family:myriad pro !important;*/}

.for-btn-log{
	margin-top: 0 !important;
}

.for-btn-msg{
	margin-top: 0 !important;
}

.for-btn-money{
	color: #C12323;
}

.for-btn-tasks{
	color: #C12323; 
	font-weight: 600;
}

.for-btn-email{
	color: #444444; 
}


.for-btn-email{
	color: #BCB826; 
}

.for-btn-meeting{
	color:yellow;
}

.custom-ion-content{
	margin-top:40px;
}

.custom-data-found{
	text-align:center; 
	margin-top:5%;
	/*font-family: myriad pro !important;*/
}

.custom-task-detail p{
	color: #777777;
}

.btn-back{
	color:#3aa03a;
	font-size:15px;
	
}

.btn-back-span{
	margin-top: -12%;
	font-size: 29px !important;
}

.btn-plus{
	font-size: 40px;
}


.button-dark{
	font-size:10px;
	/*font-family: myriad pro !important;*/
}

.custom-ion-tab{
	/*text-align: right!important;*/
	background: transparent;
}					

.custom-btn-signup{
	color:#5394E0;
}

.full-image{
	width:70%;
}

.signup-center{
	margin-bottom:5%;
}

.login-center{
	margin-bottom:5%; 
	margin-top:10%;
}

.fieldset {
	display: inline-block;
	margin: 0 0 3.6%;
	width: 100%;
}

.profile-main-head{
	margin:10px 0 0 0;
}

.profile-img{
	width: 100px;
	height: 100px;
}

.profile-logo{
	width: 100px;
	height: 100px;
}

.custom-pay-invoice{
	padding-top: 60px;
}

.custom-add-task{
	padding-top: 60px;
}

.custom-add-msg{
	padding-top: 60px;
}

.custom-msg-h3{
	color:White;  
	font-size: 20px; 
	font-weight: 300;
}

.custom-msg-detail{
	color: #3AA03A;
}

.custom-doc-detail{
	text-align: left;
	padding-top: 40px;
} 

.custom-chat-detail{
	width: 64px;
	height: 64px;
}
.popup .popup-buttons button.button.ng-binding.button-positive {
    height: auto !important;
    white-space: nowrap;
    text-orientation: inherit;
    line-height: 10px;
    height: 44px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 15px !important;
    word-break: break-word;
    word-wrap: break-word;
}
.popup .popup-buttons button.button.ng-binding.button-default{
	height: auto !important;
    white-space: nowrap;
    text-orientation: inherit;
    line-height: 10px;
    height: 44px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 15px !important;
    word-break: break-word;
    word-wrap: break-word;
	background:#CCC;
	color:#fff;
}